{% extends "filmdemocracy_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'socialclub/css/socialclub_base.css' %}">
{% endblock %}

{% block pagecontent %}


<!--START: ADMIN UTILS-->
{% if user in club_admins %}
<div class="container-fluid admin-utils dark2-bg">

  <div class="row justify-content-center">
    <div class="col-md-auto">
      <form action="{% url 'socialclub:edit_club_info' club.id %}" class="text-center my-2">
        <button type="submit" class="btn btn-sm btn-outline-primary">
          {% trans 'Edit club info' %}
        </button>
      </form>
    </div>
    <div class="col-md-auto">
      <form action="{% url 'socialclub:edit_club_panel' club.id %}" class="text-center my-2">
        <button type="submit" class="btn btn-sm btn-outline-primary">
          {% trans 'Edit club panel' %}
        </button>
      </form>
    </div>
    <div class="col-md-auto">
      <form action="{% url 'socialclub:promote_members_to_admin' club.id %}" class="text-center my-2">
        <button type="submit" class="btn btn-sm btn-outline-success">
          {% trans 'Promote members to admin' %}
        </button>
      </form>
    </div>
    <div class="col-md-auto">
      <form action="{% url 'socialclub:kick_members' club.id %}" class="text-center my-2">
        <button type="submit" class="btn btn-sm btn-outline-danger">
          {% trans 'Kick members' %}
        </button>
      </form>
    </div>
    <div class="col-md-auto text-center my-2">
      <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"
              data-target="#SelfdemoteModalCenter">
        {% trans 'Self-demote' %}
      </button>
    </div>

  </div>
</div>
{% endif %}
<!--END: ADMIN UTILS-->


<!--START: CLUB BANNER-->
<div class="container-fluid container-club-banner text-center shadow">

  <!--NAME-->
  <div class="lead text-center name"><strong>{{ club.name }}</strong></div>

  <!--SHORT DESCRIPTION-->
  <div class="lead short-description">{{ club.short_description }}</div>

  <!--LOGO-->
  <div class="mx-auto">
    <a href="{% url 'socialclub:club_detail' club.id %}">
      {% if club.logo %}
      <img class="logo club-logo-shadow rounded"
           src="{{ club.logo.url }}" alt="club.logo not found">
      {% else %}
      <img class="logo club-logo-shadow rounded"
           src="{% static 'socialclub/club_no_logo.png' %}" alt="club.logo not found">
      {% endif %}
    </a>
  </div>

</div>
<!--END: CLUB BANNER-->

<!-- START: MODAL SELFDEMOTE -->
{% if user in club_admins %}
<div class="modal fade" id="SelfdemoteModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="SelfdemoteModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SelfdemoteModalCenterTitle">{% trans 'Self-demote' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{% trans "Are you sure you don't want to be an admin anymore?" %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {% trans 'Cancel' %}
        </button>
        <form method="post" action="{% url 'socialclub:selfdemote' club.id %}" class="text-center">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger mr-3">
            {% trans 'Confirm' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- END: MODAL SELFDEMOTE -->


<!--START: NO LOGO MSG-->
{% if user in club_admins %}
{% if not club.logo %}
<div class="alert alert-warning text-center">
  <strong>{% trans "Your club doesn't have a logo yet!" %}</strong>
  <a class="ml-3" href="{% url 'socialclub:edit_club_info' club.id %}">{% trans 'Complete club info' %}</a>
</div>
{% endif %}
{% endif %}
<!--END: NO LOGO MSG-->


{% if error_msg %}
<div class="alert alert-danger text-center mt-n3">
  <strong>{{ error_msg }}</strong>
</div>
{% endif %}


<!-- START MODAL CLUB LOGO -->
<!--{% if club.logo %}-->
<!--<div class="modal fade" id="ClubLogoModalCenter" tabindex="-1" role="dialog">-->
<!--<div class="modal-dialog modal-lg modal-dialog-centered" role="document">-->
<!--<div class="modal-content">-->
<!--<div class="modal-body pb-5 pt-2 text-center mx-0 bg-dark">-->
<!--<div class="text-right mb-3">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--<br>-->
<!--</div>-->
<!--<div>-->
<!--<img class="club-logo-modal" src="{{ club.logo.url }}" alt="poster image not found">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--{% endif %}-->
<!-- END MODAL CLUB LOGO -->


{% block content %}
{% endblock %}

{% endblock %}
