{% extends "filmdemocracy_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'socialclub/css/socialclub_base.css' %}">
{% endblock %}

{% block pagecontent %}


<!--START: ADMIN UTILS-->
{% if user in club_admins %}
<div class="container-fluid admin-utils text-center dark2-bg">
  <a class="seagreen-link" data-toggle="collapse" href="#collapseAdmin" role="button" aria-expanded="false"
     aria-controls="collapseAdmin">
    {% trans 'Club admin utilities' %}
  </a>

  <div id="collapseAdmin" class="collapse">
    <div class="card-body mt-n2 dark2-bg">

      <div class="row justify-content-center">

        <div class="col-md-auto">
          <form action="{% url 'socialclub:edit_club_info' club.id %}" class="text-center my-2">
            <button type="submit" class="btn btn-sm btn-block btn-outline-primary">
              {% trans 'Edit club info' %}
            </button>
          </form>
        </div>
        <div class="col-md-auto">
          <form action="{% url 'socialclub:edit_club_panel' club.id %}" class="text-center my-2">
            <button type="submit" class="btn btn-sm btn-block btn-outline-primary">
              {% trans 'Edit club panel' %}
            </button>
          </form>
        </div>
        <div class="col-md-auto">
          <form action="{% url 'socialclub:promote_members_to_admin' club.id %}" class="text-center my-2">
            <button type="submit" class="btn btn-sm btn-block btn-outline-success">
              {% trans 'Promote members' %}
            </button>
          </form>
        </div>
        <div class="col-md-auto">
          <form action="{% url 'socialclub:kick_members' club.id %}" class="text-center my-2">
            <button type="submit" class="btn btn-sm btn-block btn-outline-danger">
              {% trans 'Kick members' %}
            </button>
          </form>
        </div>
        <div class="col-md-auto text-center my-2">
          <button type="button" class="btn btn-sm btn-block btn-outline-danger" data-toggle="modal"
                  data-target="#SelfdemoteModalCenter">
            {% trans 'Self-demote' %}
          </button>
        </div>


      </div>
    </div>
  </div>
</div>
{% endif %}
<!--END: ADMIN UTILS-->


<!--START: CLUB BANNER-->
<div class="container-fluid container-club-banner text-center shadow">

  <!--NAME-->
  <div class="lead text-center name"><strong>{{ club.name }}</strong></div>

  <!--SHORT DESCRIPTION-->
  <div class="lead text-muted short-description">{{ club.short_description }}</div>

  <!--LOGO-->
  <div class="mx-auto">
    <a href="{% url 'socialclub:club_detail' club.id %}">
      {% if club.logo %}
      <img class="logo club-logo-shadow rounded"
           src="{{ club.logo.url }}" alt="club.logo not found">
      {% else %}
      <img class="logo club-logo-shadow rounded"
           src="{% static 'socialclub/club_no_logo.png' %}" alt="club.logo not found">
      {% endif %}
    </a>
  </div>


  <!--START: LINK TO FILM PANEL-->
<div>
  <form action="{% url 'democracy:candidate_films' club.id %}" class="text-center">
    <button type="submit" class="btn btn-block btn-candidate-films">
      {% trans 'Candidate films' %}
    </button>
  </form>
</div>
<!--END: LINK TO FILM PANEL-->


</div>
<!--END: CLUB BANNER-->

<!-- START: MODAL SELFDEMOTE -->
{% if user in club_admins %}
<div class="modal fade" id="SelfdemoteModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="SelfdemoteModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SelfdemoteModalCenterTitle">{% trans 'Self-demote' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans "Are you sure you don't want to be an admin anymore?" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">
          {% trans 'Cancel' %}
        </button>
        <form method="post" action="{% url 'socialclub:selfdemote' club.id %}" class="text-center">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger mr-3">
            {% trans 'Confirm' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- END: MODAL SELFDEMOTE -->


<!--START: NO LOGO MSG-->
{% if user in club_admins %}
{% if not club.logo %}
<div class="alert alert-warning text-center alert-dismissible fade show mt-4 club-message" role="alert">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <strong>{% trans "Your club doesn't have a logo yet!" %}</strong>
    </div>
    <div class="col-md-auto">
      <a class="ml-3" href="{% url 'socialclub:edit_club_info' club.id %}">{% trans 'Complete club info' %}</a>
    </div>
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endif %}
<!--END: NO LOGO MSG-->


{% if warning_message %}
<div class="alert alert-danger text-center mt-4 alert-dismissible fade show" role="alert">
  <strong>{{ warning_message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}


<!-- START MODAL CLUB LOGO -->
<!--{% if club.logo %}-->
<!--<div class="modal fade" id="ClubLogoModalCenter" tabindex="-1" role="dialog">-->
<!--<div class="modal-dialog modal-lg modal-dialog-centered" role="document">-->
<!--<div class="modal-content">-->
<!--<div class="modal-body pb-5 pt-2 text-center mx-0 bg-dark">-->
<!--<div class="text-right mb-3">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--<br>-->
<!--</div>-->
<!--<div>-->
<!--<img class="club-logo-modal" src="{{ club.logo.url }}" alt="poster image not found">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--{% endif %}-->
<!-- END MODAL CLUB LOGO -->


{% block content %}
{% endblock %}

{% endblock %}
