{% extends "socialclub/club_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Club member info' %}{% endblock %}

{% block content %}


<!-- START MODAL IMAGE -->
<div class="modal fade" id="PosterModalCenter" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5 pt-2 text-center mx-0 bg-dark">
        <div class="text-right mb-3">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <br>
        </div>
        <div>
          <img src="{{ member.profile_image.url }}" alt="user.profile_image not found">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL IMAGE -->

{% endblock %}
