{% extends "filmdemocracy_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'socialclub/css/club_edit_base.css' %}">
{% endblock %}

{% block title %}{% trans 'Edit club panel' %}{% endblock %}

{% block pagecontent %}


{{ form.media }}


<!--START: ERRORS-->
{% for hidden_field in form.hidden_fields %}
{% if hidden_field.errors %}
<ul>
  {% for error in hidden_field.errors %}
  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{{ hidden_field }}
{% endfor %}

{% if form.errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger text-center">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<!--END: ERRORS-->


<!--START: EDIT CLUB DESCRIPTION FORM-->
<div>
  <h3 class="text-center h3 font-weight-normal">{% trans 'Edit club panel' %}</h3>

  <div class="text-center text-muted mt-n4 mb-4">
    {% trans 'This field supports markdown syntax. New to Markdown?' %}
    <a href=https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="blank">
      {% trans 'Check this!' %}
    </a>
  </div>

  <form method="POST" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}
    {% if form.is_bound %}
    {% if form.club_panel.errors %}
    {% render_field form.club_panel class="form-control form-club-panel is-invalid" %}
    {% else %}
    {% render_field form.club_panel class="form-control form-club-panel is-valid" %}
    {% endif %}
    {% else %}
    {% render_field form.club_panel class="form-control form-club-panel" %}
    {% endif %}
    {% for error in form.club_panel.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
    {% endfor %}


    <small class="text-center form-text text-muted mb-n3">
      {% trans 'Panel preview' %}
    </small>
    <hr>

    <div class="text-center mt-3">
      <input class="text-center btn btn-primary mt-2" type="submit" value="{% trans 'Save changes' %}">
      <input type="hidden" name="next" value="{{ next }}">
    </div>

  </form>
</div>
<!--START: EDIT CLUB DESCRIPTION FORM-->


<form action="{% url 'socialclub:club_detail' club.id %}" class="text-center mt-3">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>


{% endblock %}
