{% load static %}
{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'democracy/favicon.ico'%}"/>

  <title>
    {% block title %}{% endblock %} | FilmDemocracy
  </title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- General FilmDemocracy website style -->
  <link rel="stylesheet" type="text/css" href="{% static 'democracy/css/filmdemocracy.css' %}">

  <!-- Custom styles for child templates -->
  {% block styles %}
  {% endblock %}

  <!-- Additional head content for child templates -->
  {% block head %}
  {% endblock %}

</head>
<body>


<!--START: NAVBAR-->
<nav class="navbar navbar-expand-md navbar-dark navbar-color fixed-top navbar-shadow">
  <div class="container navbar-container">

    <a class="navbar-brand" href="{% url 'home' %}">
      <img height="24" src="{% static 'democracy/svg/webname_greengray.svg'%}">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav ml-auto">

        {% if user.is_authenticated %}

        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle clubs-dropdown" href="#" id="navbarDropdownMenuLinkClub" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {% trans 'Clubs' %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkClub">

            {% for userclub in user.club_set.all %}
              <a class="dropdown-item py-2 my-0 {% if club == userclub %} active {% endif %}" href="{% url 'democracy:club_detail' userclub.id %}">
                {{ userclub.name }}
              </a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item py-0 my-0 new-club" href="{% url 'democracy:create_club' %}">
              <small>{% trans 'Create new club' %}</small>
              </a>

          </div>
        </li>

        <li class="nav-item mr-3">
          <a class="nav-link user-info" href="{% url 'registration:account_info' %}">
            {% if user.profile_image %}
            <img class="mt-n1 mx-1 rounded-circle" style="max-height: 27px;" src="{{ user.profile_image.url }}"
                 alt="user.profile_image not found">
            {% else %}
            <img class="mt-n1 mx-1" style="max-height: 18px;" src="{% static 'democracy/svg/person.svg'%}">
            {% endif %}
            {{ user.username }}
          </a>
        </li>

        <li class="nav-item icon">
          <a class="nav-link" href="https://github.com/astromedia/filmdemocracy/" target="blank">
            <img class="mt-n1" style="min-height: 18px;" src="{% static 'democracy/svg/mark-github.svg'%}">
          </a>
        </li>

        <li class="nav-item icon">
          <a class="nav-link" href="https://www.facebook.com/FilmDemocracy/" target="blank">
            <img class="mt-n1" style="max-height: 18px;" src="{% static 'democracy/svg/facebook_bnw.svg'%}">
          </a>
        </li>

        <li class="nav-item icon dropdown mr-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkLanguage" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <img class="mt-n1" style="min-height: 16px;" src="{% static 'democracy/svg/globe_negative.svg'%}">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkLanguage">

            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for language in languages %}
              <form class="dropdown-item {% if language.code == LANGUAGE_CODE %} active {% endif %}" action="{% url 'set_language' %}" method="POST">
                {% csrf_token %}
                <label class="pointer-cursor py-1 my-0" for="language_{{ forloop.counter }}">
                  {{ language.name_local|title }} ({{ language.code }})
                </label>

                <input type="submit" class="invisible" name="language"
                       id="language_{{ forloop.counter }}" value="{{ language.code }}">
                <input name="next" type="hidden" value="{{ redirect_to }}">
              </form>
            {% endfor %}

          </div>
        </li>

        <form action="{% url 'registration:user_logout' %}" class="form-inline">
          <button type="submit" class="btn btn-sm btn-logout">{% trans 'Log out' %}</button>
        </form>

        {% else %}

        <form action="{% url 'registration:user_login' %}" class="form-inline">
          <button type="submit" class="btn btn-sm btn-login">{% trans 'Log in' %}</button>
        </form>

        {% endif %}

      </ul>

    </div>

  </div>
</nav>
<!--END: NAVBAR-->


<main role="main" class="container container-base">

  {% block pagecontent %}
  {% endblock %}

</main>


<!--START: FOOTER-->
<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">
      <strong>{% trans 'Website under testing' %}</strong><br>
    </span>
    <span class="text-muted">Copyright © 2019 FilmDemocracy</span>
  </div>
</footer>
<!--END: FOOTER-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% block javascript %}
{% endblock %}

</body>
</html>