{% load static %}
{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'democracy/favicon.ico'%}"/>

  <title>
    {% block title %}{% endblock %} | FilmDemocracy
  </title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- General FilmDemocracy website style -->
  <link rel="stylesheet" type="text/css" href="{% static 'democracy/css/base_filmdemocracy.css' %}">

  <!-- Custom styles for child templates -->
  {% block styles %}
  {% endblock %}

  <!-- Additional head content for child templates -->
  {% block head %}
  {% endblock %}

</head>
<body>

<!--START: NAVBAR-->
<nav class="navbar navbar-expand navbar-dark navbar-color fixed-top navbar-shadow p-0">

  <div class="container navbar-container">

    <a class="navbar-brand ml-md-5 ml-3 align-self-center" href="{% url 'home' %}">
      <img class="d-md-none .d-lg-block" src="{% static 'democracy/svg/webname_greengray_short.svg'%}">
      <img class="d-none d-md-block" src="{% static 'democracy/svg/webname_greengray.svg'%}">
    </a>

    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"-->
    <!--            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--      <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->

    <!--    <div class="collapse navbar-collapse" id="navbarCollapse">-->

    {% if user.is_authenticated %}

    <ul class="navbar-nav ml-auto">


      <!--START: CHATS-->
      <li class="nav-item dropdown mx-md-3 mx-1 align-self-center">

        <a class="nav-link nav-icon dropdown-toggle pointer-cursor" id="navbarDropdownMenuLinkChat"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="" src="{% static 'democracy/svg/chat_bubble.svg'%}">
        </a>

        {% if user.club_set.all or user.chat_user.all %}

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkChat">

          <!--START: CLUBS CHATS-->
          {% for userclub in user.club_set.all %}
          <a class="dropdown-item py-0 px-3" href="{% url 'democracy:chatclub' userclub.id %}">
            <div class="media">

              {% if userclub.logo %}
              <img class="align-self-center border border-secondary rounded-circle mr-2"
                   src="{{ userclub.logo.url }}" alt="club.logo not found">
              {% else %}
              <img class="align-self-center border border-secondary rounded-circle mr-2"
                   src="{% static 'democracy/club_no_logo.png' %}"
                   alt="userclub.logo not found">
              {% endif %}

              <div class="media-body align-self-center p-0 m-0">
                <span style="font-weight: bold;">{{ userclub.name }}</span><br>
                {% with last_post=userclub.chatclubinfo_set.all.0.last_post %}
                <span class="second-line club-chat-poster">{{ last_post.user_sender.username }}:</span>
                <span class="second-line text-muted">{{ last_post.text }}</span>
                {% endwith %}
              </div>

            </div>
          </a>
          {% endfor %}
          <!--END: CLUBS CHATS-->

          <div class="dropdown-divider"></div>

          <!--START: USERS CHATS-->
          {% for chat_opened in user.chat_user.all %}
          <a class="dropdown-item py-0 px-3" href="{% url 'democracy:chatusers' chat_opened.user_known.id %}">
            <div class="media chat_item">

              {% if chat_opened.user_known.profile_image %}
              <img class="align-self-center border border-secondary rounded-circle mr-2"
                   src="{{ chat_opened.user_known.profile_image.url }}" alt="chat_opened.user_known.profile_image not found">
              {% else %}
              <img class="align-self-center border border-secondary rounded-circle mr-2"
                   src="{% static 'registration/svg/user_no_profile_image.svg' %}"
                   alt="chat_opened.user_known.profile_image not found">
              {% endif %}

              <div class="media-body align-self-center p-0 m-0">
                <span style="font-weight: bold;">{{ chat_opened.user_known.username }}</span><br>
                <span class="second-line text-muted">
                  {{ chat_opened.last_post.text }}
                </span>
              </div>

            </div>
          </a>
          {% endfor %}
          <!--END: USERS CHATS-->

          <div class="dropdown-divider"></div>

          <!--START: CONTACTS-->
          <a class="dropdown-item extra-item py-0 px-3 m-0 text-center" href="{% url 'democracy:contacts' %}">
            <strong class="align-self-center">
              {% trans 'Contacts' %}
            </strong>
          </a>
          <!--END: CONTACTS-->

        </div>

          {% endif %}

      </li>
      <!--END: CHATS-->


      <!--START: CLUBS-->
      <li class="nav-item dropdown mx-md-3 mx-1 align-self-center">

        <a class="nav-link nav-icon nav-icon-rounded dropdown-toggle pointer-cursor" id="navbarDropdownMenuLinkClub"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="" src="{% static 'democracy/svg/people.svg'%}">
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkClub">

          {% if user.club_set.all %}

            {% for userclub in user.club_set.all %}

            <a class="dropdown-item py-0 px-3 {% if club == userclub and page != 'chat'%} active {% endif %}"
               href="{% url 'democracy:club_detail' userclub.id %}">
              <div class="media">

                {% if userclub.logo %}
                <img class="align-self-center border border-secondary rounded-circle mr-2"
                     src="{{ userclub.logo.url }}" alt="club.logo not found">
                {% else %}
                <img class="align-self-center border border-secondary rounded-circle mr-2"
                     src="{% static 'democracy/club_no_logo.png' %}"
                     alt="userclub.logo not found">
                {% endif %}

                <div class="media-body align-self-center p-0 m-0">
                  <span style="font-weight: bold;">{{ userclub.name }}</span>
                </div>

              </div>
            </a>


            {% endfor %}

          <div class="dropdown-divider"></div>

          {% endif %}

          <a class="dropdown-item py-0 px-3 m-0 extra-item text-center" href="{% url 'democracy:create_club' %}">
            <strong>{% trans 'Create new club' %}</strong>
          </a>

        </div>

      </li>
      <!--END: CLUBS-->


      <!--START: USER, ONLY SHOWN IN LARGE DISPLAYS-->
      <li class="d-none d-md-block nav-item mx-1 align-self-center">

        <a class="nav-link user-icon nav-icon-rounded" href="{% url 'registration:account_info' %}">
          {% if user.profile_image %}
          <img class="mr-1 rounded-circle" src="{{ user.profile_image.url }}"
               alt="user.profile_image not found">
          {% else %}
          <img class="mr-1 rounded-circle" src="{% static 'democracy/svg/person.svg'%}">
          {% endif %}
          <span>{{ user.username }}</span>
        </a>

      </li>
      <!--END: USER, ONLY SHOWN IN LARGE DISPLAYS-->


      <!--START: USER, ONLY SHOWN IN SMALL DISPLAYS-->
      <li class="d-md-none .d-lg-block nav-item mx-1 align-self-center">

        <a class="nav-link user-icon nav-icon-rounded" href="{% url 'registration:account_info' %}">
          {% if user.profile_image %}
          <img class="mr-1 rounded-circle" src="{{ user.profile_image.url }}" alt="user.profile_image not found">
          {% else %}
          <img class="" src="{% static 'democracy/svg/person.svg'%}">
          {% endif %}
        </a>

      </li>
      <!--END: USER, ONLY SHOWN IN SMALL DISPLAYS-->


      <!--START: NOTIFICATIONS-->
      <li class="nav-item mr-3 mx-1 mr-md-5 align-self-center">

        <a class="nav-link nav-icon" href="#">
          <img class="" src="{% static 'democracy/svg/bell_white.svg'%}" alt="bell image not found">
        </a>

      </li>
      <!--END: NOTIFICATIONS-->

    </ul>

    {% else %}

    <form action="{% url 'registration:user_login' %}" class="form-inline mx-md-4 mx-3">
      <button type="submit" class="btn btn-sm btn-login">{% trans 'Log in' %}</button>
    </form>

    {% endif %}

    <!--    </div>-->

  </div>

</nav>
<!--END: NAVBAR-->


<main role="main" class="container container-base">

  {% block pagecontent %}
  {% endblock %}

</main>


<!--START: FOOTER-->
<footer class="footer global-footer">
  <div class="container text-center">

    <div class="row justify-content-center mb-1 mt-n1">

      <div class="col-auto">
        <a class="icon" href="https://github.com/astromedia/filmdemocracy/" target="blank">
          <img style="min-height: 18px;" src="{% static 'democracy/svg/mark-github.svg'%}">
        </a>
      </div>

      <div class="col-auto">
        <a class="icon" href="https://www.facebook.com/FilmDemocracy/" target="blank">
          <img style="max-height: 18px;" src="{% static 'democracy/svg/facebook_bnw.svg'%}">
        </a>
      </div>

      <div class="col-auto dropup">

        <a class="icon dropdown-toggle lang-dropdown mr-n2" id="navbarDropdownMenuLinkLanguage" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="" style="min-height: 16px;" src="{% static 'democracy/svg/globe_negative.svg'%}">
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLinkLanguage">

          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}

          {% for language in languages %}
          <form class="dropdown-item {% if language.code == LANGUAGE_CODE %} active {% endif %}"
                action="{% url 'set_language' %}" method="POST">
            {% csrf_token %}
            <label class="pointer-cursor py-1 my-0" for="language_{{ forloop.counter }}">
              {{ language.name_local|title }} ({{ language.code }})
            </label>

            <input type="submit" class="invisible" name="language"
                   id="language_{{ forloop.counter }}" value="{{ language.code }}">
            <input name="next" type="hidden" value="{{ redirect_to }}">
          </form>
          {% endfor %}

        </div>
      </div>

    </div>

    <span class="text-muted">
      <strong>{% trans 'Website under testing' %}</strong><br>
    </span>
    <span class="text-muted">Copyright © 2019 FilmDemocracy</span>
  </div>
</footer>
<!--END: FOOTER-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{% block javascript %}
{% endblock %}

</body>
</html>