{% load static %}
{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

  <!-- General FilmDemocracy website style -->
  <link rel="stylesheet" type="text/css" href="{% static 'democracy/css/filmdemocracy.css' %}">

  <!-- Custom styles for child templates -->
  {% block styles %}
  {% endblock %}

</head>
<body>


<!--START: NAVBAR-->
<nav class="navbar navbar-expand-md navbar-dark navbar-color fixed-top navbar-shadow">
  <div class="container navbar-container">

    <a class="navbar-brand" href="{% url 'home' %}">
      <img height="24" src="{% static 'democracy/svg/webname_greengray.svg'%}">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <span class="navbar-text">{% trans 'Beta version 1.0' %}</span>

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link mr-2" href="https://github.com/astromedia/filmdemocracy/" target="blank">
            <img style="min-height: 22px;" src="{% static 'democracy/svg/mark-github.svg'%}">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link mr-2" href="https://www.facebook.com/FilmDemocracy/" target="blank">
            <img style="max-height: 22px;" src="{% static 'democracy/svg/facebook_bnw.svg'%}">
          </a>
        </li>

        <li class="nav-item dropdown mr-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <img style="min-height: 19px;" src="{% static 'democracy/svg/globe_negative.svg'%}">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for language in languages %}
            <form class="dropdown-item" action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <label for="language_{{ forloop.counter }}">
                {{ language.name_local|title }} ({{ language.code }})
              </label>

              <input type="submit" class="invisible my-n5 mx-n5" name="language"
                     id="language_{{ forloop.counter }}" value="{{ language.code }}">
              <input name="next" type="hidden" value="{{ redirect_to }}">
            </form>
            {% endfor %}

          </div>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item active mr-4">
          <a class="nav-link" href="{% url 'registration:account_info' %}">
            <span class="text-muted">{% trans 'User:' %}</span>
            {{ user.username }}
          </a>
        </li>

        <form action="{% url 'registration:user_logout' %}" class="form-inline">
          <button type="submit" class="btn btn-sm btn-logout btn-outline-secondary">{% trans 'Log out' %}</button>
        </form>

        {% else %}

        <form action="{% url 'registration:user_login' %}" class="form-inline">
          <button type="submit" class="btn btn-sm btn-login btn-outline-success">{% trans 'Log in' %}</button>
        </form>

        {% endif %}

      </ul>

    </div>

  </div>
</nav>
<!--END: NAVBAR-->


<main role="main" class="container container-base">

  {% block pagecontent %}
  {% endblock %}

</main>


<!--START: NAVBAR-->
<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">
      <strong>{% trans 'Website under testing' %}</strong><br>
      {% trans 'Please send your comments and report bugs to' %}
    </span>
    <span class="text-white">jimeno.romero@gmail.com</span><br>
    <span class="text-muted">Copyright © 2019 FilmDemocracy</span>
  </div>
</footer>
<!--END: NAVBAR-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>
</html>