{% extends "filmdemocracy_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/home.css' %}">
{% endblock %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block pagecontent %}


<!--START: WEBPAGE INTRO-->
<div class="container-fluid text-center mb-5">
  <div>
    <img class="webpage-logo" src="{% static 'democracy/svg/urna_glow.svg'%}">
  </div>
  <div>
  <img class="webpage-title" src="{% static 'democracy/svg/webname_greengray.svg'%}">
  </div>
  <p class="lead text-muted webpage-subtitle">{% trans 'Power to the people!' %}</p>
</div>
<!--END: WEBPAGE INTRO-->


{% if user.is_authenticated %}


<!--START: CLUB PANEL-->
<h4 class="lead text-muted text-center yourclubs-title">{% trans 'Your clubs' %}</h4>

<hr class="mx-auto">

<div class="row mt-5 px-5 justify-content-center">

  {% for club in user_clubs %}

  <!--TODO: clubs with no logo should have a title on hover-->
  <div class="col-auto mx-auto align-self-center mb-4">
    <div class="hovereffect-logo-club rounded">
      <a href="{% url 'democracy:club_detail' club.id %}">
        {% if club.logo %}
        <img class="club-logo"
        src="{{ club.logo.url }}" alt="club.logo not found">
        {% else %}
        <img class="club-logo"
             src="{% static 'democracy/club_no_logo.png' %}" alt="club.logo not found">
        {% endif %}
      </a>
    </div>
  </div>

  {% endfor %}

</div>

<hr class="mx-auto">
<!--END: CLUB PANEL-->


<!--START: CREATE NEW GROUP-->
<div class="text-center mt-5">
  <form action="{% url 'democracy:create_club' %}">
    <button type="submit" class="btn btn-success">{% trans 'Create new club' %}</button>
  </form>
</div>
<!--END: CREATE NEW GROUP-->


{% else %}


<!--START: LOGIN / SIGNIN-->
<div class="text-center">

  <p class="lead misc-text light1-style">{% trans 'To start, log in.' %}</p>

  <form action="{% url 'registration:user_login' %}">
    <button type="submit" class="btn btn-block btn-success mb-5">{% trans 'Log in' %}</button>
  </form>

  <p class="lead misc-text light1-style">{% trans 'New here? Create an account!' %}</p>

  <form action="{% url 'registration:user_signup' %}">
    <button type="submit" class="btn btn-block btn-primary">{% trans 'Create account' %}</button>
  </form>

</div>
<!--END: LOGIN / SIGNIN-->


{% endif %}


{% endblock %}