{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/home.css' %}">
{% endblock %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block pagecontent %}


<!--START: WEBSITE INTRO-->
<div class="container-fluid text-center">
  <div>
    <img class="webpage-logo" src="{% static 'democracy/svg/urna_glow.svg'%}">
  </div>
  <div>
    <img class="webpage-title" src="{% static 'democracy/svg/webname_greengray.svg'%}">
  </div>
  <p class="lead text-muted webpage-subtitle">{% trans 'Power to the people!' %}</p>
</div>
<!--END: WEBSITE INTRO-->


{% if user.is_authenticated %}


<!--START: CLUB PANEL-->
<h4 class="lead text-muted home-section-title">{% trans 'Your clubs' %}</h4>

<hr>

<!--USER CLUBS-->
<div class="row mx-5 justify-content-center">

  {% for club in user_clubs %}

  <div class="col-sm-auto m-3 align-self-center">

    <div class="club-logo">
      <a href="{% url 'democracy:club_detail' club.id %}">
        {% if club.logo %}
        <img src="{{ club.logo.url }}" alt="club.logo not found">
        {% else %}
        <img src="{% static 'democracy/club_no_logo.png' %}" alt="club.logo not found">
        <div class="overlay py-auto">
          <h5 class="py-auto">{{ club.name }}</h5>
        </div>
        {% endif %}
      </a>
    </div>
  </div>

  {% endfor %}

</div>

<!--NEW CLUB-->
<div class="row justify-content-center">

  <div class="col-sm-auto m-3 align-self-center">
    <div class="new-club-logo">
      <a href="{% url 'democracy:create_club' %}">
        <img src="{% static 'democracy/new_club.png' %}" alt="club.logo not found" class="card-img">
      </a>
    </div>
  </div>

</div>

<!--END: CLUB PANEL-->


{% else %}


<!--START: LOGIN / SIGNIN-->
<div class="text-center my-5">

  <p class="lead misc-text light1-style">{% trans 'To start, log in.' %}</p>

  <form action="{% url 'registration:user_login' %}">
    <button type="submit" class="btn btn-block btn-success mb-5">{% trans 'Log in' %}</button>
  </form>

  <p class="lead misc-text light1-style">{% trans 'New here? Create an account!' %}</p>

  <form action="{% url 'registration:user_signup' %}">
    <button type="submit" class="btn btn-block btn-primary">{% trans 'Create account' %}</button>
  </form>

</div>
<!--END: LOGIN / SIGNIN-->


{% endif %}

<!--START: WEBPAGE LOG-->
<h4 class="lead text-muted home-section-title">{% trans 'FilmDemocracy log' %}</h4>

<hr>

<div class="home-log">
  <div class="row">

    <div class="col-sm-2">
      <strong>2019.01.24:</strong>
    </div>
    <div class="col-sm-10">
      <p>
        {% blocktrans %}
        Welcome to FilmDemocracy! This site is under testing,
        so expect all your data to be deleted at some point before the official launch.
        Sorry for the inconvinience...
        {% endblocktrans %}
      </p>
    </div>

  </div>
</div>
<!--END: WEBPAGE LOG-->


{% endblock %}