.container-club-banner {
  margin-top: -24px;
  background-color: #000000;
}

.container-club-banner .short-description {
  font-size: 19px;
}

.container-club-banner .name {
  font-size: 25px;
    color: lightgray;

}

.club-logo-shadow {
  box-shadow: 0px 0px 30px #fff;
}

.black {
  color: black;
}

.bg-black {
  background-color: black;
}

.club-logo-modal {
max-width: 100%;
}