
/* Account form styles
-------------------------------------------------- */
.form-account-info {
  text-align: left;
}

.form-account-info .form-inputs .form-input-field {
  width: 95%;
  max-width: 95%;
  margin: auto;
}

.form-email {
  max-width: 250px;
}

.form-account-info .form-inputs .profile-picture {
  text-align: center;
  margin-bottom: 20px;
}

.form-account-info .form-inputs .profile-picture img {
  width: 10rem;
  border: 2px solid rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.7);
}

.form-account-info .form-inputs .profile-picture .change-picture-icon {
  text-align: center;
  position: relative;
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  margin: 0px;
  margin-bottom: -50px;
  padding: 0px;
}

.form-account-info .form-inputs .profile-picture .change-picture-icon img {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 5px;
}

.custom-switch {
  padding-top: 1px;
}

.form-account-info .btn-modal-util {
  text-align: center;
  padding: 1px;
  margin: 0px;
  border: 2px solid #282828;
  border-radius: 100px;
  width: 2.2rem;
  height: 2.2rem;
}

.form-account-info .btn-modal-util img {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

.form-account-info .btn-modal {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  font-weight: bold !important;
}
