certifi==2019.3.9
chardet==3.0.4
Django==2.2
django-markdownx==2.0.28
django-widget-tweaks==1.4.3
idna==2.8
Markdown==3.1
Pillow==6.0.0
psycopg2-binary==2.8.2
pytz==2019.1
requests==2.21.0
sqlparse==0.3.0
style==1.1.6
update==0.0.1
urllib3==1.24.2
