{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/add_new_film.css' %}">
{% endblock %}

{% block title %}{% trans 'Propose new film' %}{% endblock %}

{% block content %}


<div class="page-title">
  <span>{% trans 'Propose new film' %}</span>
</div>


<!--START: ADD NEW FILM FORM-->
<form class="form-add-new-film" method="POST">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="form-group mt-4 mb-5 mx-auto">

    <input class="form-control" type="text" placeholder="IMDb film url or key" id="imdb_input" name="imdb_input"
           aria-describedby="IMDbWeb">
    <a href="https://www.imdb.com/" target="blank" id="IMDbWeb" class="form-text text-left ml-2">
      <small>{% trans 'Go to imdb.com' %}</small>
    </a>

  </div>

  <input class="btn btn-lg btn-block btn-green-to-blue" type="submit" value="{% trans 'Submit' %}">

</form>
<!--END: ADD NEW FILM FORM-->


<form class="btn-cancel" action="{{ request.META.HTTP_REFERER }}">
  <button type="submit" class="btn btn-sm">{% trans 'Cancel' %}</button>
</form>


{% endblock %}
