{% extends "global/base_filmdemocracy.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block pagecontent %}


<div id="club-banner-navigation" class="club-banner-navigation
            {% if page != 'candidate_films' and page != 'club_detail' and page != 'film_detail' %}
            club-banner-navigation-shadow
            {% endif %}">


  <!--START: CLUB NAME-->
  <a href="{% url 'democracy:club_detail' club.id %}">{{ club.name }}</a>
  <!--END: CLUB NAME-->


  <!--START: CLUB LINKS-->
  <div class="club-banner-links row justify-content-between align-items-center mx-auto">

    <div class="col col-6">

      <form class="banner-link"
            action="{% if page == 'candidate_films' %}
                    {% url 'democracy:club_detail' club.id %}
                    {% elif page == 'film_detail' %}
                    {% url 'democracy:candidate_films' club.id view_option order_option display_option %}
                    {% else %}
                    {% url 'democracy:candidate_films' club.id 'all' 'title' 'posters' %}
                    {% endif %}">

        <button type="submit" class="btn btn-block">
          {% if page == 'candidate_films' %}
          {% trans 'Club' %}
          {% else %}
          {% trans 'Films' %}
          {% endif %}
        </button>

      </form>

    </div>


    <div class="col col-6">

      <form class="banner-link"
            action="{% if page == 'film_ranking' or page == 'ranking_results'%}
                    {% url 'democracy:club_detail' club.id %}
                    {% else %}
                    {% url 'democracy:ranking_participants' club.id %}
                    {% endif %}">

        <button type="submit" class="btn btn-block">
          {% if page == 'film_ranking' or page == 'ranking_results' %}
          {% trans 'Club' %}
          {% else %}
          {% trans 'Ranking' %}
          {% endif %}
        </button>

      </form>

    </div>

  </div>
  <!--END: CLUB LINKS-->


</div>


{% block content %}
{% endblock %}


<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
    document.getElementById("club-banner-navigation").style.boxShadow = "0 0px 15px rgba(0, 0, 0, 0.75)";
    document.getElementById("club-banner-navigation").style.backgroundColor = "#07080a";
    document.getElementById("NavBar").style.boxShadow = "none";
  } else {
    document.getElementById("club-banner-navigation").style.boxShadow = "none";
    document.getElementById("club-banner-navigation").style.backgroundColor = "#121317";
    document.getElementById("NavBar").style.boxShadow = "0 2px 6px rgba(0, 0, 0, 0.85)";
  };

  if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight - 200) {
    document.getElementById("btn-back-to-top").style.display = "block";
  } else {
    document.getElementById("btn-back-to-top").style.display = "none";
  };

}

function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>

{% endblock %}



