{% extends "core/base_filmdemocracy.html" %}
{% load static %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block pagecontent %}


<div id="club-banner-navigation" class="club-banner-navigation
            {% if page != 'candidate_films' and page != 'club_detail' and page != 'film_detail' and page != 'seen_films' %}
            club-banner-navigation-shadow
            {% endif %}">


  <!--START: CLUB NAME-->
  <span>{{ club.name }}</span>
  <!--END: CLUB NAME-->


  <!--START: CLUB LINKS-->
  <div class="club-banner-links row justify-content-between align-items-center mx-auto">

    <div class="col col-4">

      <form class="banner-link" id="formSubmitBanner1" action="{% url 'democracy:club_detail' club.id %}">

        <button type="submit" id="btnSpinnerBanner1" class="btn btn-block">{% trans 'Club' %}</button>

      </form>

    </div>


    <div class="col col-4">

      <form class="banner-link" id="formSubmitBanner2"
            action="{% url 'democracy:candidate_films' club_id=club.id %}">

        <button type="submit" id="btnSpinnerBanner2" class="btn btn-block">{% trans 'Films' %}</button>

      </form>

    </div>


    <div class="col col-4">

      <form class="banner-link" id="formSubmitBanner3" action="{% url 'democracy:ranking_generator' club.id %}">

        <button type="submit" id="btnSpinnerBanner3" class="btn btn-block">{% trans 'Ranking' %}</button>

      </form>

    </div>

  </div>
  <!--END: CLUB LINKS-->


</div>


{% block content %}
{% endblock %}


<!--START: SCROLL FUNCTION-->
<script src="{% static 'democracy/js/scroll-function.js' %}"></script>
<!--END: SCROLL FUNCTION-->


{% endblock %}



