{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block pagecontent %}


<!--START: CLUB BANNER-->
<div class="container-fluid navigation-banner text-center">

  <div class="row justify-content-center align-items-center mx-auto">

    <div class="col-md-auto my-2 mr-auto">

      {% if page == 'candidate_films' %}
      <form class="navigation-option" action="{% url 'democracy:candidate_films' club.id view_option order_option display_option %}">
        <button type="submit" class="btn active">{% trans 'Candidate films' %}</button>
      </form>
      {% elif page == 'film_detail' %}
      <form class="navigation-option" action="{% url 'democracy:candidate_films' club.id view_option order_option display_option %}">
        <button type="submit" class="btn">{% trans 'Candidate films' %}</button>
      </form>
      {% else %}
      <form class="navigation-option" action="{% url 'democracy:candidate_films' club.id 'all' 'title' 'posters' %}">
        <button type="submit" class="btn">{% trans 'Candidate films' %}</button>
      </form>
      {% endif %}


    </div>

    <div class="col-md-auto my-2">
      <div class="navigation-option">

        {% if page == 'club_detail' %}
        <a style='font-size: 19px; color: #d1d1d1;' href="{% url 'democracy:club_detail' club.id %}">{{ club.name }}</a>
        {% else %}
        <a class="text-muted" style='font-size: 19px' href="{% url 'democracy:club_detail' club.id %}">
          {{ club.name }}</a>
        {% endif %}

      </div>
    </div>

    <div class="col-md-auto my-2 ml-auto">

      <form class="navigation-option" action="{% url 'democracy:participants' club.id %}">
        {% if page == 'film_ranking' %}
        <button type="submit" class="btn active">{% trans 'Film ranking' %}</button>
        {% else %}
        <button type="submit" class="btn">{% trans 'Film ranking' %}</button>
        {% endif %}
      </form>

    </div>

  </div>

  <!--  <hr>-->

</div>
<!--END: CLUB BANNER-->


{% block content %}
{% endblock %}


{% endblock %}
