{% extends "democracy/candidate_films_base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Participants' %}{% endblock %}

{% block content %}


<form action="{% url 'democracy:vote_results' club.id %}" method="GET">
  {% csrf_token %}


  <!--START: HEADER-->
  <div class="text-center my-5 mx-3">
    <h4 class="display-4">{% trans 'Generate film ranking' %}</h4>
    <h5 class="text-center h5 my-5">
      {% trans 'Who is present? Click on their picture and count their votes.' %}
    </h5>
  </div>
  <!--END: HEADER-->


  <!--START: PARTICIPANTS-->
  <div class="album pt-4 border bg-light">
    <div class="container-fluid">

      <div class="row mt-4 mx-4 justify-content-center">

        {% for member in club_members %}

        <div class="col-auto">
          <div class="card mb-4 shadow-sm mx-auto" style="width: 8rem;">

            <label for="participants{{ forloop.counter }}">
              <div class="hovereffect-participant">
                {% if member.profile_image %}
                <img class="card-img-top border border-secondary"
                     src="{{ member.profile_image.url }}"
                     alt="member.profile_image not found">
                {% else %}
                <img class="card-img-top border border-secondary"
                     src="{% static 'registration/user_no_profile_image.png' %}"
                     alt="member.profile_image not found">
                {% endif %}
              </div>
            </label>

            <div class="custom-control custom-checkbox mx-auto mb-1">
              <input type="checkbox" class="custom-control-input" name="participants"
                     id="participants{{ forloop.counter }}" value="{{ member.username }}">
              <label class="custom-control-label mr-4" for="participants{{ forloop.counter }}">
                {{ member.username }}
              </label>
            </div>

          </div>
        </div>

        {% endfor %}

      </div>

    </div>
  </div>
  <!--END: PARTICIPANTS-->


  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <input type="submit" class="btn btn-lg btn-warning" value="{% trans 'Count votes' %}">
    </div>
  </div>

</form>


<form action="{% url 'democracy:candidate_films' club.id %}" class="text-center mt-5">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>


{% endblock %}
