{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/candidate_films.css' %}">
{% endblock %}

{% block title %}{% trans 'Select seen film' %}{% endblock %}

{% block content %}


<h3 class="h3">{% trans 'Mark film as seen by club' %}</h3>
<h5 class="h5">{% trans 'Which film has been seen?' %}</h5>


<!--START: FILM PANEL-->
{% if candidate_films %}


<div class="album films-album">
  <div class="row justify-content-center">

    {% for film in candidate_films|dictsort:"filmdb.title" %}

    <div class="col-md-4 align-self-center my-3">
      <div class="card mx-auto">
        <div class="m-auto">

          <div class="card-film">

            <a href="{% url 'democracy:film_seen' club.id film.id %}">
              <img class="card-img" src="{{ film.filmdb.poster_url }}"
                   alt="film.poster not found">
              <div class="overlay">
                <div class="film-title">{{ film.filmdb.title }}</div>
              </div>
            </a>

          </div>
        </div>

      </div>
    </div>
    {% endfor %}

  </div>


</div>


{% else %}


<div class="text-center text-muted mt-5">
  <span>{% trans 'There are no candidate films...' %}</span>
</div>


{% endif %}
<!--END: FILM PANEL-->


<form class="btn-cancel mt-n5" action="{% url 'democracy:candidate_films' club.id 'all' %}">
  <button type="submit" class="btn btn-sm">{% trans 'Cancel' %}</button>
</form>


{% endblock %}