{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/candidate_films.css' %}">
{% endblock %}

{% block title %}{% trans 'Participants' %}{% endblock %}

{% block content %}


<h1 class="display-4">{% trans 'Film ranking' %}</h1>
<h5 class="h5">{% trans 'Who is present? Click on their picture and count their votes.' %}</h5>


<form class="form-participants" action="{% url 'democracy:vote_results' club.id %}" method="GET">
  {% csrf_token %}


  <!--START: PARTICIPANTS-->
    <div class="container-fluid">

      <div class="row mx-4 justify-content-center">

        {% for member in club_members %}

        <div class="col-auto">
          <div class="card">

            <label for="participants{{ forloop.counter }}">
              <div class="hovereffect-participant">
                {% if member.profile_image %}
                <img class="card-img-top border border-secondary" src="{{ member.profile_image.url }}"
                     alt="member.profile_image not found">
                {% else %}
                <img class="card-img-top border border-secondary"
                     src="{% static 'registration/user_no_profile_image.svg' %}" alt="member.profile_image not found">
                {% endif %}
              </div>
            </label>

            <div class="custom-control custom-checkbox mx-auto mb-1">
              <input type="checkbox" class="custom-control-input" name="participants"
                     id="participants{{ forloop.counter }}" value="{{ member.id }}">
              <label class="custom-control-label" for="participants{{ forloop.counter }}">
                <small>{{ member.username }}</small>
              </label>
            </div>

          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  <!--END: PARTICIPANTS-->

  <!--RANKING OPTIONS-->
  <div class="ranking-options">

    <h3 class="h3">{% trans 'Ranking options' %}</h3>
    <hr>

    <!--EXCLUDE FILMS PROPOSED BY MEMBERS NOT PRESENT-->
      <div class="row align-items-center mx-1 my-2">
        <div class="col-6 text-right">
          <strong>{% trans 'Exclude films proposed by members not present:' %}</strong>
        </div>
        <div class="col-1">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="exclude_not_present" id="exclude_not_present"
                   value="exclude_not_present">
            <label class="custom-control-label" for="exclude_not_present"></label>
          </div>
        </div>
      </div>

    <!--MAX FILM DURATION-->
      <div class="row align-items-center mx-1 my-2">
        <div class="col-6 text-right">
          <strong>{% trans 'Maximum film duration (minutes):' %}</strong>
        </div>
        <div class="col-2">
          <input type="text" class="form-control" name="max_duration" id="max_duration" value="240">
        </div>
      </div>

    </div>

  <input class="btn btn-lg btn-block btn-green-to-blue" type="submit" value="{% trans 'Count votes' %}">

</form>


<form class="btn-cancel" action="{% url 'democracy:club_detail' club.id %}">
  <button type="submit" class="btn btn-sm">{% trans 'Cancel' %}</button>
</form>


{% endblock %}
