{% extends "democracy/club_films_base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Candidate films' %}{% endblock %}

{% block content %}


<!--START: HEADER-->
<div class="text-center my-5">
  <h4 class="display-4">{% trans 'Candidate films' %}</h4>

  <div class="row justify-content-center my-4">
    <div class="col-md-auto">
      <a href="{% url 'democracy:add_new_film' club.id %}" class="btn btn-sm btn-success my-2 mx-auto">
        {% trans 'Propose new film' %}
      </a>
    </div>
    <div class="col-md-auto">
      <a href="{% url 'democracy:participants' club.id %}" class="btn btn-sm btn-warning my-2 mx-auto">
        {% trans 'Generate film ranking' %}
      </a>
    </div>
    <div class="col-md-auto">
      <a href="{% url 'democracy:film_seen_selection' club.id %}" class="btn btn-sm btn-primary my-2 mx-auto">
        {% trans 'Mark film as seen by club' %}
      </a>
    </div>
  </div>

</div>
<!--END: HEADER-->


<!--START: FILM PANEL-->
<div class="album py-4 border">

  {% if candidate_films %}

  <div class="row justify-content-center">

    {% for candidate in candidate_films|dictsort:"film.filmdb.title" %}

    <div class="col-md-4 align-self-center my-3">
      <div class="card mx-auto" style="width: 13rem;">

        <div class="hovereffect-film">
          <a class="film-link" href="{% url 'democracy:film_detail' club.id candidate.film.id %}">
            <img class="card-img-top border border-secondary" src="{{ candidate.film.filmdb.poster_url }}"
                 alt="film.poster not found">

            <div class="overlay">
              <h2>{{ candidate.film.filmdb.title }}</h2>
            </div>
          </a>
          {% if candidate.voted %}
          <h3>
            <div class="media">
              <div class="media-body ml-5 mr-2">
                {% trans 'Voted' %}
              </div>
              <img src="{% static 'democracy/svg/check_ok.svg'%}" style="max-height: 17px;"
                   class="align-self-center mr-3">
            </div>
          </h3>
          {% endif %}

        </div>

      </div>
    </div>

    {% endfor %}

  </div>

  {% else %}

  <div class="alert alert-warning text-center mt-3">
    <strong>{% trans 'There are no candidate films...' %}</strong>
    <a href="{% url 'democracy:add_new_film' club.id %}" class="btn btn-success ml-3">
      {% trans 'Propose one!' %}</a>
  </div>

  {% endif %}

</div>
<!--END: FILM PANEL-->


<!--START: FILM ACCORDION-->
<div class="accordion shadow" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0 text-center">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          <strong>{% trans 'Last proposed films' %}</strong>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">

        {% if films_last_pub %}
        <ul>
          {% for film in films_last_pub %}
          <li>
            <a href="{% url 'democracy:film_detail' club.id film.id %}">
              <strong>{{ film.filmdb.title }}</strong>
            </a>:
            {% blocktrans with user=film.proposed_by.username date=film.pub_date %}
            proposed by {{ user }} on the {{ date }}.
            {% endblocktrans %}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="text-center">
          {% trans 'No films proposed yet...' %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0 text-center">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
          <strong>{% trans 'Last seen films' %}</strong>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">

        {% if films_last_seen %}
        <ul>
          {% for film in films_last_seen %}
          {% if film.seen %}
          <li><a href="{% url 'democracy:film_detail' club.id film.id %}">
            <strong>{{ film.filmdb.title }}</strong>
          </a>:
            {% blocktrans with date=film.seen_date %}
            seen on the {{ date }}.
            {% endblocktrans %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% else %}
        <div class="text-center">
          {% trans 'No films seen yet...' %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>

</div>
<!--END: FILM ACCORDION-->


{% endblock %}