{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/candidate_films.css' %}">
{% endblock %}

{% block title %}{% trans 'Candidate films' %}{% endblock %}

{% block content %}


<!--START: HEADER-->
<h1 class="display-4">{% trans 'Candidate films' %}</h1>


<div class="row justify-content-center my-4">
  <div class="col-md-auto">
    <form action="{% url 'democracy:add_new_film' club.id %}">
      <button type="submit" class="btn btn-sm btn-block btn-option btn-primary my-2 mx-auto">
        {% trans 'Propose film' %}
      </button>
    </form>
  </div>
  <div class="col-md-auto">
    <form action="{% url 'democracy:film_seen_selection' club.id %}">
      <button type="submit" class="btn btn-sm btn-block btn-option btn-primary my-2 mx-auto">
        {% trans 'Mark film as seen by club' %}
      </button>
    </form>
  </div>
</div>
<!--END: HEADER-->


{% if candidate_films %}


<!--START: FILM PANEL-->
<div class="album films-album">

  <div class="row justify-content-center">

    {% for candidate in candidate_films|dictsort:"film.filmdb.title" %}

    <div class="col-md-4 align-self-center my-3">
      <div class="card mx-auto">
        <div class="m-auto">
          <div class="card-film">
            <a href="{% url 'democracy:film_detail' club.id candidate.film.id %}">
              <img class="card-img" src="{{ candidate.film.filmdb.poster_url }}" alt="film.poster not found">
              <div class="overlay">
                <div class="film-title">{{ candidate.film.filmdb.title }}</div>
              </div>
            </a>
            {% if candidate.voted %}
            <div class="film-voted">
              <div class="media">
                <div class="media-body">{% trans 'Voted' %}</div>
                <img class="align-self-center" src="{% static 'democracy/svg/check_ok.svg'%}" style="max-height: 17px;">
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>


  <form class="btn-sm-cancel" action="{% url 'democracy:club_detail' club.id %}">
    <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Back to club' %}</button>
  </form>


</div>
<!--END: FILM PANEL-->


{% else %}


<div class="alert alert-warning text-center mt-3">
  <strong>{% trans 'There are no candidate films...' %}</strong>
  <a href="{% url 'democracy:add_new_film' club.id %}" class="btn btn-success ml-3">
    {% trans 'Propose one!' %}</a>
</div>


<form class="btn-sm-cancel" action="{% url 'democracy:club_detail' club.id %}">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Back to club' %}</button>
</form>

{% endif %}


{% endblock %}