{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/chats.css' %}">
{% endblock %}

{% block title %}{% trans 'Club Shoutbox' %}{% endblock %}

{% block pagecontent %}


<!--START: CHAT BANNER-->
<div class="container-fluid chat-banner text-center ">

  <div class="row justify-content-center align-items-center m-0 p-0">

    <div class="col col-auto mr-n3">

      {% if chat_user.profile_image %}
      <img class="border border-secondary rounded-circle"
           src="{{ chat_user.profile_image.url }}" alt="post.user_sender.profile_image not found">
      {% else %}
      <img class="border border-secondary rounded-circle"
           src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="post.user_sender.profile_image not found">
      {% endif %}

    </div>

    <div class="col col-auto ml-n2">

      <div class="chat-title px-2 rounded-pill media-body">
        {{ chat_user.username }}
      </div>

    </div>

  </div>

</div>
<!--END: CHAT BANNER-->


<!--START: SHOUTBOX CONTAINER-->
<div class="container-shoutbox overflow-auto" id="DivShoutbox">

{% if posts %}


<!--POSTS-->
{% for post in posts|dictsort:"date" %}

  {% ifchanged post.date|date %}

  <div class="text-center">
  <div class="date-bubble px-2 text-center rounded-pill">
    {{ post.date|date }}
  </div>
  </div>

  {% endifchanged %}


  <div class="media post my-1 mx-2">

    <!--START: POST-->
    <div class="{% if user == post.user_sender %} ml-auto {% endif %}">

      <div id="post-bubble" class="mt-0 pb-0 post-bubble pt-1 pl-2 pr-3 rounded-lg {% if user == post.user_sender %} green-chat {% endif %}">
        <div class="post-text">
          {% if not user == post.user_sender %}
          {% endif %}
          {% if post.deleted %}
          <span class="text-muted"><em>{% trans 'Post deleted.' %}</em></span>
          {% else %}
          <span>{{ post.text }}</span>
          {% endif %}
          <span style="display:inline-block; width: 20px;"></span>
          <div class="post-time text-muted text-right">{{ post.date|date:"H:i" }}</div>
        </div>
      </div>

    </div>
    <!--END: POST-->

  </div>


  {% endfor %}


  {% else %}


  <div class="text-center my-5">cri cri...</div>


  {% endif %}


</div>
<!--END: SHOUTBOX CONTAINER-->


<!--START: FOOTER-->
<div class="footer mt-auto border-top">

    <!--START: POST FORM-->
      <div class="form-post">

        <form class="form-inline" action="{% url 'democracy:post_in_chatusers' chat_user.id %}" method="POST">
          {% csrf_token %}

          <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" name="text" id="TextArea"
                      oninput='this.style.height = this.scrollHeight + "px";'
                      placeholder="{% trans 'Message' %}"></textarea>
            <button type="submit" class="p-1 align-self-end btn btn-sm btn-green-to-blue rounded-circle">
              <img style="max-height: 22px" src="{% static 'democracy/svg/send.svg'%}">
            </button>
          </div>

        </form>
      </div>
    <!--END: POST FORM-->

</div>
<!--END: FOOTER-->


<script>
  window.onload=function () {
     var objDiv = document.getElementById("DivShoutbox");
     objDiv.scrollTop = objDiv.scrollHeight;
}
</script>

<script>
let vh = window.innerHeight * 0.01;
document.documentElement.style.setProperty('--vh', `${vh}px`);
</script>

<script>
window.addEventListener('resize', () => {
  let vh = window.innerHeight * 0.01;
  document.documentElement.style.setProperty('--vh', `${vh}px`);
});
</script>

{% endblock %}
