{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/club_member_detail.css' %}">
{% endblock %}

{% block title %}{% trans 'Club member info' %}{% endblock %}

{% block content %}


<h3 class="h3">{{ member.username }}</h3>

<div class="text-center">

  <!--PROFILE PICTURE-->
  <div class="profile-picture">
    {% if member.profile_image %}
    <img class="zoom-in-cursor rounded-circle" src="{{ member.profile_image.url }}" alt="member.profile_image not found"
         data-toggle="modal" data-target="#MemberImageModalCenter">
    {% else %}
    <img class="rounded-circle" src="{% static 'registration/svg/user_no_profile_image.svg' %}"
         alt="member.profile_image not found">
    {% endif %}
  </div>

  <!--ADMIN-->
  {% if member in club_admins %}
  <div class="alert alert-success admin_member border border-secondary">
    <strong>club admin</strong>
  </div>
  {% endif %}

  <!--EMAIL-->
  {% if member.public_email %}
  <div class="row mx-1 align-items-center mt-2">
    <div class="col-md-6">
      <div class="float-md-right"><strong>{% trans 'Email:' %}</strong></div>
    </div>
    <div class="col-md-auto">
      {{ member.email }}
    </div>
  </div>
  {% endif %}

  <!--JOINED CLUB-->
  <div class="row mx-1 align-items-center mt-2">
    <div class="col-md-6">
      <div class="float-md-right"><strong>{% trans 'Joined club:' %}</strong></div>
    </div>
    <div class="col-md-auto">
      {{ club_member_info.joined_date }}
    </div>
  </div>

  <!--VOTED FILMS-->
  <div class="row mx-1 align-items-center mt-2">
    <div class="col-md-6">
      <div class="float-md-right"><strong>{% trans 'Films voted:' %}</strong></div>
    </div>
    <div class="col-md-auto">
      {{ num_of_votes }}
    </div>
  </div>

  <!--PROPOSED FILMS-->
  <div class="row mx-1 align-items-center mt-2">
    <div class="col-md-6">
      <div class="float-md-right"><strong>{% trans 'Films proposed:' %}</strong></div>
    </div>
    <div class="col-md-auto">
      {{ num_of_films_proposed }}
    </div>

  </div>

  <!--SEEN FILMS-->
  <div class="row mx-1 align-items-center mt-2">
    <div class="col-md-6">
      <div class="float-md-right"><strong>{% trans 'Films seen:' %}</strong></div>
    </div>
    <div class="col-md-auto">
      {{ num_of_films_seen }}
    </div>
  </div>


  <!--START: REGISTERED VOTES-->
  <div class="member-detail">
    <h5 class="h5">{% trans 'Registered votes on candidate films' %}</h5>
    <hr>

    <div class="voted-films">
      {% if member_votes %}


      {% for vote in member_votes %}
      <div class="row mx-1 mt-md-1 mt-2 align-items-center">
        <div class="col-md-6">
          <div class="float-md-right">
            <a class="strong-link" href="{% url 'democracy:film_detail' vote.film.id vote.film.filmdb.slug 'all' 'title' 'posters' %}">
              <strong>{{ vote.film.filmdb.title }}:</strong></a>
          </div>
        </div>
        <div class="col-md-auto">
          {% if vote.vote_karma == 'positive' %}
          <span class="text-success">{{ vote.get_choice_display }}</span>
          {% elif vote.vote_karma == 'negative' %}
          <span class="text-danger">
            {% if vote.choice == "veto" %}
            <strong>{{ vote.get_choice_display }}</strong>
            {% else %}
            {{ vote.get_choice_display }}
          </span>
          {% endif %}
          {% endif %}
        </div>

      </div>
      {% endfor %}


      {% else %}


      <div class="text-center">
        -
      </div>


      {% endif %}
    </div>
  </div>
  <!--END: REGISTERED VOTES-->


  <!--START: SEEN FILMS-->
  <div class="member-detail">
    <h5 class="h5">{% trans 'Films seen with club' %}</h5>
    <hr>

    <div class="seen-films">
      {% if member_seen_films %}


      {% for film in member_seen_films %}
      <div class="text-center mt-1">
        <a class="strong-link" href="{% url 'democracy:film_detail' film.id film.filmdb.slug 'all' 'title' 'posters' %}">
          <strong>{{ film.filmdb.title }}</strong></a>
      </div>
      {% endfor %}


      {% else %}


      <div class="text-center">-</div>


      {% endif %}
    </div>
  </div>
  <!--END: SEEN FILMS-->

</div>

<!-- START MODAL IMAGE -->
{% if member.profile_image %}
<div class="modal fade" id="MemberImageModalCenter" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5 pt-2 text-center mx-0 bg-dark">
        <div class="text-right mb-3">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <br>
        </div>
        <div>
          <img src="{{ member.profile_image.url }}" alt="member.profile_image not found">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- END MODAL IMAGE -->


{% endblock %}
