{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/club_admin_utils.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/select_members.css' %}">
{% endblock %}

{% block title %}{% trans 'Kick members' %}{% endblock %}

{% block content %}


<h3 class="h3">{% trans 'Kick members from club' %}</h3>


{% if candidate_members %}


<div class="help-subtitle">{% trans 'Click on the pictures of those members you want to kick' %}</div>


<!--START: KICK MEMBERS FORM-->
<form id="formSubmit1" class="form-standard form-select-members form-kick-members" method="POST" novalidate>
  {% csrf_token %}

  <div class="form-inputs">

    <div class="container-fluid">
      <div class="row justify-content-center">

        {% for member in candidate_members %}

        <div class="col col-auto">
          <div class="card">

            <input type="checkbox" name="members" id="member{{ forloop.counter }}" value="{{ member.pk }}">
            <label for="member{{ forloop.counter }}">
                {% if member.profile_image %}
                <img class="card-img-top rounded-circle border border-secondary" src="{{ member.profile_image.url }}"
                     alt="member.profile_image not found">
                {% else %}
                <img class="card-img-top rounded-circle border border-secondary"
                     src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="member.profile_image not found">
                {% endif %}
            </label>
            {% if member in club_admins %}
            <span class="alert alert-success admin-member border border-secondary py-0 px-1"><strong>admin</strong></span>
            {% endif %}
            <span>{{ member.username }}</span>

          </div>
        </div>

        {% endfor %}

      </div>
    </div>

  </div>

  <button type="submit" id="btnSpinner1" class="btn btn-standard btn-outline-danger">{% trans 'Kick' %}</button>

</form>
<!--END: KICK MEMBERS FORM-->


{% else %}


<div class="text-center mt-5">
  <span>{% trans 'There is no one to kick...' %}</span><br>
  <a class="mx-1 green-color blue-color-hover" href="{% url 'democracy:invite_new_member' club.id %}">
    {% trans 'Maybe you should invite someone first?' %}
    </a>
</div>


{% endif %}


<div class="text-center strong-link my-5">
  <a href="{% url 'democracy:club_detail' club.id %}">{% trans 'Go back to club' %}</a>
</div>


{% endblock %}
