{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/club_member_detail.css' %}">
{% endblock %}

{% block title %}{% trans 'Club member info' %}{% endblock %}

{% block content %}


<h3 class="h3">{{ member.username }}</h3>

<!--PROFILE PICTURE-->
<div class="profile-picture">
  {% if member.profile_image %}
  <img class="zoom-in-cursor" src="{{ member.profile_image.url }}" alt="member.profile_image not found"
       data-toggle="modal" data-target="#MemberImageModalCenter">
  {% else %}
  <img src="{% static 'registration/user_no_profile_image.svg' %}" alt="member.profile_image not found">
  {% endif %}
</div>

<!--ADMIN-->
{% if member in club_admins %}
<div class="alert alert-success admin_member border border-secondary">
  <strong>club admin</strong>
</div>
{% endif %}

<!--EMAIL-->
{% if member.public_email %}
<div class="row mx-1 justify-content-center mt-2">
  <div class="col-6 text-right"><strong>{% trans 'Email:' %}</strong></div>
  <div class="col-6">{{ member.email }}</div>
</div>
{% endif %}

<!--JOINED CLUB-->
<div class="row mx-1 justify-content-center mt-2">
  <div class="col-6 text-right"><strong>{% trans 'Joined club:' %}</strong></div>
  <div class="col-6">{{ club_member_info.joined_date }}</div>
</div>

<!--VOTED FILMS-->
<div class="row mx-1 justify-content-center mt-2">
  <div class="col-6 text-right"><strong>{% trans 'Films voted:' %}</strong></div>
  <div class="col-6">{{ num_of_votes }}</div>
</div>

<!--PROPOSED FILMS-->
<div class="row mx-1 justify-content-center mt-2">
  <div class="col-6 text-right"><strong>{% trans 'Films proposed:' %}</strong></div>
  <div class="col-6">{{ num_of_films_proposed }}</div>
</div>

<!--SEEN FILMS-->
<div class="row mx-1 justify-content-center mt-2">
  <div class="col-6 text-right"><strong>{% trans 'Films seen:' %}</strong></div>
  <div class="col-6">{{ num_of_films_seen }}</div>
</div>


<!--START: REGISTERED VOTES-->
<div class="member-detail">
  <h5 class="h5">{% trans 'Registered votes on candidate films' %}</h5>
  <hr>

  <div class="voted-films">
    {% if member_votes %}


    {% for vote in member_votes %}
    <div class="row mx-1 justify-content-center">
      <div class="col-6 text-right">
        <a class="text-body" href="{% url 'democracy:film_detail' club.id vote.film.id 'all' 'title' %}">
          <strong>{{ vote.film.filmdb.title }}:</strong></a>
      </div>
      <div class="col-6">

        {% if vote.vote_karma == 'positive' %}
        <p class="text-success">{{ vote.get_choice_display }}</p>
        {% elif vote.vote_karma == 'negative' %}
        <p class="text-danger">
          {% if vote.choice == "veto" %}
          <strong>{{ vote.get_choice_display }}</strong>
          {% else %}
          {{ vote.get_choice_display }}
        </p>
        {% endif %}
        {% endif %}
      </div>
    </div>
    {% endfor %}


    {% else %}


    <div class="text-center">
      -
    </div>


    {% endif %}
  </div>
</div>
<!--END: REGISTERED VOTES-->


<!--START: SEEN FILMS-->
<div class="member-detail">
  <h5 class="h5">{% trans 'Films seen with club' %}</h5>
  <hr>

  <div class="seen-films">
    {% if member_seen_films %}


    {% for film in member_seen_films %}
    <div class="text-center">
      <a class="text-body" href="{% url 'democracy:film_detail' club.id film.id 'all' 'title' %}">
        <strong>{{ film.filmdb.title }}</strong></a>
    </div>
    {% endfor %}


    {% else %}


    <div class="text-center">-</div>


    {% endif %}
  </div>
</div>
<!--END: SEEN FILMS-->


<!-- START MODAL IMAGE -->
{% if member.profile_image %}
<div class="modal fade" id="MemberImageModalCenter" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5 pt-2 text-center mx-0 bg-dark">
        <div class="text-right mb-3">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <br>
        </div>
        <div>
          <img src="{{ member.profile_image.url }}" alt="member.profile_image not found">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- END MODAL IMAGE -->


{% endblock %}
