{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/club_admin_utils.css' %}">
{% endblock %}

{% block title %}{% trans 'Kick members' %}{% endblock %}

{% block content %}


<!--START: KICK MEMBERS FORM-->
<h3 class="h3">{% trans 'Kick members from club' %}</h3>

<form class="form-admin-utils" method="POST" novalidate>
  {% csrf_token %}

  <div class="container-fluid">
    <div class="row justify-content-center">

      {% for member in club_members %}
      {% if member != user %}
      <div class="col-auto">
        <div class="card">

          <label for="member_{{ forloop.counter }}">
            <div class="hovereffect-member-kick">
              {% if member.profile_image %}
              <img class="card-img-top border border-secondary" src="{{ member.profile_image.url }}"
                   alt="member.profile_image not found">
              {% else %}
              <img class="card-img-top border border-secondary"
                   src="{% static 'registration/user_no_profile_image.png' %}" alt="member.profile_image not found">
              {% endif %}
              <div class="overlay"></div>
              {% if member in club_admins %}
              <div class="alert alert-success admin_member border border-secondary">
                <strong>club admin</strong>
              </div>
              {% endif %}
            </div>
          </label>

          <div class="custom-control custom-checkbox mx-auto mb-1">
            <input type="checkbox" class="custom-control-input" name="members"
                   id="member_{{ forloop.counter }}" value="{{ member.pk }}">
            <label class="custom-control-label" for="member_{{ forloop.counter }}">
              <small>{{ member.username }}</small></label>
          </div>

        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>

  <input class="btn btn-submit btn-danger" type="submit" value="{% trans 'Kick members' %}">

</form>
<!--END: KICK MEMBERS FORM-->


<form class="btn-sm-cancel" action="{% url 'democracy:club_detail' club.id %}">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>


{% endblock %}
