{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/club_detail.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/meeting_card.css' %}">
{% endblock %}

{% block title %}{{ club.name }}{% endblock %}

{% block content %}


<!--START: CLUB BANNER-->
<div class="container-fluid club-banner">

  <!--SHORT DESCRIPTION-->
  <div class="lead text-muted short-description">{{ club.short_description }}</div>

  <!--LOGO-->
  <div class="logo">
    {% if club.logo_image %}
    <img class="zoom-in-cursor shadow" src="{{ club.logo_image.url }}" alt="club.logo_image not found"
         data-toggle="modal" data-target="#ClubLogoModal">
    {% else %}
    <img class="shadow" src="{% static 'democracy/images/club_no_logo.png' %}" alt="club.logo_image not found">
    {% endif %}
  </div>

</div>
<!--END: CLUB BANNER-->


<!--START: NO LOGO MESSAGE-->
{% if user in club_admins %}
{% if not club.logo_image %}
<div class="alert alert-warning text-center show club-message" role="alert">
      <p class="m-0"><strong>{% trans "Your club doesn't have a logo yet!" %}</strong></p>
  <p class="m-0"><a class="" href="{% url 'democracy:edit_club_info' club.id %}">{% trans 'Complete club info' %}</a></p>
</div>
{% endif %}
{% endif %}
<!--END: NO LOGO MESSAGE-->


<!--START: CLUB PANEL-->
<div class="markdownx-view mt-4">
  {{ club.formatted_panel|safe }}
</div>
<!--END: CLUB PANEL-->


<!--START: NEXT 3 CLUB MEETINGS-->
{% if next_meetings %}

  <p class="text-center">
    <strong>{% trans 'Next club meetings' %}</strong>
    <a class="ml-2" href="{% url 'democracy:meetings_list' club.id %}">({% trans 'check all' %})</a>
  </p>

  {% for meeting in next_meetings|dictsort:"date" %}
    {% include "democracy/meeting_card.html" %}
  {% endfor %}

{% endif %}
<!--END: NEXT 3 CLUB MEETINGS-->


<!--START: LAST 5 COMMENTS ON FILMS-->
{% if last_comments %}


  <p class="text-center mt-5">
    <strong>{% trans 'Last comments on films' %}</strong>
  </p>


  <div class="container-posts border-top border-bottom">

    {% for comment in last_comments|dictsort:"created_datetime" %}

    <div class="media post">

      {% if comment.user.profile_image %}
      <img class="user-image rounded-circle" title="{{ comment.user.username }}" src="{{ comment.user.profile_image.url }}">
      {% else %}
      <img class="user-image rounded-circle" title="{{ comment.user.username }}" src="{% static 'registration/svg/user_no_profile_image.svg' %}">
      {% endif %}

      <div class="media-body post-body">

        <p class="post-text">
          <strong>
            <a class="strong-link" href="{% url 'democracy:club_member_detail' club.id comment.user.id %}">
              {{ comment.user.username }}
            </a>
            @
            <a class="strong-link" href="{% url 'democracy:film_detail' club.id comment.film.public_id comment.film.db.slug %}">
              {{ comment.film.db.title }}</a>:
          </strong>
          <span>{{ comment.text }}</span>
        </p>

        <div class="post-footer">
          {{ comment.created_datetime }}
        </div>

      </div>

    </div>

    {% endfor %}

  </div>


{% endif %}
<!--END: LAST 5 COMMENTS ON FILMS-->


<div class="album">


  <!--START: LAST PROPOSED FILMS ALBUM-->
  {% if groups_last_pub %}

  <p class="text-center">
    <strong>{% trans 'Last proposed films' %}</strong>
    <a class="ml-2 green-color blue-color-hover" href="{% url 'democracy:candidate_films' club.id %}">({% trans 'check all' %})</a>
  </p>

  <div class="films-album">

    <div id="carouselControls" class="carousel slide" data-ride="carousel" data-interval="4000">
      <div class="carousel-inner">

        {% for group in groups_last_pub %}

        {% if forloop.first %}
        <div class="carousel-item active">
          <div class="row justify-content-center mx-1">
            {% for film in group %}
            <div class="col col-auto align-self-center">
              <div class="card mx-auto">
                <div class="m-auto">
                  <a href="{% url 'democracy:film_detail' club.id film.public_id film.db.slug %}">
                    <img class="card-img mt-auto" src="{{ film.db.poster_url }}" alt="film.poster not found">
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        {% else %}

        {% if group %}
        <div class="carousel-item">
          <div class="row justify-content-center mx-1">
            {% for film in group %}
            <div class="col col-auto align-self-center">
              <div class="card mx-auto">
                <div class="m-auto">
                  <a href="{% url 'democracy:film_detail' club.id film.public_id film.db.slug %}">
                    <img class="card-img m-auto" src="{{ film.db.poster_url }}" alt="film.poster not found">
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {% endif %}

        {% endfor %}

      </div>
      <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </div>
  {% endif %}
  <!--END: LAST PROPOSED FILMS ALBUM-->


  <!--START: LAST SEEN FILMS ALBUM-->
  {% if films_last_seen %}

  <p class="text-center">
    <strong>{% trans 'Last seen films' %}</strong>
    <a class="green-color blue-color-hover ml-2" href="{% url 'democracy:seen_films' club.id %}">({% trans 'check all' %})</a>
  </p>

  <div class="films-album ">

    <div class="row justify-content-center mx-1">

      {% for film in films_last_seen %}

      <div class="col col-auto align-self-center align-items-center">
        <div class="card mx-auto">
          <div class="m-auto">
            <a href="{% url 'democracy:film_detail' club.id film.public_id film.db.slug %}">
              <img class="card-img" src="{{ film.db.poster_url }}" alt="film.poster not found">
            </a>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>

  </div>
  {% endif %}
  <!--END: LAST SEEN FILMS ALBUM-->


  <!--START: CLUB MEMBERS PANEL-->
  <div class="members-album">

    <p class="text-center font-weight-bold">{% trans 'Club members' %}</p>

    <div class="row justify-content-center mx-1">

      {% for member in club_members %}

      <div class="col col-auto">
        <div class="card">

          <a href="{% url 'democracy:club_member_detail' club.id member.id %}">
              {% if member.profile_image %}
              <img class="card-img-top rounded-circle" src="{{ member.profile_image.url }}"
                   alt="member.profile_image not found">
              {% else %}
              <img class="card-img-top rounded-circle" src="{% static 'registration/svg/user_no_profile_image.svg' %}"
                   alt="member.profile_image not found">
              {% endif %}
          </a>

          <span>{{ member.username }}</span>

        </div>
      </div>

      {% endfor %}

    </div>

  </div>
  <!--END: CLUB MEMBERS PANEL-->


  <!--START: LEAVE BUTTON-->
  <div class="text-center my-5">
    <a class="text-danger text-decoration-none danger-link" href="{% url 'democracy:leave_club' club.id %}">
      {% trans 'Leave club' %}
    </a>
  </div>
  <!--END: LEAVE BUTTON-->


</div>


<!--START: ADD NEW-->
<a class="pointer-cursor rounded-circle" id="btn-add-new" data-toggle="modal" data-target="#addNewModal">
  <img class="" src="{% static 'democracy/svg/add.svg'%}">
</a>
<!--END: ADD NEW-->


<!-- START: MODAL ADD NEW -->
<div class="modal fade modal-menu" id="addNewModal" tabindex="-1" role="dialog"
     aria-labelledby="addNewModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">

      <div class="modal-header border-0">
        <h5 class="modal-title" id="addNewModalTitle">{% trans 'Add to club' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body py-0 px-0">

        <div class="list-group font-weight-bold p-0 m-0">

          <a class="list-group-item list-group-item-action pointer-cursor py-2" href="{% url 'democracy:add_new_film' club.id %}">
            <div class="media">

              <img class="align-self-center rounded-circle mr-3 p-0"
                   src="{% static 'democracy/svg/camera.svg' %}">

              <div class="media-body align-self-center p-0 m-0">
                <span>{% trans 'Propose new film' %}</span>
              </div>

            </div>
          </a>

          <a class="list-group-item list-group-item-action pointer-cursor py-2" href="{% url 'democracy:meetings_new' club.id %}">
            <div class="media">

              <img class="align-self-center rounded-circle mr-3 p-0"
                   src="{% static 'democracy/svg/cinema.svg' %}">

              <div class="media-body align-self-center p-0 m-0">
                <span>{% trans 'Organize new club meeting' %}</span>
              </div>

            </div>
          </a>

          <a class="list-group-item list-group-item-action pointer-cursor py-2" href="{% url 'democracy:invite_new_member' club.id %}">
            <div class="media">

              <img class="align-self-center rounded-circle mr-3 p-0"
                   src="{% static 'democracy/svg/invite_user_image.svg' %}">

              <div class="media-body align-self-center p-0 m-0">
                <span>{% trans 'Invite someone to club' %}</span>
              </div>

            </div>
          </a>

        </div>

      </div>

    </div>
  </div>
</div>
<!-- END: MODAL ADD NEW -->


<!--START: MODAL LOGO-->
{% if club.logo_image %}
<div class="modal fade" id="ClubLogoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <img class='rounded' src="{{ club.logo_image.url }}" alt="club.logo_image not found">
  </div>
</div>
{% endif %}
<!--END: MODAL LOGO-->


{% endblock %}
