{% extends "democracy/club_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Club info' %}{% endblock %}

{% block content %}


<!--START: KICK MEMBERS FORM-->
<div class="text-center">
  <h5 class="font-weight-normal h5 my-5">{% trans 'Choose members to kick from club' %}</h5>

  <form method="POST" novalidate>
    {% csrf_token %}

    <div class="container-fluid">
      <div class="row mt-4 justify-content-center">

        {% for member in club_members %}
        {% if member != user %}
        <div class="col-auto">
          <div class="card mb-4 shadow-sm" style="width: 8rem;">

            <label for="member_{{ forloop.counter }}">
              <div class="hovereffect-member-kick">
                {% if member.profile_image %}
                <img class="card-img-top border border-secondary member-shadow"
                     src="{{ member.profile_image.url }}"
                     alt="member.profile_image not found">
                {% else %}
                <img class="card-img-top border border-secondary member-shadow"
                     src="{% static 'registration/user_no_profile_image.png' %}"
                     alt="member.profile_image not found">
                {% endif %}
                <div class="overlay"></div>
                {% if member in club_admins %}
                <div class="alert alert-success text-center py-0 admin_member border border-secondary">
                  <strong>admin</strong>
                </div>
                {% endif %}
              </div>
            </label>

            <div class="custom-control custom-checkbox mx-auto mb-1">
              <input type="checkbox" class="custom-control-input" name="members"
                     id="member_{{ forloop.counter }}" value="{{ member.pk }}">
              <label class="custom-control-label mr-4" for="member_{{ forloop.counter }}">
                {{ member.username }}</label>
            </div>

          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
    </div>

    <input class="btn btn btn-danger mt-3" type="submit" value="{% trans 'Kick members' %}">

  </form>
</div>
<!--END: KICK MEMBERS FORM-->


<form action="{% url 'democracy:club_detail' club.id %}" class="text-center mt-5">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>


{% endblock %}
