{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/club_admin_utils.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/select_members.css' %}">
{% endblock %}

{% block title %}{% trans 'Promote members to admin' %}{% endblock %}

{% block content %}


<h3 class="h3">{% trans 'Promote members to admin' %}</h3>


{% if candidate_members %}


<div class="help-subtitle">{% trans 'Click on the pictures of those you want to promote' %}</div>


<!--START: PROMOTE MEMBERS FORM-->
<form id="formSubmit" class="form-standard form-select-members form-promote-members" method="POST" novalidate>
  {% csrf_token %}

  <div class="form-inputs">

    <div class="container-fluid">
      <div class="row justify-content-center">

        {% for member in candidate_members %}

        <div class="col col-auto">
          <div class="card">

            {% if member in club_admins %}
            <input type="checkbox" name="members" id="member{{ forloop.counter }}" value="{{ member.pk }}" checked disabled>
            {% else %}
            <input type="checkbox" name="members" id="member{{ forloop.counter }}" value="{{ member.pk }}">
            {% endif %}
            <label for="member{{ forloop.counter }}" class="{% if member in club_admins %}not-allowed{% endif %}">
                {% if member.profile_image %}
                <img class="card-img-top rounded-circle border border-secondary"
                     src="{{ member.profile_image.url }}" alt="member.profile_image not found">
                {% else %}
                <img class="card-img-top rounded-circle border border-secondary"
                     src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="member.profile_image not found">
                {% endif %}
            </label>
            {% if member in club_admins %}
            <div class="alert alert-success admin-member border border-secondary mx-auto"><strong>club admin</strong></div>
            {% endif %}
            <span>{{ member.username }}</span>

          </div>
        </div>

        {% endfor %}

      </div>
    </div>

  </div>

  <button type="submit" id="btnSpinner" class="btn btn-standard btn-green-to-blue">{% trans 'Promote' %}</button>

</form>
<!--END: PROMOTE MEMBERS FORM-->


{% else %}


<div class="text-center mt-5">
  <span>{% trans 'There is no one to promote...' %}</span><br>
  <a class="mx-1 green-color blue-color-hover" href="{% url 'democracy:invite_new_member' club.id %}">
    {% trans 'Invite someone!' %}
    </a>
</div>


{% endif %}


<div class="text-center strong-link my-5">
  <a href="{% url 'democracy:club_detail' club.id %}">{% trans 'Go back to club' %}</a>
</div>


{% endblock %}
