{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/club_detail.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/meeting_card.css' %}">
{% endblock %}

{% block title %}{{ club.name }}{% endblock %}

{% block content %}


<!--START: CLUB BANNER-->
<div class="container-fluid club-banner">

  <!--SHORT DESCRIPTION-->
  <div class="lead text-muted short-description">{{ club.short_description }}</div>

  <!--LOGO-->
  <div class="logo">
    {% if club.logo_image %}
    <img class="zoom-in-cursor shadow" src="{{ club.logo_image.url }}" alt="club.logo_image not found"
         data-toggle="modal" data-target="#ClubLogoModal">
    {% else %}
    <img class="shadow" src="{% static 'democracy/images/club_no_logo.png' %}" alt="club.logo_image not found">
    {% endif %}
  </div>

</div>
<!--END: CLUB BANNER-->


<!--START: NO LOGO MESSAGE-->
{% if user in club_admins %}
{% if not club.logo_image %}
<div class="alert alert-warning text-center show club-message" role="alert">
      <p class="m-0"><strong>{% trans "Your club doesn't have a logo yet!" %}</strong></p>
  <p class="m-0"><a class="" href="{% url 'democracy:edit_club_info' club.id %}">{% trans 'Complete club info' %}</a></p>
</div>
{% endif %}
{% endif %}
<!--END: NO LOGO MESSAGE-->


<!--START: NEXT 3 CLUB MEETINGS-->
{% if next_meetings %}

  {% for meeting in next_meetings %}

    {% include "democracy/meeting_card.html" %}

  {% endfor %}

  {% if extra_meetings %}
    <div class="text-center mt-3">
      <a class="" href="{% url 'democracy:meetings_list' club.id %}">
        {% trans 'Check all meetings' %}
      </a>
    </div>
  {% endif %}

{% endif %}
<!--END: NEXT 3 CLUB MEETINGS-->


<!--START: CLUB PANEL-->
<div class="markdownx-view">
  {{ club.formatted_panel|safe }}
</div>
<!--END: CLUB PANEL-->


<!--START: LAST 5 COMMENTS ON FILMS-->
{% if last_comments %}


<div class="club-section-title">
  <h3 class="h3">{% trans 'Last comments on films' %}</h3>
  <hr>
</div>


<!--COMMENTS-->

<div class="container-shoutbox mx-auto">

  {% for comment in last_comments %}

  <div class="media post my-1 mx-1">
    <div class="align-self-start mr-2 user-image">
      {% if comment.user.profile_image %}
      <img class="border border-secondary rounded-circle" title="{{ comment.user.username }}"
           src="{{ comment.user.profile_image.url }}"
           alt="comment.user.profile_image not found">
      {% else %}
      <img class="border border-secondary rounded-circle" title="{{ comment.user.username }}"
           src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="comment.user.profile_image not found">
      {% endif %}
    </div>
    <div class="">
      <p class="my-0 post-text py-1 pl-2 pr-3 border rounded-lg">
          <a class="strong-link" href="{% url 'democracy:club_member_detail' club.id comment.user.id %}">
            {{ comment.user.username }}</a>
        <strong>@</strong>
          <a class="strong-link" href="{% url 'democracy:film_detail' club.id comment.film.public_id comment.film.db.slug %}">
            {{ comment.film.db.title }}</a><strong>:</strong>
        <span>{{ comment.text }}</span>
      </p>
      <p class="small text-muted my-0 ml-1 date">{{ comment.created_datetime }}</p>
    </div>
  </div>

  {% endfor %}

</div>

{% endif %}
<!--END: LAST 5 COMMENTS ON FILMS-->


<div class="album ">


  <!--START: LAST PROPOSED FILMS ALBUM-->
  {% if groups_last_pub %}
  <div class="films-album">

    <p class="text-center font-weight-bold">{% trans 'Last proposed films' %}</p>

    <div id="carouselControls" class="carousel slide" data-ride="carousel" data-interval="4000">
      <div class="carousel-inner">

        {% for group in groups_last_pub %}

        {% if forloop.first %}
        <div class="carousel-item active">
          <div class="row justify-content-center mx-1">
            {% for film in group %}
            <div class="col col-auto align-self-center">
              <div class="card mx-auto">
                <div class="m-auto">
                  <a href="{% url 'democracy:film_detail' club.id film.public_id film.db.slug %}">
                    <img class="card-img mt-auto" src="{{ film.db.poster_url }}" alt="film.poster not found">
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        {% else %}

        {% if group %}
        <div class="carousel-item">
          <div class="row justify-content-center mx-1">
            {% for film in group %}
            <div class="col col-auto align-self-center">
              <div class="card mx-auto">
                <div class="m-auto">
                  <a href="{% url 'democracy:film_detail' club.id film.public_id film.db.slug %}">
                    <img class="card-img m-auto" src="{{ film.db.poster_url }}" alt="film.poster not found">
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {% endif %}

        {% endfor %}

      </div>
      <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </div>
  {% endif %}
  <!--END: LAST PROPOSED FILMS ALBUM-->


  <!--START: LAST SEEN FILMS ALBUM-->
  {% if films_last_seen %}
  <div class="films-album ">

    <p class="text-center font-weight-bold">{% trans 'Last seen films' %}</p>

    <div class="row justify-content-center mx-1">

      {% for film in films_last_seen %}

      <div class="col col-auto align-self-center align-items-center">
        <div class="card mx-auto">
          <div class="m-auto">
            <a href="{% url 'democracy:film_detail' club.id film.public_id film.db.slug %}">
              <img class="card-img" src="{{ film.db.poster_url }}" alt="film.poster not found">
            </a>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>



  </div>
  {% endif %}
  <!--END: LAST SEEN FILMS ALBUM-->


  <!--START: LINK TO SEEN FILMS-->
  {% if films_last_seen %}
  <div class="text-center my-5">
    <a class="green-color blue-color-hover" href="{% url 'democracy:seen_films' club.id %}">
      {% trans 'Check all films seen by club' %}
    </a>
  </div>
  {% endif %}
  <!--END: LINK TO SEEN FILMS-->


  <!--START: CLUB MEMBERS PANEL-->
  <div class="members-album">

    <p class="text-center font-weight-bold">{% trans 'Club members' %}</p>

    <div class="row justify-content-center mx-1">

      {% for member in club_members %}

      <div class="col col-auto">
        <div class="card">

          <a href="{% url 'democracy:club_member_detail' club.id member.id %}">
              {% if member.profile_image %}
              <img class="card-img-top rounded-circle" src="{{ member.profile_image.url }}"
                   alt="member.profile_image not found">
              {% else %}
              <img class="card-img-top rounded-circle" src="{% static 'registration/svg/user_no_profile_image.svg' %}"
                   alt="member.profile_image not found">
              {% endif %}
          </a>

          <span>{{ member.username }}</span>

        </div>
      </div>

      {% endfor %}

    </div>

  </div>
  <!--END: CLUB MEMBERS PANEL-->


  <!--START: LEAVE BUTTON-->
  <div class="text-center my-5">
    <a class="text-danger text-decoration-none danger-link" href="{% url 'democracy:leave_club' club.id %}">
      {% trans 'Leave club' %}
    </a>
  </div>
  <!--END: LEAVE BUTTON-->


</div>



<!--START: ADD NEW-->
<a class="pointer-cursor rounded-circle"
   id="btn-new-options" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <img class="" src="{% static 'democracy/svg/add.svg'%}">
</a>


<div id="new-options-menu" class="dropdown-menu py-0" aria-labelledby="btn-new-options">

  <!--START: NEW FILM-->
  <a class="dropdown-item py-2 px-3" href="{% url 'democracy:add_new_film' club.id %}">
    <div class="media">

      <img class="align-self-center rounded-circle mr-2"
           src="{% static 'democracy/svg/camera.svg' %}">

      <div class="media-body align-self-center p-0 m-0">
        <span>{% trans 'Propose new film' %}</span>
      </div>

    </div>
  </a>

  <div class="dropdown-divider p-0 m-0"></div>

  <!--START: NEW MEETING-->
  <a class="dropdown-item py-2 px-3" href="{% url 'democracy:meetings_new' club.id %}">
    <div class="media">

      <img class="align-self-center rounded-circle mr-2 p-0"
           src="{% static 'democracy/svg/cinema.svg' %}">

      <div class="media-body align-self-center p-0 m-0">
        <span>{% trans 'Organize new meeting' %}</span>
      </div>

    </div>
  </a>

  <div class="dropdown-divider p-0 m-0"></div>

  <!--START: INVITE NEW MEMBER-->
  <a class="dropdown-item py-2 px-3" href="{% url 'democracy:invite_new_member' club.id %}">
    <div class="media">

      <img class="align-self-center rounded-circle mr-2"
           src="{% static 'democracy/svg/invite_user_image.svg' %}">

      <div class="media-body align-self-center p-0 m-0">
        <span>{% trans 'Invite someone to club' %}</span>
      </div>

    </div>
  </a>

</div>
<!--START: ADD NEW-->


<!--START: MODAL LOGO-->
{% if club.logo_image %}
<div class="modal fade" id="ClubLogoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <img class='rounded' src="{{ club.logo_image.url }}" alt="club.logo_image not found">
  </div>
</div>
{% endif %}
<!--END: MODAL LOGO-->


<!-- START: MODAL SELF-DEMOTE -->
<!--{% if user in club_admins %}-->
<!--<div class="modal fade" id="self_demoteModal" tabindex="-1" role="dialog"-->
<!--     aria-labelledby="self_demoteModalTitle" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="self_demoteModalTitle">{% trans 'Self-demote' %}</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        {% trans "Are you sure you don't want to be an admin anymore?" %}-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-sm" data-dismiss="modal">-->
<!--          {% trans 'Cancel' %}-->
<!--        </button>-->
<!--        <form method="POST" action="{% url 'democracy:self_demote' club.id %}" class="text-center">-->
<!--          {% csrf_token %}-->
<!--          <button type="submit" class="btn btn-sm btn-outline-danger mx-3">-->
<!--            {% trans 'Confirm' %}-->
<!--          </button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--{% endif %}-->
<!-- END: MODAL SELF-DEMOTE -->


<!--START: MODAL LEAVE-->
<!--<div class="modal fade" id="LeaveModal" tabindex="-1" role="dialog" aria-labelledby="LeaveModalTitle"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="LeaveModalTitle">{% trans 'Leave club' %}</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        {% trans 'Are you sure about this?' %}-->
<!--        {% if club_members|length == 1 %}-->
<!--        {% trans 'You are the only member of the club; if you leave, the club will disappear!' %}-->
<!--        {% endif %}-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-sm" data-dismiss="modal">-->
<!--          {% trans 'Cancel' %}-->
<!--        </button>-->
<!--        <form method="POST" action="{% url 'democracy:leave_club' club.id %}" class="text-center">-->
<!--          {% csrf_token %}-->
<!--          <button type="submit" class="btn btn-sm btn-outline-danger mx-3">-->
<!--            {% trans 'Confirm' %}-->
<!--          </button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--END: MODAL LEAVE-->


{% endblock %}
