{% extends "democracy/club_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Club info' %}{% endblock %}

{% block content %}


<!--START: CLUB DESCRIPTION-->
<div class="markdownx-view">
  {{ club.formatted_panel|safe }}
</div>
<!--END: CLUB DESCRIPTION-->


<!--START: FILM ACCORDION-->
<div class="accordion mb-0" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0 text-center">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          <strong>{% trans 'Last proposed films' %}</strong>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">

        {% if films_last_pub %}
        <ul>
          {% for film in films_last_pub %}
          <li>
            <a href="{% url 'democracy:film_detail' club.id film.id %}">
              <strong>{{ film.filmdb.title }}</strong>
            </a>:
            {% blocktrans with user=film.proposed_by.username date=film.pub_date %}
            proposed by {{ user }} on the {{ date }}.
            {% endblocktrans %}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="text-center">
          {% trans 'No films proposed yet...' %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0 text-center">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
          <strong>{% trans 'Last seen films' %}</strong>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">

        {% if films_last_seen %}
        <ul>
          {% for film in films_last_seen %}
          {% if film.seen %}
          <li><a href="{% url 'democracy:film_detail' club.id film.id %}">
            <strong>{{ film.filmdb.title }}</strong>
          </a>:
            {% blocktrans with date=film.seen_date %}
            seen on the {{ date }}.
            {% endblocktrans %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% else %}
        <div class="text-center">
          {% trans 'No films seen yet...' %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>

</div>
<!--END: FILM ACCORDION-->


<!--START: CLUB MEMBERS PANEL-->

<!--PICTURES-->
<div class="album club-members-panel shadow">
  <div class="container-fluid pb-3 pt-2 mb-n5 dark2-bg">

    <h4 class="lead text-center club-members-title light1-style">{% trans 'Club members' %}</h4>

    <hr class="mx-auto">

    <div class="row justify-content-center">

      {% for member in club_members %}
      <div class="col-auto mt-4">
        <div class="card border-0 dark2-bg" style="width: 8rem;">


          <a href="{% url 'democracy:club_member_detail' club.id member.id %}">
            <div class="hovereffect-member">
              {% if member.profile_image %}
              <img class="card-img-top"
                   src="{{ member.profile_image.url }}"
                   alt="member.profile_image not found">
              {% else %}
              <img class="card-img-top"
                   src="{% static 'registration/user_no_profile_image.png' %}"
                   alt="member.profile_image not found">
              {% endif %}
            </div>
          </a>

          <div class="text-center p-1 light1-style dark2-bg">
            {{ member.username }}
          </div>

        </div>
      </div>
      {% endfor %}

    </div>

    <!--LEAVE BUTTON-->
    <div class="text-center my-5">
      <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"
              data-target="#LeaveModalCenter">
        {% trans 'Leave club' %}
      </button>
    </div>


  </div>
</div>
<!--END: CLUB MEMBERS PANEL-->


<!--START: MODAL LEAVE-->
<div class="modal fade" id="LeaveModalCenter" tabindex="-1" role="dialog" aria-labelledby="LeaveModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LeaveModalCenterTitle">{% trans 'Leave club' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans 'Are you sure about this?' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">
          {% trans 'Cancel' %}
        </button>
        <form method="post" action="{% url 'democracy:leave_club' club.id %}" class="text-center">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger mr-3">
            {% trans 'Confirm' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END: MODAL LEAVE-->


{% endblock %}
