{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/club_admin_utils.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/select_members.css' %}">
{% endblock %}

{% block title %}{% trans 'Promote members to admin' %}{% endblock %}

{% block content %}


<div class="page-title">
  <span>{% trans 'Promote members to admin' %}</span>
</div>


<!--START: PROMOTE MEMBERS FORM-->
<form class="form-admin-utils form-select-members form-promote-members" method="POST" novalidate>
  {% csrf_token %}

  <div class="container-fluid">

    <div class="row justify-content-center">

      {% for member in club_members %}
      {% if member != user %}

      <div class="col-auto">
        <div class="card">

          {% if member in club_admins %}
          <input type="checkbox" name="members" id="member{{ forloop.counter }}" value="{{ member.pk }}" checked disabled>
          {% else %}
          <input type="checkbox" name="members" id="member{{ forloop.counter }}" value="{{ member.pk }}">
          {% endif %}
          <label for="member{{ forloop.counter }}" class="{% if member in club_admins %}not-allowed{% endif %}">
              {% if member.profile_image %}
              <img class="card-img-top rounded-circle border border-secondary"
                   src="{{ member.profile_image.url }}" alt="member.profile_image not found">
              {% else %}
              <img class="card-img-top rounded-circle border border-secondary"
                   src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="member.profile_image not found">
              {% endif %}
          </label>
          {% if member in club_admins %}
          <div class="alert alert-success admin-member border border-secondary mx-auto"><strong>club admin</strong></div>
          {% endif %}
          <span>{{ member.username }}</span>

        </div>
      </div>

      {% endif %}
      {% endfor %}

    </div>
  </div>

  <input class="btn btn-block btn-green-to-blue" type="submit" value="{% trans 'Promote' %}">

</form>
<!--END: PROMOTE MEMBERS FORM-->


<form class="btn-cancel" action="{% url 'democracy:club_detail' club.id %}">
  <button type="submit" class="btn btn-sm">{% trans 'Cancel' %}</button>
</form>


{% endblock %}
