{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/edit_club.css' %}">
{% endblock %}

{% block title %}{% trans 'Create new club' %}{% endblock %}

{% block pagecontent %}


<!--START: ERRORS-->
{% for hidden_field in form.hidden_fields %}
{% if hidden_field.errors %}
<ul>
  {% for error in hidden_field.errors %}
  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{{ hidden_field }}
{% endfor %}

{% if form.errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger text-center">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<!--END: ERRORS-->


<!--START: CREATE CLUB FORM-->
<div>
  <h3 class="h3 font-weight-normal text-center">{% trans 'Create new club' %}</h3>

  <form enctype="multipart/form-data" method="POST" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    <div class="form-inputs">

      <div class="form-input-field text-center mt-3">
          {{ form.name.label_tag }}
          {% if form.is_bound %}
          {% if form.name.errors %}
          {% render_field form.name class="form-control form-name is-invalid" %}
          {% else %}
          {% render_field form.name class="form-control form-name is-valid" %}
          {% endif %}
          {% else %}
          {% render_field form.name class="form-control form-name" %}
          {% endif %}
          <small class="form-text text-muted">
            {% trans 'Maximum of 25 characters.' %}
          </small>
          {% for error in form.name.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
      </div>

      <div class="form-input-field mt-3">
          <div class="form-club-image-file mt-3">
            <div class="text-center">
              {% trans 'Club logo:' %}<br>
            </div>
            <div class="text-center">
              <img class="rounded mt-2" style="width: 10rem;"
                   src="{% static 'democracy/club_no_logo.png' %}" alt="club.logo not found">
            </div>
            <div class="custom-file mt-3">
              <input id="inputGroupFile" type="file" name='logo' value='logo' class="custom-file-input">
              <label class="custom-file-label" for="inputGroupFile">Choose file</label>
            </div>

            <small id="imageHelpBlock" class="form-text text-muted">
              <!--Please use an image that is 200 x 200 pixels or smaller.-->
            </small>
          </div>
      </div>

      <div class="form-input-field text-center mt-3">
          {{ form.short_description.label_tag }}
          {% if form.is_bound %}
          {% if form.short_description.errors %}
          {% render_field form.short_description class="form-control form-short-description is-invalid" %}
          {% else %}
          {% render_field form.short_description class="form-control form-short-description is-valid" %}
          {% endif %}
          {% else %}
          {% render_field form.short_description class="form-control form-short-description" %}
          {% endif %}
          <small class="form-text text-muted">
            {% trans 'Maximum of 100 characters.' %}
          </small>
          {% for error in form.short_description.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
      </div>

    </div>

    <div class="text-center mt-n2 mb-3 text-muted">
      {% trans 'You will be able to add more details of your club later.' %}
    </div>

    <div class="text-center">

      <input class="btn btn-lg btn-primary mt-2" type="submit" value="{% trans 'Create club' %}">

  </form>
</div>
<!--END: CREATE CLUB FORM-->


<form action="{% url 'home' %}" class="text-center mt-5">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>


<!--START: FILE FORM SCRIPT-->
<!--https://github.com/Johann-S/bs-custom-file-input-->
<script src="{% static 'democracy/js/bs-custom-file-input.min.js' %}" crossorigin="anonymous"></script>
<script>
      document.addEventListener('DOMContentLoaded', function() {
        bsCustomFileInput.init()

        var btn = document.getElementById('btnResetForm')
        var form = document.querySelector('form')
        btn.addEventListener('click', function() {
          form.reset()
        })
      });

</script>
<!--END: FILE FORM SCRIPT-->


{% endblock %}
