{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/edit_club_panel.css' %}">
{% endblock %}

{% block title %}{% trans 'Edit club panel' %}{% endblock %}

{% block content %}


{{ form.media }}


<!--START: EDIT CLUB DESCRIPTION FORM-->
<h3 class="h3">{% trans 'Edit club panel' %}</h3>


<form id="formSubmit1" class="form-standard" method="POST" novalidate>
  {% csrf_token %}

  <div class="form-inputs">

    <div class="form-input-field form-panel-text">

      <div class="label">
        <span>{% trans 'Write in the area below the text you want to show in your club.' %}</span>
        <a href="" data-toggle="modal" data-target="#markdownHelpModal">
          {% trans 'Check the syntax here.' %}
        </a>
      </div>

      <!--PANEL-->
      {% if form.is_bound %}
      {% if form.panel.errors %}
      {% render_field form.panel class="form-control panel-text is-invalid" %}
      {% else %}
      {% render_field form.panel class="form-control panel-text is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.panel class="form-control panel-text" %}
      {% endif %}
      {% for error in form.panel.errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}

    </div>


  <div class="form-preview">
    <div class="text-center text-muted">
      {% trans 'Panel preview' %}
    </div>
  </div>

  </div>


  <button type="submit" id="btnSpinner1" class="btn btn-standard btn-green-to-blue">{% trans 'Save changes' %}</button>

</form>
<!--START: EDIT CLUB DESCRIPTION FORM-->


<div class="text-center strong-link my-5">
  <a href="{% url 'democracy:club_detail' club.id %}">{% trans 'Go back to club' %}</a>
</div>


<!-- START: MODAL MARKDOWN HELP -->
<div class="modal fade" id="markdownHelpModal" tabindex="-1" role="dialog"
     aria-labelledby="markdownHelpModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered show" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="markdownHelpModalTitle">{% trans 'Club panel Syntax' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-left p-2">

        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class='align-bottom text-right'>{%trans '# Header1' %}</td>
              <td class='align-bottom h1'>{%trans 'Header1' %}</td>
            </tr>
            <tr>
              <td class='align-bottom text-right'>{%trans '## Header2' %}</td>
              <td class='align-bottom h2'>{%trans 'Header2' %}</td>
            </tr>
            <tr>
              <td class='align-bottom text-right'>{%trans '### Header3' %}</td>
              <td class='align-bottom h3'>{%trans 'Header3' %}</td>
            </tr>
            <tr>
              <td class='align-bottom text-right'>{%trans '#### Header4' %}</td>
              <td class='align-bottom h4'>{%trans 'Header4' %}</td>
            </tr>
            <tr>
              <td class='align-bottom text-right'>{%trans '##### Header5' %}</td>
              <td class='align-bottom h5'>{%trans 'Header5' %}</td>
            </tr>
            <tr>
              <td class='align-bottom text-right'>{%trans '###### Header6' %}</td>
              <td class='align-bottom h6'>{%trans 'Header6' %}</td>
            </tr>
            <tr>
              <td class='align-bottom text-right'>***</td>
              <td class='align-bottom'><hr></td>
            </tr>
            <tr>
              <td class='align-bottom text-right'>{%trans '_underscores_' %}</td>
              <td class='align-bottom'><em>{%trans 'underscores' %}</em></td>
            </tr>
            <tr>
              <td class='align-bottom text-right'>{%trans '**double asterisks**' %}</td>
              <td class='align-bottom'><strong>{%trans 'double asterisks' %}</strong></td>
            </tr>
            <tr>
              <td class='align-bottom text-right'>{%trans '**_both combined_**' %}</td>
              <td class='align-bottom'><strong><em>{%trans 'both combined' %}</em></strong></td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="modal-footer">
        <span>{% trans 'Want to know more?' %}</span>
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">{% trans 'Follow this link' %}</a>
      </div>


    </div>
  </div>
</div>
<!-- END: MODAL MARKDOWN HELP -->


{% endblock %}
