{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/edit_club.css' %}">
<link rel="stylesheet" href="{% static 'core/css/cropper.min.css' %}">
{% endblock %}

{% block title %}{% trans 'Edit club info' %}{% endblock %}

{% block content %}


<!--START: NO CLUB LOGO MESSAGE-->
{% if not club.logo_image %}
<div class="alert alert-warning text-center m-4" role="alert">
  <strong>{% trans "Your club doesn't have a logo yet!" %}</strong>
</div>
{% endif %}
<!--END: NO CLUB LOGO MESSAGE-->


<!--START: EDIT CLUB FORM-->
<h3 class="h3">{% trans 'Edit club info' %}</h3>


<form class="form-standard form-edit-club text-center" enctype="multipart/form-data" method="POST" id="formSubmit1" novalidate>
  {% csrf_token %}

  <input type="hidden" name="updateImage" id="updateImage">
  <input type="hidden" name="x" id="id_x">
  <input type="hidden" name="y" id="id_y">
  <input type="hidden" name="width" id="id_width">
  <input type="hidden" name="height" id="id_height">

  <div class="form-inputs">

    
    <!--LOGO-->
    <div class="logo-picture">

      {% if club.logo_image %}
      <img class="zoom-in-cursor" src="{{ club.logo_image.url }}"
           alt="club.logo_image not found" data-toggle="modal" data-target="#LogoImageModalCenter">
      {% else %}
      <img class="r" src="{% static 'democracy/images/club_no_logo.png' %}"
           alt="club.logo_image not found">
      {% endif %}

      <div class="change-picture-icon align-bottom pointer-cursor mx-auto" onclick="document.getElementById('id_logo_image').click();">
        <img class="rounded-circle align-self-center" src="{% static 'registration/svg/camera_white.svg'%}">
      </div>

    </div>


    <input id="id_logo_image" type="file" name='logo_image' style="display: none;">


    <!--NAME-->
    <div class="form-input-field form-name">
      <div class="label">
        {% trans 'Club name' %}
      </div>
      {% if form.is_bound %}
      {% if form.name.errors %}
      {% render_field form.name class="form-control is-invalid" %}
      {% else %}
      {% render_field form.name class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.name class="form-control" %}
      {% endif %}
      {% for error in form.name.errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>


    <!--DESCRIPTION-->
    <div class="form-input-field form-short-description">
      <div class="label">
        {% trans 'Short description (optional)' %}
      </div>
      {% if form.is_bound %}
      {% if form.short_description.errors %}
      {% render_field form.short_description class="form-control short-description is-invalid" %}
      {% else %}
      {% render_field form.short_description class="form-control short-description is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.short_description class="form-control short-description" %}
      {% endif %}
      {% for error in form.short_description.errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>

  </div>

  
  <!-- START: CROPPER MODAL -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{% trans 'Format club logo' %}</h4>
          <button type="button" class="close js-destroy" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%; min-height: 250px; max-height: 350px;">
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-modal-util mr-2 js-zoom-out">
            <img class="rounded-circle" src="{% static 'registration/svg/zoom_out.svg' %}">
          </button>

          <button type="button" class="btn btn-modal-util mx-2 js-zoom-in">
            <img class="rounded-circle" src="{% static 'registration/svg/zoom_in.svg' %}">
          </button>

          <button type="button" class="btn btn-modal-util mx-2 js-expand">
            <img class="rounded-circle" src="{% static 'registration/svg/expand.svg' %}">
          </button>

          <button type="button" class="btn btn-modal-util mx-2 js-reset">
            <img class="rounded-circle" src="{% static 'registration/svg/reset.svg' %}">
          </button>

          <button type="button" class="btn btn-modal btn-green-to-blue ml-auto js-crop-and-upload">
            {% trans 'Upload' %}
          </button>

        </div>
      </div>
    </div>
  </div>
  <!-- END: CROPPER MODAL -->
  
  
  <button type="submit" id="btnSpinner1" class="btn btn-standard btn-green-to-blue">{% trans 'Save changes' %}</button>

</form>
<!--END: EDIT CLUB FORM-->



<div class="text-center strong-link my-5">
  <a href="{% url 'democracy:club_detail' club.id %}">{% trans 'Go back to club' %}</a>
</div>



<!-- START MODAL IMAGE -->
{% if club.logo_image %}
<div class="modal fade" id="LogoImageModalCenter" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <img class='rounded' src="{{ club.logo_image.url }}" alt="club.logo_image not found">
  </div>
</div>
{% endif %}
<!-- END MODAL IMAGE -->



{% block javascript %}
<!--START: CROPPER SCRIPT-->
<!--https://github.com/fengyuanchen/cropperjs-->
<script src="{% static 'core/js/cropper.min.js' %}" crossorigin="anonymous"></script>
<script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_logo_image").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 2,
          dragMode: 'move',
          initialAspectRatio: 4/3,
          minCropBoxWidth: 80*4/3,
          minCropBoxHeight: 80,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
            $image.cropper("reset");
          }
        });
      }).on("hidden.bs.modal", function () {
        $image.cropper("destroy");
        $('input[type="file"]').val('')
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
        $image.cropper("clear");
        $image.cropper("crop");
      });

      $(".js-expand").click(function () {
        const expandedData = $image.cropper("getCanvasData");
        $image.cropper("setCropBoxData", expandedData);
      });

      $(".js-reset").click(function () {
        $image.cropper("reset");
      });

      $(".js-destroy").click(function () {
        $image.cropper("destroy");
        $image.cropper("clear");
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        $(this).prop("disabled", true);
        $(this).html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
        var cropData = $image.cropper("getData");
        $("#updateImage").val(true);
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formSubmit1").submit();
      });

    });
</script>
<!--END: CROPPER SCRIPT-->
{% endblock %}


{% endblock %}
