{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/edit_club.css' %}">
{% endblock %}

{% block title %}{% trans 'Edit club info' %}{% endblock %}

{% block content %}


<!--START: ERRORS-->
{% for hidden_field in form.hidden_fields %}
{% if hidden_field.errors %}
<ul>
  {% for error in hidden_field.errors %}
  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{{ hidden_field }}
{% endfor %}

{% if form.errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger text-center mx-4">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<!--END: ERRORS-->


<!--START: EDIT CLUB FORM-->
<h3 class="h3">{% trans 'Edit club info' %}</h3>

<form class="form-edit-club" enctype="multipart/form-data" method="POST" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="form-inputs">

    <!--NAME-->
    <div class="form-input-field">
      <div class="label">
        {{ form.name.label_tag }}
      </div>
      {% if form.is_bound %}
      {% if form.name.errors %}
      {% render_field form.name class="form-control is-invalid" %}
      {% else %}
      {% render_field form.name class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.name class="form-control" %}
      {% endif %}
      {% for error in form.name.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>

    <!--LOGO-->
    <div class="form-input-field">
      <div class="label">
        {% trans 'Club logo (optional):' %}
      </div>
      <div class="logo">
        {% if club.logo %}
        <img src="{{ club.logo.url }}" alt="user.profile_image not found">
        {% else %}
        <img src="{% static 'democracy/club_no_logo.png' %}" alt="user.profile_image not found">
        {% endif %}
      </div>
      <div class="form-logo">
        <div class="custom-file">
          <input id="inputGroupFile" type="file" name='logo' value='logo' class="custom-file-input">
          <label class="custom-file-label" for="inputGroupFile">{% trans 'Choose file' %}</label>
        </div>
      </div>
    </div>

    <!--DESCRIPTION-->
    <div class="form-input-field">
      <div class="label">
        {{ form.short_description.label_tag }}
      </div>
      {% if form.is_bound %}
      {% if form.short_description.errors %}
      {% render_field form.short_description class="form-control form-short-description is-invalid" %}
      {% else %}
      {% render_field form.short_description class="form-control form-short-description is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.short_description class="form-control form-short-description" %}
      {% endif %}
      {% for error in form.short_description.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>

  </div>

  <input class="btn btn-block btn-green-to-blue" type="submit" value="{% trans 'Save changes' %}">

</form>
<!--END: EDIT CLUB FORM-->


<form class="btn-cancel" action="{% url 'democracy:club_detail' club.id %}">
  <button type="submit" class="btn btn-sm">{% trans 'Cancel' %}</button>
</form>


<!--START: FILE FORM SCRIPT-->
<!--https://github.com/Johann-S/bs-custom-file-input-->
<script src="{% static 'democracy/js/bs-custom-file-input.min.js' %}" crossorigin="anonymous"></script>
<script>
      document.addEventListener('DOMContentLoaded', function() {
        bsCustomFileInput.init()

        var btn = document.getElementById('btnResetForm')
        var form = document.querySelector('form')
        btn.addEventListener('click', function() {
          form.reset()
        })
      });
</script>
<!--END: FILE FORM SCRIPT-->


{% endblock %}
