{% extends "core/base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/edit_club.css' %}">
{% endblock %}

{% block title %}{% trans 'Create new club' %}{% endblock %}

{% block pagecontent %}


<!--START: ERRORS-->
{% for hidden_field in form.hidden_fields %}
{% if hidden_field.errors %}
<ul>
  {% for error in hidden_field.errors %}
  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{{ hidden_field }}
{% endfor %}

{% if form.errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger form-message">
  {{ error|escape }}
</div>
{% endfor %}
{% endif %}
<!--END: ERRORS-->


<!--START: CREATE CLUB FORM-->
<h3 class="h3">{% trans 'Create new club' %}</h3>

<form id="formSubmit" class="form-standard form-edit-club" enctype="multipart/form-data" method="POST" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="form-inputs">


    <!--NAME-->
    <div class="form-input-field form-name">
      <div class="label">
        {{ form.name.label_tag }}
      </div>
      {% if form.is_bound %}
      {% if form.name.errors %}
      {% render_field form.name class="form-control is-invalid" %}
      {% else %}
      {% render_field form.name class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.name class="form-control" %}
      {% endif %}
      {% for error in form.name.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>


    <!--LOGO-->
    <!--<div class="form-input-field form-logo">-->
    <!--  <div class="label">-->
    <!--    {% trans 'Club logo (optional):' %}-->
    <!--  </div>-->
    <!--  <img src="{% static 'democracy/images/club_no_logo.png' %}" alt="user.profile_image not found">-->
    <!--  <div class="custom-file">-->
    <!--    <input id="inputGroupFile" type="file" name='logo_image' value='logo_image' class="custom-file-input">-->
    <!--    <label class="custom-file-label" for="inputGroupFile">{% trans 'Choose file' %}</label>-->
    <!--  </div>-->
    <!--</div>-->


    <!--DESCRIPTION-->
    <div class="form-input-field form-short-description">
      <div class="label">
        {{ form.short_description.label_tag }}
      </div>
      {% if form.is_bound %}
      {% if form.short_description.errors %}
      {% render_field form.short_description class="form-control short-description is-invalid" %}
      {% else %}
      {% render_field form.short_description class="form-control short-description is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.short_description class="form-control short-description" %}
      {% endif %}
      {% for error in form.short_description.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>


    <div class="mb-3">
      {% trans 'You will be able to add more details of your club later.' %}
    </div>

  </div>

  <button type="submit" id="btnSpinner" class="btn btn-standard btn-green-to-blue">{% trans 'Create club' %}</button>

</form>
<!--END: CREATE CLUB FORM-->


<div class="text-center strong-link my-5">
  <a href="{% url 'core:home' %}">{% trans 'Go to home' %}</a>
</div>


<!--START: FILE FORM SCRIPT-->
<!--https://github.com/Johann-S/bs-custom-file-input-->
<script src="{% static 'democracy/js/bs-custom-file-input.min.js' %}" crossorigin="anonymous"></script>
<script>
      document.addEventListener('DOMContentLoaded', function() {
        bsCustomFileInput.init()

        var btn = document.getElementById('btnResetForm')
        var form = document.querySelector('form')
        btn.addEventListener('click', function() {
          form.reset()
        })
      });
</script>
<!--END: FILE FORM SCRIPT-->


{% endblock %}
