{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/film_detail.css' %}">
{% endblock %}

{% block title %}{% trans 'Add FilmAffinity url' %}{% endblock %}

{% block pagecontent %}


<h3 class="h3">{% trans 'Add FilmAffinity url' %}</h3>


<!--START: ADD FILMADD URL FORM-->
<form class="form-add-faff" method="POST" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="form-inputs">

    <div class="form-input-field">
      {% if form.is_bound %}
      {% if form.faff_url.errors %}
      {% render_field form.faff_url class="form-control is-invalid" placeholder="FilmAffinity url" %}
      {% for error in form.faff_url.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% else %}
      {% render_field form.faff_url class="form-control is-valid" placeholder="FilmAffinity url" %}
      {% endif %}
      {% else %}
      {% render_field form.faff_url class="form-control" placeholder="FilmAffinity url" %}
      {% endif %}

      <div class="mb-3 mt-0 ml-2 text-left">
        <a href="https://www.filmaffinity.com/" target="blank">
          <small>{% trans 'Open FilmAffinity.com in a new tab' %}</small>
        </a>
      </div>

    </div>

  </div>

  <input class="btn btn-lg btn-block btn-green-to-blue" type="submit" value="{% trans 'Add' %}">

</form>
<!--START: ADD FILMADD URL FORM-->


<form class="btn-cancel" action="{% url 'democracy:film_detail' club.id film.id view_option order_option %}">
  <button type="submit" class="btn btn-sm">{% trans 'Cancel' %}</button>
</form>


{% endblock %}