{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/film_detail.css' %}">
{% endblock %}

{% block title %}{% trans 'Film details' %}{% endblock %}

{% block content %}

<!--START: FILM BANNER-->
<div class="container-fluid container-film-banner shadow">

  <!--TITLE-->
  <h1 class="film-title text-center">{{ film.filmdb.title }}</h1>

  <div class="container film-data">

    <div class="row">

      <!--POSTER-->
      <div class="col-md-3 text-center mb-4 mt-1 align-self-start">
        <img src="{{ film.filmdb.poster_url }}" alt="poster image not found"
             data-toggle="modal" data-target="#PosterModal">
      </div>

      <!--START: INFO-->
      <div class="col-md-9">

        <!--PROPOSED BY-->
        <p class="small">{% trans 'Proposed by' %}
        <a class="green-color blue-color-hover"
           href="{% url 'democracy:club_member_detail' club.id film.proposed_by.id %}">
          {{ film.proposed_by.username }}</a> {% trans 'on ' %} {{ film.pub_date }}
        </p>

        <div class="row align-items-center my-2">

          <!--START: REPORT PROBLEM-->
          <!--<div class="col-auto">-->
          <!--<form class="" action="{% url 'democracy:candidate_films' club.id view_option order_option display_option %}">-->
          <!--<button type="submit" class="btn btn-sm btn-outline-primary btn-film mx-2">-->
          <!--{% trans 'Report problem with film info' %}-->
          <!--</button>-->
          <!--</form>-->
          <!--</div>-->
          <!--END: REPORT PROBLEM-->

          <!--START: MARK AS SEEN-->
          {% if not film.seen %}
          <div class="col-auto">
            <form class="" action="{% url 'democracy:film_seen' club.id film.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-film-option my-1 mx-auto">
                {% trans 'Mark as seen by club' %}
              </button>
            </form>
          </div>
          {% endif %}
          <!--END: MARK AS SEEN-->

          <!--START: MARK AS NOT SEEN-->
          {% if film.seen %}
          {% if user in club_admins %}
          <div class="col-auto">
            <form class="" action="{% url 'democracy:unsee_film' club.id film.id view_option order_option display_option %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-film-option my-1 mx-auto">
                {% trans 'Move back to candidate films' %}
              </button>
            </form>
          </div>
          {% endif %}
          {% endif %}
          <!--END: MARK AS NOT SEEN-->

<!--          &lt;!&ndash;START: UPDATE FILMDB&ndash;&gt;-->
<!--          {% if updatable_db %}-->
<!--          <div class="col-auto">-->
<!--            <form class="" action="{% url 'democracy:update_film_data' club.id film.id view_option order_option display_option %}">-->
<!--              {% csrf_token %}-->
<!--              <button type="submit" class="btn btn-sm btn-film-option-magic my-2 mx-auto">-->
<!--                {% trans 'Request data update' %}-->
<!--              </button>-->
<!--            </form>-->
<!--          </div>-->
<!--          {% endif %}-->
<!--          &lt;!&ndash;END: UPDATE FILMDB&ndash;&gt;-->

          <!--START: DELETE FILM-->
          {% if not film.seen %}
          {% if user in club_admins or film.proposed_by == user %}
          <div class="col-auto">
            <a class="badge badge-outline-danger pointer-cursor my-1 mx-auto" data-toggle="modal"
                    data-target="#DeleteModalCenter">
              {% trans 'Delete film' %}
            </a>
          </div>
          {% endif %}
          {% else %}
          {% if user in club_admins %}
          <div class="col-auto">
            <a class="badge badge-outline-danger pointer-cursor my-1 mx-auto" data-toggle="modal"
                    data-target="#DeleteModalCenter">
              {% trans 'Delete film' %}
            </a>
          </div>
          {% endif %}
          {% endif %}
          <!--END: DELETE FILM-->

        </div>


        <!--DATABASE LINKS-->
        <div class="row mb-2">

          <div class="col-auto">
            <a href="{{ film.filmdb.imdb_url }}" class="green-color blue-color-hover" target="blank">
              {% trans 'IMDb page' %}
            </a>
          </div>

          <div class="col-auto">
            {% if film.filmdb.faff_id %}
            <a class="mx-1 green-color blue-color-hover" href="{{ film.filmdb.faff_url }}" target="blank">
              {% trans 'FilmAffinity page' %}
            </a>
            {% elif not film.filmdb.faff_id %}
            <a class="badge badge-green-to-blue pointer-cursor" data-toggle="modal" data-target="#AddFaffModalCenter">
              {% trans 'Add FilmAffinity link' %}
            </a>

            {% endif %}
          </div>

        </div>

        <!--MISC INFO-->
        <div class="row mb-3">
          <div class="col-auto"><strong>{% trans 'Year' %}</strong>: {{ film.filmdb.year }}</div>
          <div class="col-auto"><strong>{% trans 'Duration' %}</strong>: {{ film_duration }}</div>
          <div class="col-auto"><strong>{% trans 'Rated' %}</strong>: {{ film.filmdb.rated }}</div>
          <div class="col-auto"><strong>{% trans 'Country' %}</strong>: {{ film.filmdb.country }}</div>
        </div>

        <!--PLOT-->
        <div id="summary">
          <p class="text-justify mb-2 collapse" id="collapseSummary"><em>{{ film.filmdb.plot }}</em></p>
          <a class="collapsed green-color blue-color-hover" data-toggle="collapse" href="#collapseSummary"
             aria-expanded="false" aria-controls="collapseSummary">{% trans 'Plot' %}</a>
        </div>

        <!--DIRECTOR, WRITER, ACTOR-->
        <p class="my-1" style="padding-left:63px; text-indent: -63px"><strong>{% trans 'Director' %}:</strong>
          {{ film.filmdb.director }}</p>
        <p class="my-1" style="padding-left:63px; text-indent: -63px"><strong>{% trans 'Writer' %}:</strong>
          {{ film.filmdb.writer }}</p>
        <p class="my-1" style="padding-left:63px; text-indent: -63px"><strong>{% trans 'Cast' %}:</strong>
          {{ film.filmdb.actors }}</p>

      </div>
      <!--END: INFO-->


    </div>

  </div>
</div>
<!--END: FILM BANNER-->


{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible text-center mt-n3 mb-4 mx-4" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span class="ml-4"><strong>{{ message }}</strong></span>
</div>
{% endfor %}


<nav class="nav-film mx-2 mt-n2">
  <div class="nav nav-pills flex-column flex-sm-row justify-content-center nav-justified" id="nav-tab" role="tablist">
    <a class="nav-item nav-link m-2 active" id="nav-voteorseen-tab" data-toggle="pill" href="#nav-voteorseen"
       role="tab" aria-controls="nav-voteorseen" aria-selected="true">
      {% if not film.seen %}{% trans 'Your vote' %}{% elif film.seen %}{% trans 'Film seen' %}{% endif %}
    </a>
    <a class="nav-item nav-link m-2" id="nav-registered-votes-tab" data-toggle="pill" href="#nav-registered-votes"
       role="tab" aria-controls="nav-registered-votes" aria-selected="false">
      {% trans 'Registered votes' %} ({{ film.vote_set.all|length }})
    </a>
    <a class="nav-item nav-link m-2" id="nav-comments-tab" data-toggle="pill" href="#nav-comments"
       role="tab" aria-controls="nav-comments-tab" aria-selected="false">
      {% trans 'Comments' %} ({{ film_comments|length }})
    </a>
  </div>
</nav>


<div class="tab-content" id="nav-tabContent">


  <!--START: VOTES / FILM SEEN TAB-->
  <div class="tab-pane fade px-2 show active" id="nav-voteorseen" role="tabpanel" aria-labelledby="nav-voteorseen-tab">


    {% if not film.seen %}


    <h4 class="text-center h4 my-4">{% trans 'Did you vote already?' %}</h4>

    {% for choice, choice_dict in vote_choices.items %}
    <div class="text-center">
      <form action="{% url 'democracy:vote_film' club.id film.id view_option order_option display_option %}" method="POST">
        {% csrf_token %}

        <!--POSITIVE BUTTON-->
        {% if choice_dict.choice_karma == 'positive' %}
        {% if choice_dict.choice_voted %}
        <label class="btn btn-success btn-block vote-btn pointer-cursor" for="vote_{{ forloop.counter }}">
          {{ choice_dict.choice_text }}
        </label>
        {% else %}
        <label class="btn btn-outline-success btn-block vote-btn success-bg black pointer-cursor"
               for="vote_{{ forloop.counter }}">
          {{ choice_dict.choice_text }}
        </label>
        {% endif %}

        <!--NEGATIVE BUTTON-->
        {% elif choice_dict.choice_karma == 'negative' %}
        {% if choice_dict.choice_voted %}
        <label class="btn btn-danger btn-block vote-btn pointer-cursor" for="vote_{{ forloop.counter }}">
          {{ choice_dict.choice_text }}
        </label>
        {% else %}
        <label class="btn btn-outline-danger btn-block vote-btn danger-bg black pointer-cursor"
               for="vote_{{ forloop.counter }}">
          {{ choice_dict.choice_text }}
        </label>
        {% endif %}
        {% endif %}

        <input type="submit" class="btn btn-block vote-btn invisible" name="choice"
               id="vote_{{ forloop.counter }}" value="{{ choice_dict.choice }}">

      </form>
    </div>
    {% endfor %}


    {% if film_voted %}
    <form class="text-center mt-3" action="{% url 'democracy:delete_vote' club.id film.id view_option order_option display_option %}"
          method="POST">
      {% csrf_token %}

      <label for="delete-vote" class="badge badge-white-to-black pointer-cursor">{% trans 'Delete vote' %}</label><br>
      <input type="submit" class="invisible" id="delete-vote">

    </form>
    {% endif %}


    {% elif film.seen %}


    <h4 class="text-center h4 my-4">
      {% blocktrans with date=film.seen_date %}
      Seen in session on {{ filter_title }}{{ date }} by:
      {% endblocktrans %}
    </h4>


    <div class="container-fluid">

      <div class="row mt-4 justify-content-center">

        {% for member in film.seen_by.all %}

        <div class="col-auto">
          <div class="card">

            <a href="{% url 'democracy:club_member_detail' club.id member.id %}">
              <div class="participant">
                {% if member.profile_image %}
                <img class="card-img-top rounded-circle border border-secondary member-shadow"
                     src="{{ member.profile_image.url }}"
                     alt="member.profile_image not found">
                {% else %}
                <img class="card-img-top rounded-circle border border-secondary member-shadow"
                     src="{% static 'registration/svg/user_no_profile_image.svg' %}"
                     alt="member.profile_image not found">
                {% endif %}
              </div>
            </a>

            <div class="text-center p-1">
              <small>{{ member.username }}</small>
            </div>

          </div>
        </div>

        {% endfor %}

      </div>
    </div>


    {% endif %}


  </div>
  <!--END: VOTES / FILM SEEN TAB-->


  <!--START: REGISTERED VOTES TAB-->
  <div class="tab-pane fade px-2" id="nav-registered-votes" role="tabpanel"
       aria-labelledby="nav-registered-votes-tab">

    <h4 class="text-center h4 mt-4 mb-5">{% trans 'Registered votes on film' %}</h4>


    {% if film.vote_set.all %}

    <div class="container-comments mx-auto">

      {% for vote in film.vote_set.all %}

      <div class="media post my-2 mx-2">
        <div class="align-self-start mr-3 user-image">
          {% if vote.user.profile_image %}
          <img class="border border-secondary rounded-circle" title="{{ vote.user.username }}"
               src="{{ vote.user.profile_image.url }}"
               alt="vote.user.profile_image not found">
          {% else %}
          <img class="border border-secondary rounded-circle" title="{{ vote.user.username }}"
               src="{% static 'registration/svg/user_no_profile_image.svg' %}"
               alt="vote.user.profile_image not found">
          {% endif %}
          {% if vote.vote_karma == 'positive' %}
          <img class="hand-icon rounded-circle mt-n3 ml-4" style="height: 18px;"
               src="{% static 'democracy/svg/thumbsupwhite.svg'%}">
          {% elif vote.vote_karma == 'negative' %}
          <img class="hand-icon rounded-circle mt-n3 ml-4" style="height: 18px;"
               src="{% static 'democracy/svg/thumbsdownwhite.svg'%}">
          {% endif %}
        </div>
        <div class="">
          <p class="my-0 post-text py-1 pl-2 pr-3 border rounded-lg">
            <a class="strong-link" href="{% url 'democracy:club_member_detail' club.id vote.user.id %}">
              {{ vote.user.username }}</a>:
            <span>{{ vote.get_choice_display }}</span>
          </p>
        </div>
      </div>

      {% endfor %}

    </div>

    {% else %}


    <div class="text-center mt-n3 mb-5">{% trans 'There are no registered votes on this film yet...' %}</div>


    {% endif %}


  </div>
  <!--END: REGISTERED VOTES TAB-->


  <!--START: COMMENTS TAB-->
  <div class="tab-pane fade px-2" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">

    <h4 class="text-center h4 mt-4 mb-5">{% trans 'Club members comments' %}</h4>


    <div class="container-comments mx-auto">

      {% if film_comments %}

      {% for comment in film_comments %}

      <div class="media post my-1 mx-2">
        <div class="align-self-start mr-3 user-image">
          {% if comment.user.profile_image %}
          <img class="border border-secondary rounded-circle" title="{{ comment.user.username }}"
               src="{{ comment.user.profile_image.url }}"
               alt="comment.user.profile_image not found">
          {% else %}
          <img class="border border-secondary rounded-circle" title="{{ comment.user.username }}"
               src="{% static 'registration/svg/user_no_profile_image.svg' %}"
               alt="comment.user.profile_image not found">
          {% endif %}
        </div>
        <div class="">
          <p class="my-0 post-text py-1 pl-2 pr-3 border rounded-lg">
            <a class="strong-link" href="{% url 'democracy:club_member_detail' club.id comment.user.id %}">
              {{ comment.user.username }}</a>:
            {% if comment.deleted %}
            <span class="text-muted"><em>{% trans 'Comment deleted.' %}</em></span>
            {% else %}
            <span>{{ comment.text }}</span>
            {% endif %}
          </p>
          <div class="small text-muted ml-1 my-0 py-0 post-footer">

            {% if not comment.deleted %}
            {% if user == comment.user or user in club_admins %}
            <form class=""
                  action="{% url 'democracy:delete_film_comment' club.id film.id comment.id view_option order_option display_option %}"
                  method="POST">
              {% csrf_token %}
              {{ comment.date }} | <label for="delete-post_{{ forloop.counter }}" class="my-n2 py-n2 pointer-cursor">
              {% trans 'Delete' %}</label>
              <input type="submit" class="invisible" id="delete-post_{{ forloop.counter }}">
            </form>
            {% else %}
            {{ comment.date }}
            {% endif %}
            {% elif comment.deleted %}
            {{ comment.date }}
            {% endif %}
          </div>

        </div>
      </div>

      {% endfor %}

      {% else %}

      <div class="text-center my-5">cri cri...</div>

      {% endif %}

    </div>


    <!--START: POST FORM-->
    <div class="mx-4">
      <div class="media form-post mx-auto">
        <div class="align-self-center mr-3 user-image">
          {% if user.profile_image %}
          <img class="border border-secondary rounded-circle" src="{{ user.profile_image.url }}"
               alt="user.profile_image not found">
          {% else %}
          <img class="rounded-circle"
               src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="user.profile_image not found">
          {% endif %}
        </div>
        <form class="mx-auto" action="{% url 'democracy:comment_film' club.id film.id view_option order_option display_option %}"
              method="POST">
          {% csrf_token %}

          <div class="input-group mx-auto">
      <textarea class="form-control" aria-label="With textarea" name="text"
                placeholder="{% trans 'Write a comment...' %}"></textarea>
            <div class="input-group-append">
              <button type="submit" class="btn btn-sm btn-green-to-blue">
                <img style="max-height: 18px;" class="align-self-center mr-1"
                     src="{% static 'democracy/svg/send.svg'%}">
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <!--END: POST FORM-->


  </div>
  <!--END: COMMENTS TAB-->


</div>


<!-- START MODAL POSTER -->
<div class="modal fade" id="PosterModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5 pt-2 text-center mx-0 bg-dark">
        <div class="text-right mb-3">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <br>
        </div>
        <div>
          <img src="{{ film.filmdb.poster_url }}" alt="poster image not found">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POSTER -->


<!--START: MODAL DELETE-->
<div class="modal fade" id="DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="DeleteModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalCenterTitle">{% trans 'Delete film' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans 'Are you sure you want to delete this film?' %}
        {% trans 'All its attached information will be lost...' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm" data-dismiss="modal">
          {% trans 'Cancel' %}
        </button>
        <form method="POST" action="{% url 'democracy:delete_film' club.id film.id view_option order_option display_option %}"
              class="text-center">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm btn-outline-danger mx-3">
            {% trans 'Confirm' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END: MODAL DELETE-->


<!--START: MODAL ADD FAFF-->
<div class="modal fade" id="AddFaffModalCenter" tabindex="-1" role="dialog" aria-labelledby="AddFaffModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="POST" action="{% url 'democracy:add_filmaffinity_url' club.id film.id view_option order_option display_option %}"
            class="text-center">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="AddFaffModalCenterTitle">{% trans 'Add FilmAffinity page' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group m-4">
          <input class="form-control" type="text" placeholder="FilmAffinity url" id="faff_url" name="faff_url"
                 aria-describedby="FaffWeb">
          <a href="https://www.filmaffinity.com/" target="blank" id="FaffWeb" class="form-text text-left ml-2">
            <small>{% trans 'Open FilmAffinity.com in a new tab' %}</small>
          </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" data-dismiss="modal">
            {% trans 'Cancel' %}
          </button>

          <button type="submit" class="btn btn-sm btn-green-to-blue mx-3">
            {% trans 'Add' %}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
<!--END: MODAL ADD FAFF-->


{% endblock %}