{% extends 'base.html' %}

{% block title %}Lista de películas{% endblock %}

{% block pagecontent %}
<div>
<h2>Lista de películas propuestas</h2>

Estas son las películas propuestas; pincha en ellas y vota.
{% if list_of_films %}
    <ul>
    {% for film in list_of_films %}
        {% if not film.seen %}
            <li><a href="{% url 'democracy:film_detail' film.id %}">{{ film.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No hay películas propuestas.</p>
{% endif %}
</div>

<div>
<table>
<tr>
    <td><form>
            <button formaction="{% url 'democracy:film_add_new' %}">Añadir película</button>
    </form></td>
    <td><form>
            <button formaction="{% url 'democracy:participants' %}">Generar ranking de puntuación</button>
    </form></td>
</tr>
</table>
</div>

<p></p>

<div>
<h5>Últimas películas propuestas</h5>
<ul>
{% for film in last_proposed_films %}
    <li><a href="{% url 'democracy:film_detail' film.id %}">{{ film.title }}</a> (propuesta por {{ film.proposed_by }} el {{ film.pub_date }})</li>
{% endfor %}
</ul>
</div>

<div>
<h5>Últimas películas vistas</h5>
<ul>
{% for film in last_seen_films %}
    {% if film.seen %}
    <li><a href="{% url 'democracy:film_detail' film.id %}">{{ film.title }}</a> (vista en sesión el {{ film.seen_date }})</li>
    {% endif %}
{% endfor %}
</ul>
</div>

{% endblock %}