{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/film_base.css' %}">
{% endblock %}

{% block pagecontent %}


<div class="jumbotron jumbotron-fluid border-bottom border-secondary bg-light shadow-sm">

  <div class="container-fluid container-title pb-2 pt-3 text-light shadow-sm">
    <h1 class="font-weight-normal text-center">{{ film.title }}</h1>
  </div>

  <div class="container-fluid px-4 pt-4 pb-3">

    <div class="row">

      <div class="col-sm-3">
        <a href="#">
          <img class="img-fluid border-top" src="{{ film.poster_url }}" alt="poster image not found"
               data-toggle="modal" data-target="#PosterModalCenter">
        </a>
      </div>


      <div class="col-md-9">

        <div class="mb-2 text-muted">
          {% blocktrans with name=film.proposed_by.username date=film.pub_date %}
          <strong>Proposed by:</strong> {{ name }}, the {{ date }}
          {% endblocktrans %}
        </div>


        <div class="row mb-2">
          <div class="col-auto">
            <a href="{{ film.imdb_url }}" target="blank">
              {% trans 'See IMDb page' %}
            </a>
          </div>
          <div class="col-auto">
            {% if film.faff_id %}
            <a class="mx-1" href="{{ film.faff_url }}" target="blank">
              {% trans 'See FilmAffinity page' %}
            </a>
            {% elif not film.faff_id %}
            <a href="{% url 'democracy:film_add_faff' film.id %}" class="badge badge-success">
              {% trans 'Add FilmAffinity url' %}
            </a>
            {% endif %}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-auto"><strong>{% trans 'Year' %}</strong>: {{ film.year }}</div>
          <div class="col-auto"><strong>{% trans 'Duration' %}</strong>: {{ film.duration }} min</div>
          <div class="col-auto"><strong>{% trans 'Rated' %}</strong>: {{ film.rated }}</div>
          <div class="col-auto"><strong>{% trans 'Country' %}</strong>: {{ film.country }}</div>
        </div>

        <p>{{ film.plot }}</p>

        <table class="table table-sm table-borderless table-details">
          <tr>
            <th class="text-right" scope="row">{% trans 'Director' %}:</th>
            <td>{{ film.director }}</td>
          </tr>
          <tr>
            <th class="text-right" scope="row">{% trans 'Writer' %}:</th>
            <td>{{ film.writer }}</td>
          <tr>
            <th class="text-right" scope="row">{% trans 'Actors' %}:</th>
            <td>{{ film.actors }}</td>
          </tr>
        </table>

      </div>
    </div>

  </div>
</div>

{% block content %}
{% endblock %}

{% endblock %}