{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/film_seen.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/select_members.css' %}">
{% endblock %}

{% block title %}{% trans 'Mark film as seen' %}{% endblock %}

{% block content %}


<h3 class="h3">{% trans 'Mark film as seen by club' %}</h3>


<div class="text-center my-4">
  <img class="card-img-top film-poster border border-secondary" src="{{ film.db.poster_url }}"
       alt="film.poster not found">
</div>


<!--START: FILM SEEN FORM-->
<form id="formSubmit1" class="form-standard form-select-members form-film-seen" method="POST">
  {% csrf_token %}

  <div class="form-inputs">

    <!--DATE-->
    <div class="form-input-field">
      <div class="label mb-3">
        {% trans 'When was this film seen?' %}
      </div>
      {% if form.is_bound %}
      {% if form.seen_date.errors %}
      {% render_field form.seen_date class="form-control date-field is-invalid" type="date" %}
      {% for error in form.seen_date.errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
      {% else %}
      {% render_field form.seen_date class="form-control date-field is-valid" type="date" %}
      {% endif %}
      {% else %}
      {% render_field form.seen_date class="form-control date-field" type="date" %}
      {% endif %}
    </div>


    <!--MEMBERS-->
    <div class="label mb-3">
      {% trans 'Who were there? Click on the pictures.' %}
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center">

        {% for member in club_members %}

        <div class="col col-auto">
          <div class="card">

            <input type="checkbox" name="members" id="member{{ forloop.counter }}" value="{{ member.id }}">
            <label for="member{{ forloop.counter }}">
                {% if member.profile_image %}
                <img class="card-img-top rounded-circle border border-secondary"
                     src="{{ member.profile_image.url }}" alt="member.profile_image not found">
                {% else %}
                <img class="card-img-top rounded-circle border border-secondary"
                     src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="member.profile_image not found">
                {% endif %}
            </label>
            <span>{{ member.username }}</span>

          </div>
        </div>

        {% endfor %}

      </div>
    </div>


  </div>

  <button type="submit" id="btnSpinner1" class="btn btn-standard btn-green-to-blue">{% trans 'Seen!' %}</button>

</form>
<!--END: FILM SEEN FORM-->


<div class="text-center strong-link my-5">
  <a href="{% url 'democracy:film_detail' club.id film.public_id film.db.slug %}">{% trans 'Go back to film' %}</a>
</div>


{% endblock %}
