{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/invite_new_member.css' %}">
{% endblock %}

{% block title %}{% trans 'Invitation email sent' %}{% endblock %}

{% block content %}


<h3 class="h3">{% trans 'Invitation email sent' %}</h3>

<div class="alert alert-success px-5 my-5 mx-4 text-center" role="alert">
  <strong>
    {% trans 'An invitation email has been sent.' %}
  </strong>
</div>


<form class="btn-cancel" action="{% url 'democracy:club_detail' club.id %}">
  <button type="submit" class="btn btn-sm">{% trans 'Go back to club' %}</button>
</form>


{% endblock %}
