{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/invite_new_member.css' %}">
{% endblock %}

{% block title %}{% trans 'Club invitation' %}{% endblock %}

{% block pagecontent %}


{% if validlink %}


<h3 class="h3">{% trans 'Join club' %}</h3>

<div class="alert alert-success px-5 my-5 text-center" role="alert">
  <strong>
    {% trans 'You have been invited to join the club: ' %}{{ club.name }}
  </strong>
</div>


<form class="form-invitation" method="POST" novalidate>
  {% csrf_token %}

  <input class="btn btn-block btn-success" type="submit" value="{% trans 'Accept invitation' %}">

</form>


<form class="btn-sm-cancel" action="{% url 'home' %}">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>


{% else %}


<!--START: INVALID INVITATION LINK-->
<div class="alert alert-danger px-5 my-5 text-center" role="alert">
  <strong>
    {% trans 'Sorry, this invitation link is either not active anymore, or not valid for you.' %}
  </strong>
</div>


<form class="btn-sm-cancel" action="{% url 'home' %}">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Home' %}</button>
</form>
<!--END: INVALID INVITATION LINK-->


{% endif %}


{% endblock %}