{% extends "core/base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{% endblock %}

{% block title %}{% trans 'Club invitation' %}{% endblock %}

{% block pagecontent %}


{% if valid_link %}


<h3 class="h3">{% trans 'Join club' %}</h3>

<div class="alert alert-success form-message" role="alert">
  {% trans 'You have been invited to join the club: ' %}{{ club.name }}
</div>


<form class="form-standard" method="POST" novalidate>
  {% csrf_token %}

  <div>
    <button type="submit" name="response_choice" value="accept" class="btn btn-standard btn-green-to-blue mb-4">{% trans 'Accept invitation' %}</button>
  </div>

  <div>
    <button type="submit" name="response_choice" value="decline" class="btn btn-standard btn-outline-danger">{% trans 'Decline invitation' %}</button>
  </div>

</form>


{% else %}


<!--START: INVALID INVITATION LINK-->
<div class="alert alert-danger form-message" role="alert">
  {% trans 'Sorry, this invitation is either not active anymore, or not valid for you.' %}
</div>
<!--END: INVALID INVITATION LINK-->


{% endif %}


<div class="text-center strong-link my-5">
  <a href="{% url 'core:home' %}">{% trans 'Go to home' %}</a>
</div>


{% endblock %}