{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/meetings.css' %}">
{% endblock %}

{% block title %}{% trans 'Organize new meeting' %}{% endblock %}

{% block content %}


<h1 class="display-4">{% trans 'Programmed meetings' %}</h1>


{% if club_meetings %}


{% for meeting in club_meetings %}
<!--START: MEETING CARD-->
<div class="card meeting-card mx-4 shadow-sm my-4">
  <div class="card-body mb-n3">

    <div class="row justify-content-between meeting-header">
      <div class="col-auto">
        <h5 class="h5">{{ meeting.name }}</h5>
      </div>
      <div class="col-auto">
        <span class="text-muted">{% trans 'Organized by' %}
          <a class="text-body" href="{% url 'democracy:club_member_detail' club.id meeting.organizer.id %}">
            {{ meeting.organizer.username }}
          </a>
        </span>
      </div>
    </div>

    <hr>

    {% if meeting.description %}
    <p>{{ meeting.description }}</p>
    <hr>
    {% endif %}

    <!--START: MEETING TIME DETAILS-->
    <div class="row justify-content-start mb-2 mt-n2">
      <div class="col-auto">
        <div class="media">
          <img style="min-height: 18px;" class="align-self-center mr-2" src="{% static 'democracy/svg/place.svg'%}">
          <span class="text-muted">{{ meeting.place }}</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="media">
          <img style="min-height: 18px;" class="align-self-center mr-2"
               src="{% static 'democracy/svg/calendar.svg'%}">
          <span class="text-muted">{{ meeting.date }}</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="media">
          <img style="min-height: 18px;" class="align-self-center mr-2" src="{% static 'democracy/svg/clock.svg'%}">
          <span class="text-muted">{{ meeting.time_start }}</span>
          {% if meeting.time_end %}
          <span class="text-muted mx-2">-</span><span class="text-muted"> {{ meeting.time_end }}</span>
          {% endif %}
        </div>
      </div>
    </div>
    <!--END: MEETING TIME DETAILS-->


    <!--START: MEETING ASSISTANCE DETAILS-->
    {% if meeting.members_yes.all %}
    <div>
      <strong>{% trans 'Confirmed:' %}</strong>
      {% for member in meeting.members_yes.all %}
      {% if forloop.counter == meeting.members_yes.all|length %}
      <a class="text-body" href="{% url 'democracy:club_member_detail' club.id member.id %}">{{ member.username }}</a>
      {% else %}
      <a class="text-body" href="{% url 'democracy:club_member_detail' club.id member.id %}">{{ member.username }}</a>,
      {% endif %}

      {% endfor %}
    </div>
    {% endif %}
    {% if meeting.members_maybe.all %}
    <div>
      <strong>{% trans 'Interested:' %}</strong>
      {% for member in meeting.members_maybe.all %}
      {% if forloop.counter == meeting.members_maybe.all|length %}
      <a class="text-body" href="{% url 'democracy:club_member_detail' club.id member.id %}">{{ member.username }}</a>
      {% else %}
      <a class="text-body" href="{% url 'democracy:club_member_detail' club.id member.id %}">{{ member.username }}</a>,
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    <!--START: MEETING ASSISTANCE DETAILS-->


    <!--START: ASSISTANCE / EDIT BUTTONS-->
    <div class="row mt-2">

      <!--CONFIRM ASSISTANCE BUTTON-->
      <div class="col-sm-auto mt-1 mb-n3">
        <form action="{% url 'democracy:meeting_assistance' club.id meeting.id %}" method="POST">
          {% csrf_token %}
          {% if user in meeting.members_yes.all %}
          <label class="btn btn-sm btn-block btn-primary btn-meeting-assistance" for="yes_{{ forloop.counter }}">
            {% trans 'Confirm assistance' %}
          </label>
          {% else %}
          <label class="btn btn-sm btn-block btn-outline-primary btn-meeting-assistance"
                 for="yes_{{ forloop.counter }}">
            {% trans 'Confirm assistance' %}
          </label>
          {% endif %}
          <input type="submit" class="invisible my-n5 mx-n5" name="yes" id="yes_{{ forloop.counter }}" value="yes">
        </form>
      </div>

      <!--I'M INTERESTED BUTTON-->
      <div class="col-sm-auto mt-1 mb-n3">
        <form action="{% url 'democracy:meeting_assistance' club.id meeting.id %}" method="POST">
          {% csrf_token %}
          {% if user in meeting.members_maybe.all %}
          <label class="btn btn-sm btn-block btn-primary btn-meeting-assistance" for="maybe_{{ forloop.counter }}">
            {% trans "I'm interested" %}
          </label>
          {% else %}
          <label class="btn btn-sm btn-block btn-outline-primary btn-meeting-assistance"
                 for="maybe_{{ forloop.counter }}">
            {% trans "I'm interested" %}
          </label>
          {% endif %}
          <input type="submit" class="invisible my-n5 mx-n5" name="maybe" id="maybe_{{ forloop.counter }}"
                 value="maybe">
        </form>
      </div>

      <!--DELETE BUTTON-->
      {% if user == meeting.organizer or user in club_admins%}
      <div class="col-sm-auto ml-auto mt-1 mb-2">
        <button type="button" class="btn btn-sm btn-block btn-outline-danger btn-meeting-edit" data-toggle="modal"
                data-target="#DeleteMeetingModal">
          {% trans 'Delete' %}
        </button>
      </div>
      {% endif %}

      <!--EDIT BUTTON-->
      {% if user == meeting.organizer %}
      <div class="col-sm-auto mt-1 mb-2">
        <form action="{% url 'democracy:meetings_edit' club.id meeting.id %}" class="text-center">
          <button type="submit" class="btn btn-sm btn-block btn-success btn-meeting-edit">
            {% trans 'Edit' %}
          </button>
        </form>
      </div>
      {% endif %}

    </div>
    <!--END: ASSISTANCE / EDIT BUTTONS-->

  </div>
</div>
<!--END: MEETING CARD-->
{% endfor %}


{% else %}


<div class="alert alert-warning text-center mt-3">
  <strong>{% trans 'There are no club meetings planned...' %}</strong>
  <a href="{% url 'democracy:meetings_new' club.id %}" class="btn btn-success ml-3">
    {% trans 'Organize one!' %}</a>
</div>


{% endif %}


<form class="btn-sm-cancel" action="{% url 'democracy:club_detail' club.id %}">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Back to club' %}</button>
</form>


{% endblock %}
