{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/form_meetings.css' %}">
{% endblock %}

{% block title %}
{% if new_meeting %}
  {% trans 'Organize new meeting' %}
{% else %}
  {% trans 'Edit meeting' %}
{% endif %}
{% endblock %}

{% block content %}


{% if new_meeting %}
  <h3 class="h3">{% trans 'Organize new meeting' %}</h3>
{% else %}
  <h3 class="h3">{% trans 'Edit meeting' %}</h3>
{% endif %}


<!--START: MEETING FORM-->
<form class="form-standard form-meeting" method="POST" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="form-inputs">

    <!--NAME-->
    <div class="form-input-field">
      <div class="label">
        {{ form.name.label_tag }}
      </div>
      {% if form.is_bound %}
      {% if form.name.errors %}
      {% render_field form.name class="form-control is-invalid" %}
      {% else %}
      {% render_field form.name class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.name class="form-control" %}
      {% endif %}
      {% for error in form.name.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>

    <!--PLACE-->
    <div class="form-input-field">
      <div class="label">
        {{ form.place.label_tag }}
      </div>
      {% if form.is_bound %}
      {% if form.place.errors %}
      {% render_field form.place class="form-control is-invalid" %}
      {% else %}
      {% render_field form.place class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.place class="form-control" %}
      {% endif %}
      {% for error in form.place.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>

    <!--DATE & TIME-->
    <div class="form-input-field form-date-time">

      <div class="form-row justify-content-center">

        <!--DATE-->
        <div class="col-6">

          <div class="label">
            {{ form.date.label_tag }}
          </div>
          {% if form.is_bound %}
          {% if form.date.errors %}
          {% render_field form.date class="form-control date-field is-invalid" type="date" %}
          {% else %}
          {% render_field form.date class="form-control date-field is-valid" type="date" %}
          {% endif %}
          {% else %}
          {% render_field form.date class="form-control date-field" type="date" %}
          {% endif %}
          {% for error in form.date.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
        </div>

        <!--START TIME-->
        <div class="col-6">

          <div class="label">
            {{ form.time_start.label_tag }}
          </div>
          {% if form.is_bound %}
          {% if form.time_start.errors %}
          {% render_field form.time_start class="form-control time-field is-invalid" type="time" %}
          {% else %}
          {% render_field form.time_start class="form-control time-field is-valid" type="time" %}
          {% endif %}
          {% else %}
          {% render_field form.time_start class="form-control time-field" type="time" %}
          {% endif %}
          {% for error in form.time_start.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
        </div>

      </div>

    </div>

    <!--DESCRIPTION-->
    <div class="form-input-field form-description">
      <div class="label">
        {{ form.description.label_tag }}
      </div>
      {% if form.is_bound %}
      {% if form.description.errors %}
      {% render_field form.description class="form-control description-text is-invalid" %}
      {% else %}
      {% render_field form.description class="form-control description-text is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.description class="form-control description-text" %}
      {% endif %}
      {% for error in form.description.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>

    <!--START: SEND NOTIFICATION EMAILS-->
    <div class="form-input-field" style="max-width: 99%">

      <!--NEW MEETING-->
      {% if new_meeting %}

      <div class="row align-items-center justify-content-center">
        <div class="col col-auto my-2">
          {% trans 'Send notification email to club members:' %}
        </div>
        <div class="col col-auto my-2">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="send_spam" id="send_spam"
                   value="send_spam" checked>
            <label class="custom-control-label" for="send_spam"></label>
          </div>
        </div>
      </div>

      <!--EDIT MEETING-->
      {% else %}

      <div class="row align-items-start justify-content-center">
        <div class="col col-auto my-2">
          {% trans 'Send notification email to:' %}
        </div>
        <div class="col col-auto text-left my-2">
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="spam_options" value="all" class="custom-control-input" checked>
            <label class="custom-control-label" for="customRadio1">{% trans 'Club members' %}</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="spam_options" value="interested" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">{% trans 'Only members that checked the meeting' %}</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="spam_options" value="noone" class="custom-control-input">
            <label class="custom-control-label" for="customRadio3">{% trans 'No one' %}</label>
          </div>
        </div>
      </div>

      {% endif %}

    </div>
    <!--END: SEND NOTIFICATION EMAILS-->

  </div>

  <input class="btn btn-standard btn-green-to-blue" type="submit" value="{% trans 'Publish' %}">

</form>
<!--END: MEETING FORM-->


{% if not new_meeting %}
  <div class="text-center my-5">
    <a class="text-danger text-decoration-none pointer-cursor" data-toggle="modal" data-target="#DeleteMeetingModal">
      {% trans 'Delete meeting' %}
    </a>
  </div>
{% endif %}


<div class="text-center strong-link my-5">
  <a href="{% url 'democracy:club_detail' club.id %}">{% trans 'Go back to club' %}</a>
</div>


<!--START: MODAL DELETE MEETING-->
<div class="modal fade modal-delete" id="DeleteMeetingModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <h5 class="h5 mb-4" >{% trans 'Delete meeting' %}</h5>

        <p>{% trans 'Are you sure about this?' %}</p>

        <div class="d-flex flex-row justify-content-end">

          <button type="button" class="btn strong-link mx-3" data-dismiss="modal" aria-label="Close">
            {% trans 'Cancel' %}
          </button>

          <form method="POST" action="{% url 'democracy:delete_meeting' club.id meeting.id %}" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger mx-3">
              {% trans 'Confirm' %}
            </button>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>
<!--END: MODAL DELETE MEETING-->


{% endblock %}
