{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/meeting_card.css' %}">
{% endblock %}

{% block title %}{% trans 'Programmed meetings' %}{% endblock %}

{% block content %}


<div class="page-title">
  <span>{% trans 'Programmed meetings' %}</span>
</div>


<div class="text-center mb-5">
    <a class="" href="{% url 'democracy:meetings_new' club.id %}">
    {% trans 'Propose a new meeting' %}
    </a>
</div>


{% if club_meetings %}


  {% for meeting in club_meetings %}
    {% include "democracy/meeting_card.html" %}
  {% endfor %}


{% else %}


<div class="text-center mt-5">
  {% trans 'There are no club meetings planned...' %}
  <div>
    <a href="{% url 'democracy:meetings_new' club.id %}" class="btn btn-green-to-blue my-3">
      {% trans 'Organize one!' %}
    </a>
  </div>
</div>


{% endif %}


<div class="text-center strong-link my-5">
  <a href="{% url 'democracy:club_detail' club.id %}">{% trans 'Go back to club' %}</a>
</div>


{% endblock %}
