{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/democracy_base.css' %}">
{% endblock %}

{% block title %}{% trans 'Participants' %}{% endblock %}

{% block pagecontent %}

<div class="container text-center mt-5">
  <h1 class="display-4">{% trans 'Film elections' %}</h1>
  <p class="lead text-muted">{% trans 'Let the people talk' %}</p>
</div>


<form action="{% url 'democracy:vote_results' %}" method="GET">
  {% csrf_token %}

  <div class="text-center">
    <input type="submit" class="btn btn-lg btn-warning my-2 mb-5" value="{% trans 'Count votes' %}">
  </div>

  <div class="album pt-4 border bg-light">
    <div class="container">

      <p class="text-center">{% trans 'Who is present? Click on their picture and count their votes.' %}</p>

      <div class="row mt-4 justify-content-center">

        {% for user in all_users %}

        <div class="col-md-3">
          <div class="card mb-4 shadow-sm mx-auto" style="width: 10rem;">

            <label for="participants{{ forloop.counter }}">
              <div class="hovereffect-participant">
                {% if user.profile_image %}
                <img class="card-img-top border border-secondary"
                     src="{{ user.profile_image.url }}"
                     alt="user.profile_image not found">
                {% else %}
                <img class="card-img-top border border-secondary"
                     src="{% static 'registration/user_no_profile_image.png' %}"
                     alt="user.profile_image not found">
                {% endif %}
              </div>
            </label>

            <div class="custom-control custom-checkbox mx-auto mb-1">
              <input type="checkbox" class="custom-control-input" name="participants"
                     id="participants{{ forloop.counter }}" value="{{ user.username }}">
              <label class="custom-control-label mr-4" for="participants{{ forloop.counter }}">
                {{ user.username }}</label>
            </div>


          </div>
        </div>


        {% endfor %}

      </div>

    </div>
  </div>

</form>

  <div class="text-center my-4"><a href="{% url 'democracy:candidate_films' %}">
    {% trans 'Go back to candidate films' %}</a></div>

{% endblock %}
