{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/ranking.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/select_members.css' %}">
{% endblock %}

{% block title %}{% trans 'Participants' %}{% endblock %}

{% block content %}


<div class="page-title">
  <span>{% trans 'Film ranking' %}</span>
</div>

<div class="page-subtitle">
  <span>{% trans 'Who is present?' %}</span><br>
  <span>{% trans 'Click on their picture and count their votes.' %}</span>
</div>


<form class="form-participants form-select-members" action="{% url 'democracy:vote_results' club.id %}" method="GET">
  {% csrf_token %}


  <!--START: PARTICIPANTS-->
    <div class="container-fluid">

      <div class="row justify-content-center">

        {% for member in club_members %}

        <div class="col col-auto">
          <div class="card">

            <input type="checkbox" name="members" id="member{{ forloop.counter }}" value="{{ member.id }}">
            <label for="member{{ forloop.counter }}">
                {% if member.profile_image %}
                <img class="card-img-top rounded-circle border border-secondary" src="{{ member.profile_image.url }}"
                     alt="member.profile_image not found">
                {% else %}
                <img class="card-img-top rounded-circle border border-secondary"
                     src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="member.profile_image not found">
                {% endif %}
            </label>

            <span>{{ member.username }}</span>

          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  <!--END: PARTICIPANTS-->

  <!--RANKING OPTIONS-->
  <div class="ranking-options">

    <h3 class="h3">{% trans 'Ranking options' %}</h3>
    <hr>

    <!--EXCLUDE FILMS PROPOSED BY MEMBERS NOT PRESENT-->
    <div class="row align-items-center mx-1 mt-2">
      <div class="col-md-6">
          <div class="float-md-right">
            <strong>{% trans 'Exclude films proposed by members not present:' %}</strong>
          </div>
      </div>
      <div class="col-md-auto my-2">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="exclude_not_present" id="exclude_not_present"
                 value="exclude_not_present">
          <label class="custom-control-label" for="exclude_not_present"></label>
        </div>
      </div>
    </div>

    <!--MAX FILM DURATION-->
    <div class="row align-items-center mx-1 mt-2">
      <div class="col-md-6">
        <div class="float-md-right">
          <strong>{% trans 'Maximum film duration in minutes (optional):' %}</strong>
        </div>
      </div>
      <div class="col-md-auto my-2">
        <div>
          <input type="text" style='max-width: 75px' class="form-control mx-auto" name="max_duration" id="max_duration" value="">
        </div>
      </div>
    </div>

  </div>

  <input class="btn btn-lg btn-block btn-green-to-blue" type="submit" value="{% trans 'Count votes' %}">

</form>


{% endblock %}
