{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/candidate_films.css' %}">
<link rel="stylesheet" href="{% static 'core/css/dark_background.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/candidate_films_wide.css' %}">
{% endblock %}

{% block title %}{% trans 'Seen films' %}{% endblock %}

{% block content %}


<div class="page-title dark-title">
  <span>{% trans 'Films seen in club' %}</span>
</div>


{% if seen_films %}


<!--START: FILM PANEL-->
<div class="album films-album p-0 m-0 mt-4">

  <div class="row justify-content-center m-0 p-0">

    {% for film in seen_films|dictsort:"seen_date" %}

    <div class="col col-auto align-self-center p-0 my-2">
      <div class="card card-film">

          <a href="{% url 'democracy:film_detail' club.id film.public_id film.db.slug %}">
            <img class="card-img" src="{{ film.db.poster_url }}" alt="film.poster not found">
            <div class="overlay">
              <div class="film-title">{{ film.db.title }}</div>
            </div>
          </a>

      </div>
    </div>

    {% endfor %}

  </div>
</div>
<!--END: FILM PANEL-->


{% else %}


<div class="text-center text-muted mt-5">
  <span>{% trans 'No film has been seen in the club yet...' %}</span>
</div>


{% endif %}


<div class="text-center strong-link my-5">
  <a class="green-color blue-color-hover" href="{% url 'democracy:club_detail' club.id %}">{% trans 'Go back to club' %}</a>
</div>


<!--END: FILM PANEL-->


{% endblock %}