{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/candidate_films.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/dark_background.css' %}">
{% endblock %}

{% block title %}{% trans 'Seen films' %}{% endblock %}

{% block content %}


<h1 class="display-4">{% trans 'Films seen in club' %}</h1>
<p class="lead text-muted text-center">{% trans '(Hall of fame)' %}</p>


{% if seen_films %}


<!--START: FILM PANEL-->
<div class="album films-album mt-n5">

  <div class="row justify-content-center">

    {% for film in seen_films|dictsort:"seen_date" %}

    <div class="col col-auto align-self-center my-3">
      <div class="card card-film mx-auto">
          <a href="{% url 'democracy:film_detail' club.id film.id 'all' 'title' 'posters' %}">
            <img class="card-img" src="{{ film.filmdb.poster_url }}" alt="film.poster not found">
            <div class="overlay">
              <div class="film-title">{{ film.filmdb.title }}</div>
            </div>
          </a>
      </div>
    </div>

    {% endfor %}

  </div>
</div>
<!--END: FILM PANEL-->


{% else %}


<div class="text-center text-muted mt-5">
  <span>{% trans 'No film has been seen in the club yet...' %}</span>
</div>


{% endif %}


<form class="btn-cancel" action="{% url 'democracy:club_detail' club.id %}">
  <button type="submit" class="btn btn-sm">{% trans 'Back to club' %}</button>
</form>


<!--END: FILM PANEL-->


{% endblock %}