{% extends "democracy/base_club_banner.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'democracy/css/base_club_banner.css' %}">
<link rel="stylesheet" href="{% static 'democracy/css/shoutbox.css' %}">
{% endblock %}

{% block title %}{% trans 'Club Shoutbox' %}{% endblock %}

{% block content %}


<!--START: SHOUTBOX CONTAINER-->
<div class="container container-shoutbox overflow-auto border" id="DivShoutbox">


  {% if posts %}


  <!--POSTS-->
  {% for post in posts|dictsort:"date" %}
  <div class="row mx-n3 justify-content-start post">

    <!--DELETE ICON-->
    <div class="col col-1">
      {% if not post.deleted %}
      {% if user == post.user or user in club_admins %}
      <form class="text-center mb-n5 ml-0" action="{% url 'democracy:delete_shoutbox_post' club.id post.id %}"
            method="POST">
        {% csrf_token %}
        <label for="delete-icon_{{ forloop.counter }}" class="">
          <img class="pointer-cursor" style="height: 20px;" src="{% static 'democracy/svg/trashcan.svg'%}">
        </label>
        <input type="submit" class="invisible" id="delete-icon_{{ forloop.counter }}">
      </form>
      {% endif %}
      {% endif %}
    </div>

    <div class="col col-10">

      <!--NAME AND DATE-->
      <div class="row">
        <div class="col-auto mr-auto username">
          <a class="text-body" href="{% url 'democracy:club_member_detail' club.id post.user.id %}">
            <strong>{{ post.user.username }}</strong></a>
        </div>
        <div class="col-auto date">
          <span class="small text-muted">{{ post.date }}</span>
        </div>
      </div>

      <!--POST TEXT-->
      <div>
        {% if post.deleted %}
        <span class="text-muted"><em>{% trans 'Post deleted.' %}</em></span>
        {% else %}
        <span>{{ post.text }}</span>
        {% endif %}
      </div>

    </div>


  </div>
  {% endfor %}


  {% else %}


  <div class="text-center my-5">cri cri...</div>


  {% endif %}


</div>
<!--END: SHOUTBOX CONTAINER-->


<!--START: POST FORM-->
<form class="form-post" action="{% url 'democracy:post_in_shoutbox' club.id 'True' %}" method="POST">
  {% csrf_token %}

  <div class="input-group">
    <textarea class="form-control" aria-label="With textarea" name="text" placeholder="{% trans 'Say something' %}"></textarea>
    <div class="input-group-append">
      <input type="submit" class="btn btn-sm btn-green-to-blue" value="{% trans 'Post' %}">
    </div>
  </div>

</form>
<!--END: POST FORM-->


<form class="btn-cancel" action="{% url 'democracy:club_detail' club.id %}">
  <button type="submit" class="btn btn-sm">{% trans 'Back to club' %}</button>
</form>


<script>
  window.onload=function () {
     var objDiv = document.getElementById("DivShoutbox");
     objDiv.scrollTop = objDiv.scrollHeight;
}

</script>


{% endblock %}
