
/* General page structure
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px; /* Navbar height */
  padding-bottom: 0rem;
  background-color: #bababc;
  min-height: 45rem;
  margin-bottom: 40px; /* Footer height */
}

.container-base {
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  min-height: 65rem;
  max-width: 908px;
  background-color: #fafafa;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.65);
  padding-right: 0;
  padding-left: 0;
}
