
/* Link styles
-------------------------------------------------- */

.strong-link {
  font-weight: bold;
  color: #344a8d;
}

.strong-link:hover {
  color: #344a8d;
}

.danger-link {
  font-size: 0.9rem;
}

a {
  color: #344a8d;
}

a:hover {
  color: #344a8d;
}


/* Button styles
-------------------------------------------------- */


.btn-standard {
  font-size: 1rem !important;
  line-height: 2rem !important;
  font-weight: bold !important;
  min-width: 150px;
  max-width: 250px;
  width: 100%;
}

.btn:active {
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-md {
  font-size: 15px;
}

.btn-sm {
  font-size: 0.8rem;
}

.zoom-in-cursor {
  cursor: zoom-in;
}

.pointer-cursor {
  cursor: pointer;
}


/* Modal messages
-------------------------------------------------- */

.modal-message .modal-content {
  border: 0px;
}

.modal-message .modal-body {
  padding: 1.5rem;
  margin: 0px;
  border: 0px;
  font-weight: bold;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: white !important;
}

.modal-message .modal-footer {
  padding: 0;
}

.modal-message .btn-close-message-modal {
  width: 100%;
  font-size: 1rem !important;
  line-height: 2rem !important;
  padding: 1rem;
  border: 0px;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  font-weight: bold;
  background-color: white;
}

.modal-message .btn-close-message-modal:hover {
  text-decoration: none;
}


/* Button colors
-------------------------------------------------- */

.btn-white-to-gray {
  color: #282828;
  background-color: white;
  border: 1px solid rgba(40, 40, 40, 0.5);
}

.btn-white-to-gray:hover {
  color: white;
  background-color: #282828;
}

.btn-gray-to-color {
  color: #6c737d;
  background-color: #282828;
  font-weight: bold;
  border: none;
}

.btn-gray-to-color:hover {
  color: #fff;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.btn-green-to-blue {
  color: #fff;
  background-color: seagreen;
  border: none;
}

.btn-green-to-blue:hover {
  color: #fff;
  background-color: lightseagreen;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.btn-outline-green {
  color: seagreen;
  background-color: transparent;
  border: 1px solid seagreen;
}

.btn-outline-green:hover {
  color: #fff;
  background-color: seagreen;
  text-decoration: none;
  border: 1px solid seagreen;
  box-shadow: none;
}

.btn-blue {
  color: #fff;
  background-color: lightseagreen;
  border: none;
}

.btn-blue:hover {
  color: #fff;
  background-color: #1a918b;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.btn-outline-blue {
  color: lightseagreen;
  background-color: transparent;
  border: 1px solid lightseagreen;
}

.btn-outline-blue:hover {
  color: #fff;
  background-color: lightseagreen;
  text-decoration: none;
  border: 1px solid lightseagreen;
  box-shadow: none;
}

.badge-white-to-black {
  color: #282828;
  background-color: white;
  border: 1px solid rgba(40, 40, 40, 0.5);
  font-weight: bold;
}

.badge-white-to-black:hover {
  color: #fff;
  background-color: #282828;
}

.badge-black-to-white {
  color: #6c737d;
  background-color: transparent;
  border: 1px solid #282828;
}

.badge-black-to-white:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #6c737d;
}

.badge-green-to-blue {
  color: seagreen !important;
  background-color: transparent;
  border: 1px solid rgba(46, 139, 87, 0.5);
  font-weight: bold;
}

.badge-green-to-blue:hover {
  color: lightseagreen !important;
  border: 1px solid rgba(32, 178, 170, 0.5);
  background-color: transparent;
}

.badge-outline-danger {
  color: rgba(200, 0, 0, 1) !important;
  background-color: transparent;
  border: 1px solid rgba(200, 0, 0, 0.5);
  font-weight: bold;
}

.badge-outline-danger:hover {
  color: #fff !important;
  background-color: rgba(200, 0, 0, 1);
  border: 1px solid rgba(200, 0, 0, 1);
  background-color: rgba(200, 0, 0, 1);
}


/* Website colors
-------------------------------------------------- */
.dark1-bg {
  background-color: #bababc;
}

.dark1-style {
  color: #bababc;
}

.dark2-bg {
  background-color: #121317;
}

.dark2-style {
  color: #121317;
}

.light1-bg {
  background-color: #d1d1d1;
}

.light1-style {
  color: #d1d1d1;
}

.light2-bg {
  background-color: #A9A9A9;
}

.light2-style {
  color: #A9A9A9;
}

.light3-bg {
  background-color: lightgray;
}

.light3-style {
  color: lightgray;
}

.green-color {
  color: seagreen;
  text-decoration: none;
}

.green-color-hover:hover {
  color: seagreen;
  text-decoration: none;
}

.green-bg {
  background-color: seagreen;
}

.green-bg-hover:hover {
  background-color: seagreen;
}

.blue-color {
  color: lightseagreen;
  text-decoration: none;
}

.blue-color-hover:hover {
  color: lightseagreen;
  text-decoration: none;
}

.blue-bg {
  background-color: lightseagreen;
}

.blue-bg-hover:hover {
  background-color: lightseagreen;
}

.orange-color {
  color: #d7a03d;
  text-decoration: none;
}

.orange-color-hover:hover {
  color: #d7a03d;
  text-decoration: none;
}

.orange-bg {
  background-color: #d7a03d;
}

.orange-bg-hover:hover {
  background-color: #d7a03d;
}


/* Modal delete
-------------------------------------------------- */

.modal-delete .btn {
  font-size: 1rem !important;
  line-height: 2rem !important;
  font-weight: bold !important;
  width: 100px;
}


/* General stuff
-------------------------------------------------- */

.modal img {
  max-width: 80%;
  max-height: 25rem;
  margin: auto;
}

hr {
  max-width: 90% !important;
}

.page-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}

.page-subtitle {
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.dark-title {
  color: darkgray;
}
