
/* Webpage text style
-------------------------------------------------- */
.container-base {
  color: #d1d1d1;
}

.webpage-logo {
  max-width: 13rem;
}

.webpage-title {
  max-width: 65%
}

.home-section-title {
  font-weight: bold !important;
  text-align: center;
  font-size: 1.2rem;
}


/* Pending invitations
-------------------------------------------------- */
.pending-invitation {
  margin: auto;
  width: 95%;
  max-width: 600px;
  padding: 0.5rem 5px;
}

.pending-invitation img {
  border: 1px solid rgba(0, 0, 0, 1) !important;
  background-color: rgba(0, 0, 0, 1) !important;
}

a:hover {
}


/* Club image
-------------------------------------------------- */
.club-logo {
  position: relative;
  margin:0;
  padding:0;
  float:left;
  overflow: hidden;
  object-fit: cover;
  border: 3px solid black;
  background-color: black;
  border-radius: 1000px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.85);
  -webkit-transition:all .15s linear;
  transition:all .15s linear;
}

.club-logo:hover {
  border: 3px solid lightseagreen;
  background-color: lightseagreen;
}

.club-logo img {
  width: 8rem;
  height: 8rem;
  display:block;
  object-fit: cover;
  opacity:0.7;
  -webkit-transition:all .15s linear;
  transition:all .15s linear;
}

.club-logo:hover img {
  opacity:1;
}

.club-logo .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 2px solid black;
  border-radius: 6px;
  background-color:rgba(0,0,0,1);
  opacity:0.9;
  filter:alpha(opacity=90);
  -webkit-transition:all .15s linear;
  transition:all .15s linear;
}

.club-logo:hover .overlay {
  opacity:0.8;
  filter:alpha(opacity=80);
}

.club-logo .overlay p {
  font-weight: bold;
  color: darkgray;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  opacity:0.7;
  -webkit-transition:all .15s linear;
  transition:all .15s linear;
}

.club-logo:hover .overlay p {
  opacity:1 !important;
}

/* Log
-------------------------------------------------- */
.home-log {
  max-width: 600px;
  padding: 20px;
  margin: auto;
  color: darkgray;
}
