/* Navbar top fixed styles
-------------------------------------------------- */


/* Navbar general styles */

.navbar {
  height: 3.5rem;
  background-color: #07080a;
}

.navbar-container {
  max-width: 57rem;
  padding: 2px;
}

.navbar-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
}

/* Navbar icon styles */

.navbar-brand img {
  max-height: 30px;
}

.navbar .nav-item .nav-icon {
  opacity: 0.80;
}

.navbar .nav-item .nav-icon img {
  max-height: 35px;
}

.navbar .nav-item .nav-icon-rounded img {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 1000px;
  padding: 1px;
}

.navbar .nav-item .nav-icon-menu img {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 1px;
}

.navbar .nav-item .nav-icon:active {
  opacity: 1;
}

.navbar .nav-item .nav-icon:focus {
  opacity: 1;
}

.navbar .nav-item .nav-icon:hover {
  opacity: 1;
}


/* Navbar dropdown menu styles */

.navbar .nav-item .dropdown-toggle::after {
  display:none;
}

.navbar .dropdown {
  position: initial;
}

.navbar .nav-item .dropdown-menu {
  position: absolute;
  left: auto;
  right: 0;
  width: 96%;
  max-width: 57rem;
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
  border: 2px solid #282828;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6) !important;
}

.navbar .nav-item .dropdown-menu .active {
  color: black;
  background-color: #d1d1d1 !important;
}

.dropdown-menu .dropdown-header {
  line-height: 30px;
  color: #343a40 !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item .media {
  height: 54px;
  padding: 2px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .media img {
  width: 40px;
  height: 40px;
  object-fit: fill;
  background: rgba(0, 0, 0, 1) !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item .media-body {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
}

.navbar .nav-item .dropdown-menu .text-item {
  font-size: 1rem;
  line-height: 54px;
}

.navbar .nav-item .dropdown-menu .text-item:hover {
  background-color: transparent !important;
}

.navbar .nav-item .dropdown-menu .extra-item {
  color: seagreen !important;
}

.navbar .nav-item .dropdown-menu .extra-item:hover {
  color: lightseagreen !important;
}

.navbar .nav-item .dropdown-menu .logout-item {
  line-height: 54px;
}

.navbar .nav-item .dropdown-menu .logout-item:hover {
  background-color: transparent !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item .chat-item .first-line {
  font-size: 16px;
  line-height: 22px;
  padding: 0px;
  margin: 0px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .chat-item .second-line {
  font-size: 1rem;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .club-item .first-line {
  font-size: 1rem;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .club-item .second-line {
  font-size: 13px;
  line-height: 15px;
  padding: 0px;
  margin: 0px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .user-item .first-line {
  font-weight: bold;
  font-size: 1rem;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .user-item .second-line {
  font-size: 13px;
  line-height: 15px;
  padding: 0px;
  margin: 0px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .ntf-item .first-line {
  line-height: 15px;
  padding: 0px;
  margin: 0px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .ntf-item .first-line .first-line-club {
  font-size: 13px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .ntf-item .first-line .first-line-time-ago {
  font-size: 11px;
  margin-left: 5px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .ntf-item .second-line {
  font-size: 1rem;
  line-height: 17px;
  padding: 0px;
  margin: 0px;
  white-space: normal;
}

.navbar .nav-item .dropdown-menu .dropdown-item .menu-item .first-line {
  font-weight: bold;
  font-size: 1rem;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .menu-item .second-line {
  font-size: 13px;
  line-height: 15px;
  padding: 0px;
  margin: 0px;
}

.active.list-group-item {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #495057;
  border: 1px solid rgba(0, 0, 0, .125);
}

.navbar .nav-item .dropdown-menu .dropdown-item .club-chat-poster {
  color: #344a8d;
}

.btn-login {
  width: 140px;
  color: seagreen;
  background-color: transparent;
  border: 1px solid seagreen;
}

.btn-login:hover {
  color: #fff;
  text-decoration: none;
  background-color: lightseagreen;
}

.badge-count {
  margim: 0px;
  margin-bottom: -17px;
  padding: 0px;
  position: relative;
  width: 17px;
  height: 17px;
  bottom: 45px;
  left: 30px;
  font-size: 12px;
  line-height: 17px;
  font-weight: bold;
  color:white;
  background-color: red;
  border-radius: 100px;
}
