{% load static %}
{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'global/images/favicon.ico'%}"/>

  <title>
    {% block title %}{% endblock %} | FilmDemocracy
  </title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- General FilmDemocracy website styles -->
  <link rel="stylesheet" type="text/css" href="{% static 'global/css/base_filmdemocracy.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'global/css/common_utils.css' %}">

  <!-- Custom styles for child templates -->
  {% block styles %}
  {% endblock %}

  <!-- Additional head content for child templates -->
  {% block head %}
  {% endblock %}

</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!--START: NAVBAR-->
<nav id="NavBar" class="navbar navbar-expand navbar-dark navbar-color fixed-top navbar-shadow p-0">

  <div class="container navbar-container">

    <a class="navbar-brand ml-md-5 ml-3 align-self-center" href="{% url 'home' %}">
      <img class="d-md-none .d-lg-block" src="{% static 'global/svg/webname_greengray_short.svg'%}">
      <img class="d-none d-md-block" src="{% static 'global/svg/webname_greengray.svg'%}">
    </a>

    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"-->
    <!--            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--      <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->

    <!--    <div class="collapse navbar-collapse" id="navbarCollapse">-->

    {% if user.is_authenticated %}

    <ul class="navbar-nav ml-auto">


      <!--START: CHATS-->
      <li class="nav-item dropdown mx-md-3 mx-1 align-self-center">

        <a class="nav-link nav-icon dropdown-toggle pointer-cursor" id="navbarDropdownMenuLinkChat"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="" src="{% static 'global/svg/chat_bubble.svg'%}">
        </a>

        <div class="dropdown-menu py-0" aria-labelledby="navbarDropdownMenuLinkChat">

          <p class="dropdown-header py-0 px-3 m-0 text-center">
            <strong>{% trans 'Conversations' %}</strong>
          </p>

          {% if user.club_set.all or user.chat_user.all %}

          <!--START: CLUBS CHATS-->
          {% for userclub in user.club_set.all %}

          <div class="dropdown-divider p-0 m-0"></div>

          <a class="dropdown-item py-0 px-3" href="{% url 'democracy:chat_club' userclub.id %}">
            <div class="media chat-item">

              {% if userclub.logo %}
              <img class="align-self-center border border-secondary rounded-circle mr-2"
                   src="{{ userclub.logo.url }}" alt="club.logo not found">
              {% else %}
              <img class="align-self-center border border-secondary rounded-circle mr-2"
                   src="{% static 'democracy/images/club_no_logo.png' %}"
                   alt="userclub.logo not found">
              {% endif %}

              <div class="media-body align-self-center p-0 m-0">
                <p class="first-line"><strong>{{ userclub.name }}</strong></p>
                {% with last_post=userclub.chat_clubinfo_set.all.0.last_post %}
                {% if last_post %}
                <p class="second-line club-chat-poster">
                  <strong>{{ last_post.user_sender.username }}:</strong>
                  <span class="text-muted">{{ last_post.text }}</span>
                </p>
                {% endif %}
                {% endwith %}
              </div>

            </div>
          </a>

          {% endfor %}
          <!--END: CLUBS CHATS-->


          <!--START: USERS CHATS-->
          {% for chat_opened in user.chat_user.all %}

          <div class="dropdown-divider p-0 m-0"></div>

          <a class="dropdown-item py-0 px-3" href="{% url 'democracy:chat_users' chat_opened.user_known.id %}">
            <div class="media chat-item">

              {% if chat_opened.user_known.profile_image %}
              <img class="align-self-center border border-secondary rounded-circle mr-2"
                   src="{{ chat_opened.user_known.profile_image.url }}" alt="chat_opened.user_known.profile_image not found">
              {% else %}
              <img class="align-self-center border border-secondary rounded-circle mr-2"
                   src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="chat_opened.user_known.profile_image not found">
              {% endif %}

              <div class="media-body align-self-center p-0 m-0">
                <span style="font-weight: bold;">{{ chat_opened.user_known.username }}</span><br>
                <span class="second-line text-muted">
                  {{ chat_opened.last_post.text }}
                </span>
              </div>

            </div>

          </a>
          {% endfor %}
          <!--END: USERS CHATS-->


          <!--START: CONTACTS-->
          <div class="dropdown-divider p-0 m-0"></div>

          <a class="dropdown-item extra-item py-0 px-3 m-0 text-center" href="{% url 'democracy:contacts' %}">
            <strong class="align-self-center">
              {% trans 'Contacts' %}
            </strong>
          </a>
          <!--END: CONTACTS-->

          {% else %}

          <div class="dropdown-divider p-0 m-0"></div>

          <div class="dropdown-item py-0 px-3 m-0 text-center text-item text-secondary">
            <span>{% trans 'To start a conversation join a club first.' %}</span>
          </div>

          {% endif %}

        </div>


      </li>
      <!--END: CHATS-->


      <!--START: CLUBS-->
      <li class="nav-item dropdown mx-md-3 mx-1 align-self-center">

        <a class="nav-link nav-icon nav-icon-rounded dropdown-toggle pointer-cursor" id="navbarDropdownMenuLinkClub"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="" src="{% static 'global/svg/people.svg'%}">
        </a>

        <div class="dropdown-menu py-0" aria-labelledby="navbarDropdownMenuLinkClub">

          <p class="dropdown-header py-0 px-3 m-0 text-center">
            <strong>{% trans 'Clubs' %}</strong>
          </p>


          {% if user.club_set.all %}

            {% for userclub in user.club_set.all %}

            <div class="dropdown-divider p-0 m-0"></div>

            <a class="dropdown-item py-0 px-3 {% if club == userclub and page != 'chat' %} active {% endif %}"
               href="{% url 'democracy:club_detail' userclub.id %}">
              <div class="media club-item">

                {% if userclub.logo %}
                <img class="align-self-center border border-secondary rounded-circle mr-2"
                     src="{{ userclub.logo.url }}" alt="club.logo not found">
                {% else %}
                <img class="align-self-center border border-secondary rounded-circle mr-2"
                     src="{% static 'democracy/images/club_no_logo.png' %}"
                     alt="userclub.logo not found">
                {% endif %}

                <div class="media-body align-self-center p-0 m-0">
                  <p class="first-line text-dark p-0 m-0"><strong>{{ userclub.name }}</strong></p>
                  <p class="second-line text-secondary p-0 m-0">
                    {{ userclub.members.all|length }} {% blocktrans count userclub.members.all|length as _ %}member{% plural %}members{% endblocktrans %},
                    {{ userclub.film_set.all|length }} {% blocktrans count userclub.film_set.all|length as _ %}film{% plural %}films{% endblocktrans %},
                    {{ userclub.vote_set.all|length }} {% blocktrans count userclub.vote_set.all|length as _ %}vote{% plural %}votes{% endblocktrans %}
                  </p>
                </div>

              </div>
            </a>

            {% endfor %}


          {% else %}

          <div class="dropdown-divider p-0 m-0"></div>

          <div class="dropdown-item py-0 px-3 m-0 text-center text-item text-secondary">
            <span>{% trans 'You are not in any club yet... join or create one!' %}</span>
          </div>

          {% endif %}

          <div class="dropdown-divider p-0 m-0"></div>

          <a class="dropdown-item py-0 px-3 m-0 extra-item text-center" href="{% url 'democracy:create_club' %}">
            <strong>{% trans 'Create new club' %}</strong>
          </a>

        </div>

      </li>
      <!--END: CLUBS-->


      <!--START: USER-->
      <li class="nav-item mx-1 align-self-center">

        <!--START: ONLY SHOWN IN LARGE DISPLAYS-->
        <a class="d-none d-md-block nav-link user-icon nav-icon-rounded dropdown-toggle pointer-cursor" id="navbarDropdownMenuLinkUser"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if user.profile_image %}
          <img class="mr-1 rounded-circle" src="{{ user.profile_image.url }}"
               alt="user.profile_image not found">
          {% else %}
          <img class="mr-1 rounded-circle" src="{% static 'global/svg/person.svg'%}">
          {% endif %}
          <span>{{ user.username }}</span>
        </a>
        <!--END: ONLY SHOWN IN LARGE DISPLAYS-->

        <!--START: ONLY SHOWN IN SMALL DISPLAYS-->
        <a class="d-md-none .d-lg-block nav-link user-icon nav-icon-rounded dropdown-toggle pointer-cursor" id="navbarDropdownMenuLinkUser"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if user.profile_image %}
          <img class="mr-1 rounded-circle" src="{{ user.profile_image.url }}" alt="user.profile_image not found">
          {% else %}
          <img class="" src="{% static 'global/svg/person.svg'%}">
          {% endif %}
        </a>
        <!--END: ONLY SHOWN IN SMALL DISPLAYS-->

        <div class="dropdown-menu py-0" aria-labelledby="navbarDropdownMenuLinkUser">

          <p class="dropdown-header py-0 px-3 m-0 text-center">
            <strong>{% trans 'Profile' %}</strong>
          </p>

          <div class="dropdown-divider p-0 m-0"></div>

          <a class="dropdown-item py-0 px-3" href="{% url 'registration:account_info' %}">

            <div class="media user-item">

            {% if user.profile_image %}
            <img class="align-self-center border border-secondary rounded-circle mr-2"
                 src="{{ user.profile_image.url }}" alt="user.profile_image not found">
            {% else %}
            <img class="align-self-center border border-secondary rounded-circle mr-2"
                 src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="user.profile_image not found">
            {% endif %}

            <div class="media-body align-self-center p-0 m-0">
              <p class="first-line text-dark p-0 m-0"><strong>{{ user.username }}</strong></p>
              <p class="second-line text-secondary p-0 m-0">{{ user.email }}</p>
            </div>

            </div>

          </a>

          <div class="dropdown-divider p-0 m-0"></div>

          <a class="dropdown-item py-0 px-3 m-0 logout-item text-center text-secondary" href="{% url 'registration:user_logout' %}">
            <strong>{% trans 'Log out' %}</strong>
          </a>

        </div>

      </li>
      <!--END: USER-->


      <!--START: NOTIFICATIONS-->
      <li class="nav-item dropdown mr-3 mx-1 mr-md-5 align-self-center">

        <a class="nav-link nav-icon dropdown-toggle pointer-cursor" id="navbarDropdownNotifications"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="" src="{% static 'global/svg/bell_white.svg'%}" alt="bell image not found">
        </a>


          {% if notifications.unread_count > 0 %}
          <div class="badge-count text-center">
            <span>{{ notifications.unread_count }}</span>
          </div>
          {% endif %}

          <div class="dropdown-menu py-0" aria-labelledby="navbarDropdownNotifications">

          <p class="dropdown-header py-0 px-3 m-0 text-center">
            <strong>{% trans 'Notifications' %}</strong>
          </p>

          {% if notifications.list %}

          {% for ntf in notifications.list %}

          <div class="dropdown-divider p-0 m-0"></div>

          <form method="POST" action="{% url 'notification_dispatcher' ntf.type ntf.club.id ntf.object_id %}">
          {% csrf_token %}

          <input type="hidden" name="ntf_ids" value="{{ ntf.ntf_ids }}">

          <button class="dropdown-item py-0 px-3 {% if not ntf.read %} active {% endif %}">

            <div class="media notification-item">

              {% if ntf.activator %}
              {% if ntf.activator.profile_image %}
              <img class="align-self-center border border-secondary rounded-circle mr-2"
                   src="{{ ntf.activator.profile_image.url }}" alt="ntf.activator.profile_image not found">
              {% else %}
              <img class="align-self-center border border-secondary rounded-circle mr-2"
                   src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="ntf.activator.profile_image not found">
              {% endif %}
              {% endif %}

              <div class="media-body align-self-center p-0 m-0">
                <p class="first-line text-muted"><strong>{{ ntf.club.name }}</strong></p>
                <p class="second-line">

                  {% if ntf.type == 'joined' %}

                    {% blocktrans with new_member=ntf.activator.username %}
                      {{ new_member }} joined the club.
                    {% endblocktrans %}

                  {% elif ntf.type == 'promoted' %}

                    {% blocktrans with promoter=ntf.activator.username promoted=ntf.object_name %}
                      {{ promoted }} was promoted to admin by {{ promoter }}.
                    {% endblocktrans %}

                  {% elif ntf.type == 'promoted_self' %}

                    {% blocktrans with promoter=ntf.activator.username %}
                      You were promoted to admin by {{ promoter }}.
                    {% endblocktrans %}

                  {% elif ntf.type == 'left' %}

                    {% blocktrans with ex_member=ntf.activator.username %}
                      {{ ex_member }} left the club.
                    {% endblocktrans %}

                  {% elif ntf.type == 'addedfilm' %}

                    {% blocktrans with proposer=ntf.activator.username film=ntf.object_name %}
                      {{ proposer }} added a film: {{ film }}.
                    {% endblocktrans %}

                  {% elif ntf.type == 'addedfilms' %}

                    {% blocktrans with proposer=ntf.activator.username count=ntf.counter %}
                      {{ proposer }} added {{ count }} new films.
                    {% endblocktrans %}

                  {% elif ntf.type == 'seenfilm' %}

                    {% blocktrans with marker_member=ntf.activator.username film=ntf.object_name %}
                      {{ marker_member }} marked the film {{ film }} as seen.
                    {% endblocktrans %}

                  {% elif ntf.type == 'organmeet' %}

                    {% blocktrans with organizer=ntf.activator.username meeting=ntf.object_name %}
                      {{ organizer }} organized a new meeting: {{ meeting }}.
                    {% endblocktrans %}

                  {% elif ntf.type == 'commfilm' %}

                    {% blocktrans with commenter=ntf.activator.username film=ntf.object_name %}
                      {{ commenter }} made a comment on your film {{ film }}.
                    {% endblocktrans %}

                  {% elif ntf.type == 'commfilms' %}

                    {% blocktrans with count=ntf.counter film=ntf.object_name %}
                      Your film {{ film }} has {{ count }} new comments.
                    {% endblocktrans %}

                  {% elif ntf.type == 'commcomm' %}

                    {% blocktrans with commenter=ntf.activator.username film=ntf.object_name %}
                      {{ commenter }} made a comment on the film {{ film }}.
                    {% endblocktrans %}

                  {% elif ntf.type == 'commcomms' %}

                    {% blocktrans with count=ntf.counter film=ntf.object_name %}
                      The film {{ film }} has {{ count }} new comments.
                    {% endblocktrans %}

                  {% elif ntf.type == 'kicked' %}

                    {% blocktrans with kicker=ntf.activator.username member=ntf.object_name %}
                      {{ member }} was kicked from the club by {{ kicker }}.
                    {% endblocktrans %}

                  {% elif ntf.type == 'kicked_self' %}

                    {% blocktrans with kicker=ntf.activator.username %}
                      You were kicked from the club by {{ kicker }}.
                    {% endblocktrans %}

                  {% elif ntf.type == 'abandoned' %}

                    {% trans 'The only admin of the club left and all club members were automatically promoted to admin' %}

                  {% endif %}

                </p>
                <p class="third-line text-secondary">{{ ntf.time_ago }}</p>
              </div>

            </div>

          </button>

          </form>

          {% endfor %}

          <div class="dropdown-divider p-0 m-0"></div>

          <form method="POST" action="{% url 'notification_cleaner' %}" >
          {% csrf_token %}

          <button type="submit" class="dropdown-item py-0 px-3 m-0 extra-item text-center">
            <strong>{% trans 'Mark all as read' %}</strong>
          </button>

          </form>

        </div>

        {% else %}

          <div class="dropdown-divider p-0 m-0"></div>

          <div class="dropdown-item py-0 px-3 m-0 text-center text-item text-secondary">
            <span>{% trans 'Nothing to see here yet' %}</span>
          </div>

        {% endif %}

      </li>
      <!--END: NOTIFICATIONS-->


    </ul>

    {% endif %}

  </div>

</nav>
<!--END: NAVBAR-->


<main role="main" class="container container-base">

  {% block pagecontent %}
  {% endblock %}

</main>


<!--START: FOOTER-->
<footer class="footer global-footer">
  <div class="container text-center">

    <div class="row justify-content-center mb-1 mt-n1">

      <div class="col-auto">
        <a class="icon" href="https://github.com/astromedia/filmdemocracy/" target="blank">
          <img style="min-height: 18px;" src="{% static 'global/svg/mark-github.svg'%}">
        </a>
      </div>

      <div class="col-auto">
        <a class="icon" href="https://www.facebook.com/FilmDemocracy/" target="blank">
          <img style="max-height: 18px;" src="{% static 'global/svg/facebook_bnw.svg'%}">
        </a>
      </div>

      <div class="col-auto dropup">

        <a class="icon dropdown-toggle lang-dropdown mr-n2" id="navbarDropdownMenuLinkLanguage" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="" style="min-height: 16px;" src="{% static 'global/svg/globe_negative.svg'%}">
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLinkLanguage">

          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}

          {% for language in languages %}
          <form class="dropdown-item {% if language.code == LANGUAGE_CODE %} active {% endif %}"
                action="{% url 'set_language' %}" method="POST">
            {% csrf_token %}
            <label class="pointer-cursor" for="language_{{ forloop.counter }}">
              {{ language.name_local|title }} ({{ language.code }})
            </label>

            <input type="submit" class="invisible" name="language"
                   id="language_{{ forloop.counter }}" value="{{ language.code }}">
            <input name="next" type="hidden" value="{{ redirect_to }}">
          </form>
          {% endfor %}

        </div>
      </div>

    </div>

    <span class="text-muted">
      <strong>{% trans 'Website under testing' %}</strong><br>
    </span>
    <span class="text-muted">Copyright © 2019 FilmDemocracy</span>
  </div>
</footer>
<!--END: FOOTER-->


<!--START: MODAL MESSAGES-->
{% if messages %}

{% for message in messages %}


<div class="modal fade" id="messagesModal{{ forloop.counter }}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body alert {{ message.tags }} text-center p-auto m-0" role="alert">

        <div class="p-3">
          <p><strong>{{ message }}</strong></p>
        </div>

        <button type="button" class="btn btn-sm btn-close-message-modal" data-dismiss="modal">
          {% trans 'Close' %}
        </button>

      </div>

    </div>
  </div>
</div>


<script language="javascript" type="text/javascript">
$(document).ready(function(){
  $("#messagesModal{{ forloop.counter }}").modal('show');
});
</script>


{% endfor %}

{% endif %}
<!--END: MODAL MESSAGES-->



<!--START: ERRORS-->
<!--{% for hidden_field in form.hidden_fields %}-->
<!--{% if hidden_field.errors %}-->
<!--<ul>-->
<!--  {% for error in hidden_field.errors %}-->
<!--  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>-->
<!--  {% endfor %}-->
<!--</ul>-->
<!--{% endif %}-->
<!--{{ hidden_field }}-->
<!--{% endfor %}-->

<!--{% if form.errors %}-->
<!--{% for field in form %}-->
<!--{% for error in field.errors %}-->
<!--<div class="alert alert-danger text-center m-4">-->
<!--  <strong>{{ error|escape }}</strong>-->
<!--</div>-->
<!--{% endfor %}-->
<!--{% endfor %}-->
<!--{% for error in form.non_field_errors %}-->
<!--<div class="alert alert-danger text-center m-4">-->
<!--  <strong>{{ error|escape }}</strong>-->
<!--</div>-->
<!--{% endfor %}-->
<!--{% endif %}-->
<!--END: ERRORS-->



<!--START: MODAL HIDDEN FIELD ERRORS-->
{% for hidden_field in form.hidden_fields %}

{% if hidden_field.errors %}

  {% for error in hidden_field.errors %}

  <div class="modal fade" id="hiddenFieldsErrorModal{{ forloop.parentloop.counter }}{{ forloop.counter }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body alert alert-danger text-center p-auto m-0" role="alert">

          <div class="p-3">
            <p><strong>(Hidden field {{ hidden_field.name }}) {{ error }}</strong></p>
            <p><{{ hidden_field }}</p>
          </div>

          <button type="button" class="btn btn-sm btn-close-message-modal" data-dismiss="modal">
            {% trans 'Close' %}
          </button>

        </div>

      </div>
    </div>
  </div>

  <script language="javascript" type="text/javascript">
  $(document).ready(function(){
    $("#hiddenFieldsErrorModal{{ forloop.parentloop.counter }}{{ forloop.counter }}").modal('show');
  });
  </script>

  {% endfor %}

{% endif %}

{% endfor %}
<!--END: MODAL HIDDEN FIELD ERRORS-->



<!--START: FORM ERRORS-->
{% if form.errors %}


  <!--START: MODAL FORM FIELD ERRORS-->
  {% for field in form %}

    {% for error in field.errors %}

    <div class="modal fade" id="formErrorModal{{ forloop.parentloop.counter }}{{ forloop.counter }}" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

          <div class="modal-body alert alert-danger text-center p-auto m-0" role="alert">

            <div class="p-3">
              <p><strong>({{ field.label }}) {{ error|escape }}</strong></p>
            </div>

            <button type="button" class="btn btn-sm btn-close-message-modal" data-dismiss="modal">
              {% trans 'Close' %}
            </button>

          </div>

        </div>
      </div>
    </div>

    <script language="javascript" type="text/javascript">
    $(document).ready(function(){
      $("#formErrorModal{{ forloop.parentloop.counter }}{{ forloop.counter }}").modal('show');
    });
    </script>

    {% endfor %}

  {% endfor %}
  <!--END: MODAL FORM FIELD ERRORS-->


  <!--START: MODAL FORM NON FIELD ERRORS-->
  {% for error in form.non_field_errors %}

  <div class="modal fade" id="formNoFieldErrorModal{{ forloop.counter }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body alert alert-danger text-center p-auto m-0" role="alert">

          <div class="p-3">
            <p><strong>{{ error|escape }}</strong></p>
          </div>

          <button type="button" class="btn btn-sm btn-close-message-modal" data-dismiss="modal">
            {% trans 'Close' %}
          </button>

        </div>

      </div>
    </div>
  </div>

  <script language="javascript" type="text/javascript">
  $(document).ready(function(){
    $("#formNoFieldErrorModal{{ forloop.counter }}").modal('show');
  });
  </script>

  {% endfor %}
  <!--END: MODAL FORM NON FIELD ERRORS-->


{% endif %}
<!--END: MODAL FORM ERRORS-->


{% block javascript %}
{% endblock %}


</body>
</html>