{% load static %}
{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en">

<head>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/images/favicon.ico'%}"/>

  <title>
    {% block title %}{% endblock %} | FilmDemocracy
  </title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- General FilmDemocracy website styles -->
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/base_filmdemocracy.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/utils.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/commons.css' %}">

  <!-- Custom styles for child templates -->
  {% block styles %}
  {% endblock %}

  <!-- Additional head content for child templates -->
  {% block head %}
  {% endblock %}

</head>

<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!--START: NAVBAR-->
{% include "core/navbar.html" %}
<!--END: NAVBAR-->


<main role="main" class="container container-base">

  {% block pagecontent %}
  {% endblock %}

</main>


<!--START: NAVBAR-->
{% include "core/footer.html" %}
<!--END: NAVBAR-->


<!--START: MODAL MESSAGES-->
{% if messages %}
  {% for message in messages %}

    <div class="modal fade modal-message" id="messagesModal_{{ forloop.counter }}" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content {{ message.tags }} text-center">

          <div class="modal-body {{ message.tags }} text-body">
            <p class="">{{ message }}</p>
            <button type="button" class="btn btn-standard btn-white-to-gray btn-close-message-modal" data-dismiss="modal">OK</button>
          </div>

        </div>
      </div>
    </div>

    <script language="javascript" type="text/javascript">
    $(document).ready(function(){
      $("#messagesModal_{{ forloop.counter }}").modal('show');
    });
    </script>

  {% endfor %}
{% endif %}
<!--END: MODAL MESSAGES-->


<!--START: FORM ERRORS-->
{% include "core/form_errors.html" %}
<!--END: FORM ERRORS-->


<!--START: SPINNER BUTTON-->
<script src="{% static 'core/js/spinner_button.js' %}"></script>
<!--END: SPINNER BUTTON-->


{% block javascript %}
{% endblock %}


</body>
</html>