{% load static %}
{% load static %}
{% load i18n %}


<!--START ERRORS-->
<!--{% for hidden_field in form.hidden_fields %}-->
<!--  {% if hidden_field.errors %}-->
<!--    <div class="alert alert-danger form-message-error">-->
<!--      <ul>-->
<!--        {% for error in hidden_field.errors %}-->
<!--        <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>-->
<!--        {% endfor %}-->
<!--      </ul>-->
<!--    </div>-->
<!--  {% endif %}-->
<!--  {{ hidden_field }}-->
<!--{% endfor %}-->

<!--{% if form.errors %}-->
<!--  {% for error in form.non_field_errors %}-->
<!--    <div class="alert alert-danger form-message-error">-->
<!--      {{ error|escape }}-->
<!--    </div>-->
<!--  {% endfor %}-->
<!--  {% for field in form %}-->
<!--    {% for error in field.errors %}-->
<!--      <div class="alert alert-danger form-message-error">-->
<!--        <strong>{{ error|escape }}</strong>-->
<!--      </div>-->
<!--    {% endfor %}-->
<!--  {% endfor %}-->
<!--{% endif %}-->
<!--END ERRORS-->


<!--START: MODAL HIDDEN FIELD ERRORS-->
{% if form %}
  {% for hidden_field in form.hidden_fields %}
    {% if hidden_field.errors %}

      <div class="modal fade" id="hiddenFieldsErrorModal_{{ forloop.counter }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body alert alert-danger text-center p-auto m-0" role="alert">
              <div class="p-3">
                <ul>
                  {% for error in hidden_field.errors %}
                  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
              <button type="button" class="btn btn-sm btn-close-message-modal" data-dismiss="modal">
                {% trans 'Close' %}
              </button>
            </div>
          </div>
        </div>
      </div>

      <script language="javascript" type="text/javascript">
      $(document).ready(function(){
        $("#hiddenFieldsErrorModal_{{ forloop.counter }}").modal('show');
      });
      </script>

    {% endif %}
  {% endfor %}
{% endif %}
<!--END: MODAL HIDDEN FIELD ERRORS-->


<!--START: MODAL FORM FIELD ERRORS-->
<!--  {% for field in form %}-->
<!--    {% for error in field.errors %}-->

<!--    <div class="modal fade" id="formErrorModal{{ forloop.parentloop.counter }}{{ forloop.counter }}" tabindex="-1" role="dialog">-->
<!--      <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-body alert alert-danger text-center p-auto m-0" role="alert">-->
<!--            <div class="p-3">-->
<!--              <p><strong>({{ field.label }}) {{ error|escape }}</strong></p>-->
<!--            </div>-->
<!--            <button type="button" class="btn btn-sm btn-close-message-modal" data-dismiss="modal">-->
<!--              {% trans 'Close' %}-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <script language="javascript" type="text/javascript">-->
<!--    $(document).ready(function(){-->
<!--      $("#formErrorModal{{ forloop.parentloop.counter }}{{ forloop.counter }}").modal('show');-->
<!--    });-->
<!--    </script>-->

<!--    {% endfor %}-->
<!--  {% endfor %}-->
<!--END: MODAL FORM FIELD ERRORS-->


<!--START: MODAL FORM NON FIELD ERRORS-->
{% if form %}
  {% if form.errors %}
    {% for error in form.non_field_errors %}

      <div class="modal fade" id="formNoFieldErrorModal_{{ forloop.counter }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body alert alert-danger text-center p-auto m-0" role="alert">
              <div class="p-3">
                <p><strong>{{ error|escape }}</strong></p>
              </div>
              <button type="button" class="btn btn-sm btn-close-message-modal" data-dismiss="modal">
                {% trans 'Close' %}
              </button>
            </div>
          </div>
        </div>
      </div>

      <script language="javascript" type="text/javascript">
      $(document).ready(function(){
        $("#formNoFieldErrorModal_{{ forloop.counter }}").modal('show');
      });
      </script>

    {% endfor %}
  {% endif %}
{% endif %}
<!--END: MODAL FORM NON FIELD ERRORS-->
