{% extends "core/base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
<link rel="stylesheet" href="{% static 'core/css/dark_background.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block pagecontent %}


<!--START: WEBSITE INTRO-->
<div class="container-fluid text-center">
  <div>
    <img class="webpage-logo" src="{% static 'core/svg/urna_glow.svg'%}">
  </div>
  <div>
    <img class="webpage-title" src="{% static 'core/svg/webname_greengray.svg'%}">
  </div>
</div>
<!--END: WEBSITE INTRO-->


{% if user.is_authenticated %}


{% if pending_invitations %}
<!--START: PENDING INVITES-->
<p class="home-section-title mt-5 mb-3">{% blocktrans count pending_invitations|length as count %}You have {{count}} pending club invitation!{% plural %}invitations!{% endblocktrans %}</p>


  {% for invitation in pending_invitations %}

  <div class="media pending-invitation alert alert-success">

    {% if invitation.club.logo_image %}
    <img class="align-self-center menu-icon" src="{{ invitation.club.logo_image.url }}">
    {% else %}
    <img class="align-self-center menu-icon" src="{% static 'democracy/images/club_no_logo.png' %}">
    {% endif %}

    <div class="media-body align-self-center">
      <p class="m-0 p-0">
      <strong>{{ invitation.inviter.username }}</strong>
        {% trans 'invited you to join the club' %}
      <strong>{{ invitation.club.name }}</strong>. <a class="strong-link" href="{% url 'democracy:invite_new_member_confirm' invitation.id %}">{% trans 'Check this invitation.' %}</a>
      </p>
    </div>

  </div>

  {% endfor %}


<!--END: PENDING INVITES-->
{% endif %}


<!--START: CLUB PANEL-->
<p class="home-section-title mt-5 mb-3">{% trans 'Your clubs' %}</p>


{% if user_clubs %}
<div class="row justify-content-center mx-1">

  {% for club in user_clubs %}

    <div class="col col-auto">

      <div class="club-logo">
        <a href="{% url 'democracy:club_detail' club.id %}">
          {% if club.logo_image %}
          <img src="{{ club.logo_image.url }}" alt="club.logo_image not found">
          {% else %}
          <img src="{% static 'democracy/images/club_no_logo.png' %}" alt="club.logo_image not found">
          <div class="overlay py-auto"><h5 class="py-auto">{{ club.name }}</h5></div>
          {% endif %}
        </a>
      </div>
  </div>

  {% endfor %}

</div>

{% else %}

<p class="text-center my-3 mx-1">{% trans 'You are not in any club yet... create or ask to be invited to one!' %}</p>

{% endif %}


<div class="text-center mt-3">
  <a class="mx-1 green-color blue-color-hover" href="{% url 'democracy:create_club' %}">
    {% trans 'Create new club' %}
  </a>
</div>
<!--END: CLUB PANEL-->


{% else %}


<!--START: LOGIN / SIGNIN-->
<div class="text-center my-5">

  <p class="">{% trans 'To start, log in.' %}</p>

  <form id="formSubmit" action="{% url 'registration:user_login' %}">
    <button type="submit" id="btnSpinner" class="btn btn-standard btn-green-to-blue mb-5">{% trans 'Log in' %}</button>
  </form>

  <span class="">{% trans 'New here?' %}</span>
  <a class="mx-1 green-color blue-color-hover" href="{% url 'registration:user_signup' %}">
    {% trans 'Create an account!' %}
  </a>

</div>
<!--END: LOGIN / SIGNIN-->


{% endif %}

<!--START: WEBPAGE LOG-->
<!--<h4 class="lead text-muted home-section-title">{% trans 'FilmDemocracy log' %}</h4>-->

<!--<hr>-->

<!--<div class="home-log">-->
<!--  <div class="row">-->

<!--    <div class="col-sm-2">-->
<!--      <strong>2019.01.24:</strong>-->
<!--    </div>-->
<!--    <div class="col-sm-10">-->
<!--      <p>-->
<!--        {% blocktrans %}-->
<!--        Welcome to FilmDemocracy! This site is under testing,-->
<!--        so expect all your data to be deleted at some point before the official launch.-->
<!--        Sorry for the inconvinience...-->
<!--        {% endblocktrans %}-->
<!--      </p>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
<!--END: WEBPAGE LOG-->


{% endblock %}