
/* Navbar general styles
-------------------------------------------------- */
.navbar {
  height: 3.5rem;
  background-color: #07080a;
}

.navbar .navbar-container {
  max-width: 57rem;
  padding: 2px;
}

.navbar-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
}


/* Navbar icon styles
-------------------------------------------------- */
.navbar .navbar-brand img {
  max-height: 2.3rem;
}

.navbar .nav-item .nav-icon {
  opacity: 0.80;
}

.navbar .nav-item .nav-icon img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
}

.navbar .nav-item .nav-icon-rounded img {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 1000px;
  padding: 1px;
}

.navbar .nav-item .nav-icon-menu img {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 1px;
}

.navbar .nav-item .nav-icon:active {
  opacity: 1;
}

.navbar .nav-item .nav-icon:focus {
  opacity: 1;
}

.navbar .nav-item .nav-icon:hover {
  opacity: 1;
}


/* Navbar dropdown menu styles
-------------------------------------------------- */
.navbar .nav-item .dropdown-toggle::after {
  display:none;
}

.navbar .dropdown {
  position: initial;
}

.navbar .nav-item .dropdown-menu {
  position: absolute;
  left: auto;
  right: 0;
  width: 96%;
  max-width: 57rem;
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
  border: 2px solid #282828;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6) !important;
}

.navbar .nav-item .dropdown-menu .dropdown-header {
  font-size: 1rem;
  line-height: 2rem;
  color: #343a40 !important;
}

.navbar .nav-item .dropdown-menu .dropdown-menu-container {
  max-height: 30rem;
  width: 100%;
  overflow: auto;
  margin: 0px 10px;
}

.navbar .nav-item .dropdown-menu .active {
  color: black;
  background-color: #d1d1d1 !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
  padding: 0;
  margin: 0;
}

.navbar .nav-item .dropdown-menu .dropdown-item .media {
  height: 4rem;
  padding: 2px 5px;
}

.menu-icon {
  width: 3.3rem;
  height: 3.3rem;
  margin: 0rem 0.75rem 0rem 0.25rem;
  object-fit: fill;
  background: rgba(255, 255, 255, 1) !important;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) !important;
  border-radius: 1000px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .media-body {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
}

.navbar .nav-item .dropdown-menu .text-item {
  font-size: 1rem;
  line-height: 3rem;
}

.navbar .nav-item .dropdown-menu .text-item:hover {
  background-color: transparent !important;
}

.navbar .nav-item .dropdown-menu .extra-item {
  color: seagreen !important;
}

.navbar .nav-item .dropdown-menu .extra-item:hover {
  color: lightseagreen !important;
}


/* Navbar chat
-------------------------------------------------- */
.chat-item .first-line {
  font-size: 16px;
  line-height: 22px;
  padding: 0px;
  margin: 0px;
}

.chat-item .second-line {
  font-size: 1rem;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

.club-chat-poster {
  color: #344a8d;
}


/* Navbar club
-------------------------------------------------- */
.club-item {
}

.club-item.active {
  background-color: #d4edda !important;
}

.club-item .first-line {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0px;
  margin: 0px;
}

.club-item .second-line {
  font-size: 0.9rem;
  line-height: 1.3rem;
  padding: 0px;
  margin: 0px;
}

.club-item img {
  background-color: rgba(0, 0, 0, 1) !important;
}


/* Navbar user
-------------------------------------------------- */
.user-item img {
  background-color: rgba(0, 0, 0, 1) !important;
}

.user-item .first-line {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0px;
  margin: 0px;
}

.user-item .second-line {
  font-size: 0.9rem;
  line-height: 1.3rem;
  padding: 0px;
  margin: 0px;
}


/* Navbar ntf
-------------------------------------------------- */
.ntf-item img {
  background-color: rgba(0, 0, 0, 1) !important;
}

.badge-count {
  margim: 0px;
  margin-bottom: -17px;
  padding: 0px;
  position: relative;
  width: 17px;
  height: 17px;
  bottom: 45px;
  left: 30px;
  font-size: 12px;
  line-height: 17px;
  font-weight: bold;
  color:white;
  background-color: red;
  border-radius: 100px;
}

.ntf-item .first-line {
  line-height: 1.25rem;
  padding: 0px;
  margin: 0px;
}

.ntf-item .first-line .first-line-club {
  font-size: 0.9rem;
}

.ntf-item .first-line .first-line-time-ago {
  font-size: 0.8rem;
  margin-left: 5px;
}

.ntf-item .second-line {
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0px;
  margin: 0px;
  white-space: normal;
}


/* Navbar menu
-------------------------------------------------- */
.menu-item .first-line {
  font-weight: bold;
  font-size: 1rem;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

.menu-item .second-line {
  font-size: 13px;
  line-height: 15px;
  padding: 0px;
  margin: 0px;
}

.list-group-item {
  border: 0;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item .media {
  height: 4rem;
  padding: 2px;
}

.list-group-item .media p {
  margin: 0;
  padding: 0;
}

.active.list-group-item {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #495057;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}


/* Modal menu
-------------------------------------------------- */
.modal-menu {
}

