
<!--START: CHATS-->
<li class="nav-item dropdown mx-md-3 mx-1 align-self-center">

  <a class="nav-link nav-icon dropdown-toggle pointer-cursor" id="navbarDropdownMenuLinkChat"
     role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="" src="{% static 'core/svg/chat_bubble.svg'%}">
  </a>

  <div class="dropdown-menu py-0" aria-labelledby="navbarDropdownMenuLinkChat">

    <p class="dropdown-header py-0 px-3 m-0 text-center">
      <strong>{% trans 'Conversations' %}</strong>
    </p>

    {% if user.club_set.all or user.chat_user.all %}

    <!--START: CLUBS CHATS-->
    {% for userclub in user.club_set.all %}

    <div class="dropdown-divider p-0 m-0"></div>

    <a class="dropdown-item py-0 px-3" href="{% url 'chat:chat_club' userclub.id %}">
      <div class="media chat-item">

        {% if userclub.logo_image %}
        <img class="align-self-center border border-secondary rounded-circle mr-2"
             src="{{ userclub.logo_image.url }}" alt="club.logo_image not found">
        {% else %}
        <img class="align-self-center border border-secondary rounded-circle mr-2"
             src="{% static 'democracy/images/club_no_logo.png' %}"
             alt="userclub.logo_image not found">
        {% endif %}

        <div class="media-body align-self-center p-0 m-0">
          <p class="first-line"><strong>{{ userclub.name }}</strong></p>
          {% with last_post=userclub.chat_clubinfo_set.all.0.last_post %}
          {% if last_post %}
          <p class="second-line club-chat-poster">
            <strong>{{ last_post.user_sender.username }}:</strong>
            <span class="text-muted">{{ last_post.text }}</span>
          </p>
          {% endif %}
          {% endwith %}
        </div>

      </div>
    </a>

    {% endfor %}
    <!--END: CLUBS CHATS-->


    <!--START: USERS CHATS-->
    {% for chat_opened in user.chat_user.all %}

    <div class="dropdown-divider p-0 m-0"></div>

    <a class="dropdown-item py-0 px-3" href="{% url 'chat:chat_users' chat_opened.user_known.id %}">
      <div class="media chat-item">

        {% if chat_opened.user_known.profile_image %}
        <img class="align-self-center border border-secondary rounded-circle mr-2"
             src="{{ chat_opened.user_known.profile_image.url }}" alt="chat_opened.user_known.profile_image not found">
        {% else %}
        <img class="align-self-center border border-secondary rounded-circle mr-2"
             src="{% static 'registration/svg/user_no_profile_image.svg' %}" alt="chat_opened.user_known.profile_image not found">
        {% endif %}

        <div class="media-body align-self-center p-0 m-0">
          <span style="font-weight: bold;">{{ chat_opened.user_known.username }}</span><br>
          <span class="second-line text-muted">
            {{ chat_opened.last_post.text }}
          </span>
        </div>

      </div>

    </a>
    {% endfor %}
    <!--END: USERS CHATS-->


    <!--START: CONTACTS-->
    <div class="dropdown-divider p-0 m-0"></div>

    <a class="dropdown-item extra-item py-0 px-3 m-0 text-center" href="{% url 'democracy:contacts' %}">
      <strong class="align-self-center">
        {% trans 'Contacts' %}
      </strong>
    </a>
    <!--END: CONTACTS-->

    {% else %}

    <div class="dropdown-divider p-0 m-0"></div>

    <div class="dropdown-item py-0 px-3 m-0 text-center text-item text-secondary">
      <span>{% trans 'To start a conversation join a club first.' %}</span>
    </div>

    {% endif %}

  </div>


</li>
<!--END: CHATS-->
