
/* General page styles
-------------------------------------------------- */
body {
}

.container-base {
  background-color: #fafafa;
}


/* Form styles
-------------------------------------------------- */
.form-add-new-film {
  text-align: center;
}

.form-add-new-film .form-group {
  width: 90%;
  max-width: 600px;
}

.form-add-new-film .form-inputs {
  margin-bottom: 10px;
}

.form-add-new-film .form-inputs .form-input-field {
  width: 100%;
  max-width: 400px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.form-add-new-film .form-inputs .form-input-field .label {
}

.form-add-new-film .form-inputs .form-input-field .invalid-feedback{
  width: 100%;
  padding: 5px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: -29px;
}

.form-add-new-film .form-inputs .form-input-field .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-add-new-film .form-inputs .form-input-field .form-control:focus {
  z-index: 2;
}

.form-add-new-film .btn-block {
  max-width: 225px;
  margin: auto;
  margin-top: 20px;
}