
/* General page structure
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px; /* Navbar height */
  padding-bottom: 0rem;
  background-color: #bababc;
  min-height: 45rem;
  margin-bottom: 40px; /* Footer height */
}

.container-base {
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  min-height: 65rem;
  max-width: 908px;
  background-color: #fafafa;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.65);
  padding-right: 0;
  padding-left: 0;
}


/* Navbar top fixed styles
-------------------------------------------------- */


/* Navbar general styles */

.navbar {
  height: 3.5rem;
}

.navbar-color {
  background-color: #07080a;
}

.navbar-container {
  max-width: 908px;
  padding-top: 2px;
}

.navbar-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
}

/* Navbar icon styles */

.navbar-brand img {
  max-height: 30px;
}

.navbar .nav-item .nav-icon {
  opacity: 0.80;
}

.navbar .nav-item .nav-icon img {
  max-height: 35px;
}

.navbar .nav-item .nav-icon-rounded img {
  border: 1px solid white;
  border-radius: 1000px;
  padding: 1px;
}

.navbar .nav-item .nav-icon:active {
  opacity: 1;
}

.navbar .nav-item .nav-icon:focus {
  opacity: 1;
}

.navbar .nav-item .nav-icon:hover {
  opacity: 1;
}

.navbar .nav-item .user-icon img {
  max-height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1000px;
  padding: 1px;
}

.navbar .nav-item .user-icon:hover img {
  border: 1px solid rgba(255, 255, 255, 1);
}

.navbar .nav-item .user-icon span {
  opacity: 0.8 !important;
  color: white !important;
}

.navbar .nav-item .user-icon:hover span {
  opacity: 1 !important;
}

/* Navbar dropdown menu styles */

.navbar .nav-item .dropdown-toggle::after {
  display:none;
}

.navbar .dropdown {
  position: initial;
}

.navbar .nav-item .dropdown-menu {
  width: 96%;
  max-width: 908px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
  border: 2px solid #282828;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6) !important;
}

.navbar .nav-item .dropdown-menu .active {
  color: black;
  font-weight: bold;
  background-color: #d1d1d1 !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item .media {
  min-height: 60px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .media-body {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .nav-item .dropdown-menu .dropdown-item .second-line {
  font-size: 15px;
}

.navbar .nav-item .dropdown-menu .dropdown-item .club-chat-poster {
  color: #344a8d;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #dfdfe1;
}

.navbar .nav-item .dropdown-menu .dropdown-item .media img {
  max-width: 48px;
  max-height: 48px;
  background: rgba(0, 0, 0, 1) !important;
}

.dropdown-menu .extra-item {
  color: seagreen !important;
  line-height: 60px;
}

.dropdown-menu .extra-item:hover {
  color: lightseagreen !important;
  background-color: transparent !important;

}

.navbar .nav-item .user-info {
  color: #d1d1d1 !important;
}

.navbar .nav-item .user-info:hover {
  color: #fff !important;
}

.btn-login {
  width: 140px;
  color: seagreen;
  background-color: transparent;
  border: 1px solid seagreen;
}

.btn-login:hover {
  color: #fff;
  text-decoration: none;
  background-color: lightseagreen;
}



/* Sticky footer styles
-------------------------------------------------- */

.global-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 95px; /* Set the fixed height of the footer here */
  line-height: 25px; /* Vertically center the text there */
  background-color: #121317;
  border-top: 2px solid black;
  z-index: 3;
  padding: 10px;
}

.footer .icon img {
  opacity: 0.7;
}

.footer .icon:hover img {
  opacity: 1;
}

.footer .dropdown-toggle::after {
    display:none;
}

.footer .dropdown-menu {
  padding: 2px;
}

.footer .dropdown-menu .dropdown-item {
  padding: 12px 18px;
}

.footer .dropdown-menu .active {
  color: black;
  font-weight: bold;
  background-color: #d1d1d1;
}

.footer .dropdown-menu .dropdown-item:hover {
  font-weight: bold;
}

.footer .lang-dropdown {
  color: #d1d1d1;
}

.footer .lang-dropdown:active {
  color: #d1d1d1;
}

.footer .lang-dropdown:focus {
  color: #d1d1d1;
}

.footer .lang-dropdown:hover {
  color: #fff;
}

/* Link styles
-------------------------------------------------- */

.strong-link {
  font-weight: bold;
  color: #344a8d;
}

.strong-link:hover {
  color: #344a8d;
}

a {
  color: #344a8d;
}

a:hover {
  color: #344a8d;
}


/* Button styles
-------------------------------------------------- */

.btn {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.btn:active {
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-lg {
  font-size: 17px;
}

.btn-md {
  font-size: 15px;
}

.btn-sm {
  font-size: 13px;
}

.zoom-in-cursor {
  cursor: zoom-in;
}

.pointer-cursor {
  cursor: pointer;
}

.btn-cancel {
  text-align: center;
  margin-top: 50px;
}

.btn-cancel .btn {
  color: #6c737d;
  background-color: transparent;
  border: 1px solid #282828;
}

.btn-cancel .btn:hover {
  color: #fff;
  text-decoration: none;
  border: 1px solid #282828;
  background-color: #282828;
}


/* Button colors
-------------------------------------------------- */

.btn-white-to-gray {
  color: #282828;
  background-color: white;
  border: 1px solid rgba(40, 40, 40, 0.5);
}

.btn-white-to-gray:hover {
  color: white;
  background-color: #282828;
}

.btn-gray-to-color {
  color: #6c737d;
  background-color: #282828;
  font-weight: bold;
  border: none;
}

.btn-gray-to-color:hover {
  color: #fff;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.btn-green-to-blue {
  color: #fff;
  background-color: seagreen;
  border: none;
}

.btn-green-to-blue:hover {
  color: #fff;
  background-color: lightseagreen;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.btn-outline-green {
  color: seagreen;
  background-color: transparent;
  border: 1px solid seagreen;
}

.btn-outline-green:hover {
  color: #fff;
  background-color: seagreen;
  text-decoration: none;
  border: 1px solid seagreen;
  box-shadow: none;
}

.btn-blue {
  color: #fff;
  background-color: lightseagreen;
  border: none;
}

.btn-blue:hover {
  color: #fff;
  background-color: #1a918b;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.btn-outline-blue {
  color: lightseagreen;
  background-color: transparent;
  border: 1px solid lightseagreen;
}

.btn-outline-blue:hover {
  color: #fff;
  background-color: lightseagreen;
  text-decoration: none;
  border: 1px solid lightseagreen;
  box-shadow: none;
}

.badge-white-to-black {
  color: #282828;
  background-color: white;
  border: 1px solid rgba(40, 40, 40, 0.5);
  font-weight: bold;
}

.badge-white-to-black:hover {
  color: #fff;
  background-color: #282828;
}

.badge-black-to-white {
  color: #6c737d;
  background-color: transparent;
  border: 1px solid #282828;
}

.badge-black-to-white:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #6c737d;
}

.badge-green-to-blue {
  color: seagreen !important;
  background-color: transparent;
  border: 1px solid rgba(46, 139, 87, 0.5);
  font-weight: bold;
}

.badge-green-to-blue:hover {
  color: lightseagreen !important;
  border: 1px solid rgba(32, 178, 170, 0.5);
  background-color: transparent;
}

.badge-outline-danger {
  color: rgba(200, 0, 0, 1) !important;
  background-color: transparent;
  border: 1px solid rgba(200, 0, 0, 0.5);
  font-weight: bold;
}

.badge-outline-danger:hover {
  color: #fff !important;
  background-color: rgba(200, 0, 0, 1);
  border: 1px solid rgba(200, 0, 0, 1);
  background-color: rgba(200, 0, 0, 1);
}


/* Website colors
-------------------------------------------------- */
.dark1-bg {
  background-color: #bababc;
}

.dark1-style {
  color: #bababc;
}

.dark2-bg {
  background-color: #121317;
}

.dark2-style {
  color: #121317;
}

.light1-bg {
  background-color: #d1d1d1;
}

.light1-style {
  color: #d1d1d1;
}

.light2-bg {
  background-color: #A9A9A9;
}

.light2-style {
  color: #A9A9A9;
}

.light3-bg {
  background-color: lightgray;
}

.light3-style {
  color: lightgray;
}

.green-color {
  color: seagreen;
  text-decoration: none;
}

.green-color-hover:hover {
  color: seagreen;
  text-decoration: none;
}

.green-bg {
  background-color: seagreen;
}

.green-bg-hover:hover {
  background-color: seagreen;
}

.blue-color {
  color: lightseagreen;
  text-decoration: none;
}

.blue-color-hover:hover {
  color: lightseagreen;
  text-decoration: none;
}

.blue-bg {
  background-color: lightseagreen;
}

.blue-bg-hover:hover {
  background-color: lightseagreen;
}

.orange-color {
  color: #d7a03d;
  text-decoration: none;
}

.orange-color-hover:hover {
  color: #d7a03d;
  text-decoration: none;
}

.orange-bg {
  background-color: #d7a03d;
}

.orange-bg-hover:hover {
  background-color: #d7a03d;
}


/* General stuff
-------------------------------------------------- */
.modal img {
  max-width: 99%;
  max-height: 99%;
}

hr {
  max-width: 90% !important;
}

.page-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}

.page-subtitle {
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.dark-title {
  color: darkgray;
}


/* Back to top button
-------------------------------------------------- */

#btn-back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  width: 200px;
  left: calc(50% - 100px);
  z-index: 99;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px solid #282828;
}

#btn-back-to-top:hover {
  color: #fff;
  text-decoration: none;
  border: 0px solid #282828;
  background-color: #282828;
}