/* Club banner style
-------------------------------------------------- */
.navigation-banner {
  position: relative;
  text-align: center;
  margin-top: -24px;
  padding: 10px;
  background-color: #121317;
  z-index: 4;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.75);
}

.navigation-banner .row {
  max-width: 880px;
}
.navigation-banner .navigation-option {
  font-size: 17px;
}

.navigation-banner .navigation-option a {
}

.navigation-banner .navigation-option a:hover {
  color: #d1d1d1;
  text-decoration: none;
}

.navigation-banner hr {
  max-width: 0px;
  color: #505050;
  background-color: #505050;
  margin-top: 5px;
  margin-bottom: -11px;
}