
/* General page styles
-------------------------------------------------- */
body {
}

.display-4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: normal;
}

.h5 {
  text-align: center;
  margin-bottom: 40px;
}

.btn-option {
  min-width: 230px;
  max-width: 250px;
  margin: auto;
}


/* Candidate films album
-------------------------------------------------- */
.films-album {
  background-color: transparent;
  padding-top: 50px;
  padding-bottom: 200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.films-album .card {
  width: 13rem;
}


/* Candidate films image hover effect
-------------------------------------------------- */
.card-film {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.6);
}

.positive-vote {
  box-shadow: 0 0px 10px rgba(0, 255, 0, 0.6) !important;
}

.negative-vote {
  box-shadow: 0 0px 10px rgba(255, 0, 0, 0.6) !important;
}

.card-film .card-img {
  display:block;
  position:relative;
  -webkit-transition:all .2s linear;
  transition:all .2s linear;
}

.card-film .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
}

.card-film .film-title {
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
  padding:10px;
}

.card-film .film-voted {
  color: #fff;
  text-align: center;
  margin-top: -33px;
  position: relative;
  font-size: 17px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.7);
}

.card-film:hover .card-img {
  -ms-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.card-film:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.card-film:hover .film-title {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}


/* Form new film
-------------------------------------------------- */
.form-new-film {
  text-align: center;
}

.form-new-film .btn-block {
  max-width: 225px;
  margin: auto;
  margin-top: 20px;
}

.form-new-film .form-inputs {
  margin-bottom: 10px;
}

.form-new-film .form-inputs .form-input-field {
  width: 100%;
  max-width: 650px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.form-new-film .form-inputs .form-input-field .label {
}

.form-new-film .form-inputs .form-input-field .invalid-feedback{
  width: 100%;
  padding: 5px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: -29px;
}

.form-new-film .form-inputs .form-input-field .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-new-film .form-inputs .form-input-field .form-control:focus {
  z-index: 2;
}


/* Form participants
-------------------------------------------------- */
.form-participants {
  text-align: center;
}

.form-participants .card {
  background-color: transparent;
  border-color: transparent;
  width: 8rem;
  margin-bottom: 1rem;
}

.form-participants .btn-block {
  max-width: 225px;
  margin: auto;
  margin-top: 30px;
}


/* Ranking options header
-------------------------------------------------- */
.ranking-options .h3 {
  font-size: 15px;
  padding-top: 10px;
  margin-bottom: -13px;
  text-transform: uppercase;
  margin-top: 30px;
}

.ranking-options hr {
  width: 450px;
  max-width: 80%;
  color: gray;
  background-color: gray;
  margin-bottom: 20px;
}


/* Film ranking
-------------------------------------------------- */

.table-ranking {
  max-width: 100%;
}

.participants-header {
  margin-bottom: 40px;
}

.participants-header .h3 {
  font-size: 15px;
  margin-bottom: -13px;
  text-transform: uppercase;
  margin-top: 40px;
}

.participants-header hr {
  max-width: 350px;
  color: gray;
  background-color: gray;
  margin-bottom: 20px;
}

.participant-picture {
  width: 40px;
}

.voter-picture {
  width: 90px;
}


/* Form seen
-------------------------------------------------- */
.film-seen {
  width: 10rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.85);
  margin-bottom: 50px;
}

.form-film-seen {
  text-align: center;
}

.form-film-seen .date-field {
  max-width: 250px;
  margin: auto;
  padding-left: 60px;
  text-align: center;
}

.form-film-seen .card {
  background-color: transparent;
  border-color: transparent;
  width: 8rem;
  margin-bottom: 1rem;
}

.form-film-seen .btn-block {
  max-width: 225px;
  margin: auto;
  margin-top: 30px;
}


/* Hover effect participant
-------------------------------------------------- */
.hovereffect-participant img {
  width:100%;
  height:100%;
  cursor:pointer;
  transition: box-shadow 0.1s ease-in-out;
}

.hovereffect-participant img:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
}
