/* General page styles
-------------------------------------------------- */
body {
}

.navigation-banner {
  box-shadow: none;
}

.navigation-banner hr {
  max-width: 850px;
}


/* Club banner
-------------------------------------------------- */
.club-banner {
  text-align: center;
  margin-top: -18px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #121317;
  margin-bottom: 130px;
}

.club-banner .short-description {
  font-size: 19px;
}

.club-banner .logo {
  margin: auto;
}

.club-banner .logo img {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0px 8px #fff;
  height: 200px;
  max-width: 90%;
  margin-bottom: -130px;
}

.admin-utils .btn {
  text-transform: uppercase;
  color: #282828;
  background-color: white;
  border: 1px solid rgba(40, 40, 40, 0.5);
  font-weight: bold;
  min-width: 140px;
  max-width: 250px;
  margin: auto;
}

.admin-utils .btn:hover {
  color: white;
  background-color: #282828;
}


/* Club messages
-------------------------------------------------- */
.club-message {
  margin-bottom: -10px;
}


/* Club section header
-------------------------------------------------- */
.club-section-title .h3 {
  font-weight: bold !important;
  font-size: 15px;
  padding-top: 10px;
  margin-bottom: -13px;
  text-transform: uppercase;
  margin-top: 30px;
}

.club-section-title hr {
  width: 450px;
  color: gray;
  background-color: gray;
  margin-bottom: 20px;
}

.btn-new-meeting {
  margin: auto;
  width: 80%;
  max-width: 250px;
}

/* Club shoutbox
-------------------------------------------------- */
.container-shoutbox {
  max-width: 90%;
  margin-bottom: 40px;
  padding: auto;
}

.form-post {
  margin-bottom: 20px;
}

.form-post form {
  width: 100%;
}

.form-post .user-image img {
 max-width: 45px;
 background: rgba(0, 0, 0, 1) !important;
}

.post .media-body {
  padding:0px;
}

.post .user-image img {
 max-width: 35px;
 background: rgba(0, 0, 0, 1) !important;
}

.post .post-text {
  background-color: white;
}

.post .post-footer {
  opacity: 0.7;
}


/* Club markdown panel
-------------------------------------------------- */
.markdownx-view {
  max-width: 90%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}


/* General albums
-------------------------------------------------- */
.album {
  background-color: #121317;
}

.album .h3 {
  color: darkgray;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 30px;
  margin-bottom: -13px;
  margin-top: 45px;
  }

.album hr {
  width: 450px;
  color: gray;
  background-color: gray;
  margin-bottom: 20px;
}


/* Proposed / Seen films album
-------------------------------------------------- */
.films-album {
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: -50px;
}

.films-album .col {
  max-width: 45%;
}


.films-album .card {
  width: 8.5rem;
  max-width: 100%;
  height: 12rem;
  border-color: transparent;
  cursor:default;
  background-color: transparent;
}

.films-album .card img {
  width: 95%;
  border-radius: 3px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6) !important;
}


/* Club members album
-------------------------------------------------- */
.members-album {
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0px;
  margin-bottom: -50px;
}

.members-album .col {
  max-width: 45%;
}

.members-album .card {
  width: 135px;
  max-width: 100%;
  background-color: transparent;
  color: darkgray;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: transparent;
}

.member-image {
  border-radius: 200px;
  border: 3px solid transparent;
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:pointer;
}

.member-image:hover {
  border: 3px solid lightseagreen;
  background-color: lightseagreen;
  border-radius: 200px;
}
