/* General page styles
-------------------------------------------------- */
body {
}

#club-banner-navigation {
  box-shadow: none;
}


/* Club banner
-------------------------------------------------- */
.club-banner {
  text-align: center;
  padding-top: 4rem;
  margin-top: -4.5rem;
  padding-bottom: 3rem;
  background-color: #121317;
  margin-bottom: 9rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.75);
}

.club-banner .short-description {
  font-size: 1.1rem;
  margin: 1rem;
}

.club-banner .logo {
  margin: auto;
}

.club-banner .logo img {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0px 8px #fff;
  max-width: 90%;
  max-height: 15rem;
  margin-bottom: -9rem;
}


/* Club messages
-------------------------------------------------- */
.club-message {
  margin: -20px 10px 10px 10px;
}


/* Club section header
-------------------------------------------------- */
.club-section-title .h3 {
  font-weight: bold !important;
  font-size: 15px;
  padding-top: 10px;
  margin-bottom: -13px;
  text-transform: uppercase;
  margin-top: 30px;
}

.club-section-title hr {
  width: 450px;
  color: gray;
  background-color: gray;
  margin-bottom: 20px;
}


/* Club shoutbox
-------------------------------------------------- */
.container-shoutbox {
  max-width: 90%;
  margin-bottom: 40px;
  padding: auto;
}

.form-post {
  margin-bottom: 20px;
}

.form-post form {
  width: 100%;
}

.form-post .user-image img {
 max-width: 45px;
 background: rgba(0, 0, 0, 1) !important;
}

.post .media-body {
  padding:0px;
}

.post .user-image img {
 max-width: 35px;
 background: rgba(0, 0, 0, 1) !important;
}

.post .post-text {
  background-color: white;
}

.post .post-footer {
  opacity: 0.7;
}


/* Club markdown panel
-------------------------------------------------- */
.markdownx-view {
  max-width: 90%;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}


/* General albums
-------------------------------------------------- */
.album {
  background-color: #121317;
  padding-top: 0rem;
  padding-bottom: 5rem;
  margin-bottom: -4rem;
}

.album p {
  color: darkgray;
  font-size: 1rem;
  padding-top: 2.5rem;
  margin-bottom: 0.5rem;
  }


/* Proposed / Seen films album
-------------------------------------------------- */
.films-album {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 0.5rem;
}

.films-album .col {
  max-width: 29%;
  padding: 0px;
  margin-left: 1%;
  margin-right: 1%;
}

.films-album .card {
  width: 8.5rem;
  max-width: 100%;
  height: 12rem;
  border-color: transparent;
  cursor:default;
  background-color: transparent;
}

.films-album .card img {
  width: 95%;
  border-radius: 3px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6) !important;
}


/* Club members album
-------------------------------------------------- */
.members-album {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2rem;
}

.members-album .col {
  max-width: 30%;
  padding: 5px;
  margin-left: 1%;
  margin-right: 1%;
}

.members-album .card {
  background-color: transparent;
  border-color: transparent;
  width: 8rem;
  max-width: 100%;
  margin-bottom: 1rem;
  color: darkgray;
  text-align: center;
}

.members-album .card img {
  border-radius: 200px;
  border: 3px solid transparent;
  width:100%;
  height:100%;
  overflow:hidden;
  cursor:pointer;
}

.members-album .card img:hover {
  border: 3px solid lightseagreen;
  background-color: lightseagreen;
  border-radius: 200px;
}

.members-album .card span {
  margin-top: -2px;
  font-size: 13px;
}

/* Button new options
-------------------------------------------------- */

#btn-add-new {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  background-color: seagreen;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8) !important;
}

#btn-add-new img {
  transition: all 0.3s ease-in-out;
  width: 25px;
}

#btn-add-new img:hover {
  transform: rotate(90deg);
}

#addNewModal img {
  max-width: 48px;
  max-height: 48px;
  background-color: seagreen;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8) !important;
}

#addNewModal span {
  font-weight: bold;
}
