
/* General page styles
-------------------------------------------------- */
body {
}

.container-base {
  background-color: #fafafa;
}

.btn-admin-utils {
  min-width: 125px;
  max-width: 250px;
  margin: auto;
}


/* Club detail view
-------------------------------------------------- */

.admin-utils {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: -25px;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.container-club-banner {
  margin-top: -24px;
  padding: 10px;
  background-color: #121317;
}

.container-club-banner .name {
  font-size: 25px;
  color: #d1d1d1;
}

.container-club-banner .short-description {
  font-size: 19px;
  color: #d1d1d1;
}

.container-club-banner .logo {
  width: 200px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.container-club-banner .logo-small {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.club-logo-shadow {
  border: 4px solid black;
  box-shadow: 0 0px 25px #fff;
}

.club-logo-small-shadow {
  border: 2px solid black;
  box-shadow: 0px 0px 15px #fff;
}

.btn-club-options {
  min-width: 240px;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  color: seagreen;
  border: 0px solid gray;
  font-weight: bold;
  border: 2px solid #121317;

}

.btn-club-options:hover {
  color: lightseagreen;
  border: 2px solid #121317;
}

.btn-club-options:focus {
  color: lightseagreen;
  border: 2px solid #121317;
  box-shadow: 0 0 0 #121317;
}


.markdownx-view {
  max-width: 90%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

.club-members-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 3px;
  position: relative;
  z-index: 2;
}

.club-members-panel {
  background-color: #f5f5f5;
  position: relative;
  z-index: 1;
}

.club-members-panel hr {
  max-width: 70%;
  color: #505050;
  background-color: #505050;
  margin-top: 5px;
  margin-bottom: 10px;
}

.club-message {
  margin-bottom: -10px;
}


/* Members detail
-------------------------------------------------- */
.member-detail hr {
  max-width: 350px;
  color: #bbbbbb;
  background-color: #bbbbbb;
}

.member-profile-image {
  width: 11rem;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.85);
}


/* Members image hover effect
-------------------------------------------------- */
.admin_member {
margin-top: -26px;
margin-bottom: 0px;
padding: 0px;
}

.hovereffect-member {
border-radius: 5px;
border: 3px solid black;
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:pointer;
}

.hovereffect-member:hover {
border: 3px solid LightSeaGreen;
border-radius: 5px;
}


/* Members image promote hover effect
-------------------------------------------------- */
.hovereffect-member-promote {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:pointer;
box-shadow: 0 0px 4px rgba(0, 0, 0, 0.85);
}

.hovereffect-member-promote .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,255,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect-member-promote:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}


/* Members image kick hover effect
-------------------------------------------------- */
.hovereffect-member-kick {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:pointer;
box-shadow: 0 0px 4px rgba(0, 0, 0, 0.85);
}

.hovereffect-member-kick .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(255,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect-member-kick:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}



/* New member invitation
-------------------------------------------------- */
.form-inputs {
  margin-top: -40px;
  margin-bottom: 30px;
}

.form-input-field {
  width: 100%;
  padding: 15px;
  margin-bottom: -20px;
}

.form-email {
  max-width: 400px;
  margin: auto;
}

.form-invitation-text {
  max-width: 600px;
  max-height: 150px;
  margin: auto;
}

.form-input-field .invalid-feedback{
  width: 100%;
  max-width: 430px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: -29px;
  margin-left: auto;
  margin-right: auto;
}

.form-input-field .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}


/* Club meeting style
-------------------------------------------------- */
.meeting-card {
  padding-bottom: -15px;
}

.meeting-header {
  margin-top: -10px;
  margin-bottom: -15px;
}

.btn-meeting-assistance {
  min-width: 155px;
  max-width: 250px;
  margin: auto;
}

.btn-meeting-edit {
  min-width: 70px;
  max-width: 250px;
  margin: auto;
}

.club-meetings-title-hr {
  max-width: 70%;
  color: #505050;
  background-color: #505050;
  margin-top: 5px;
  margin-bottom: 10px;
}