/* General page styles
-------------------------------------------------- */
body {
  background-color: #121317;
}

.container-base {
  background-color: #121317;
  box-shadow: none;
}

.club-banner {
  box-shadow: none;
}

.display-4 {
  color: darkgray;
}
