
/* New film form
-------------------------------------------------- */

.form-inputs {
  margin-top: -40px;
  margin-bottom: 30px;
}

.form-signin {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
  margin-bottom: -20px;
}

.form-signin .invalid-feedback{
  width: 100%;
  max-width: 600px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: -29px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.film-seen {
  width: 10rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.85);
}



/* Candidate films album
-------------------------------------------------- */
.album {
  background-color: #f5f5f5;
}


/* Candidate films image hover effect
-------------------------------------------------- */
.hovereffect-film {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.85);
}

.hovereffect-film .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

.hovereffect-film img {
  display:block;
  position:relative;
  -webkit-transition:all .2s linear;
  transition:all .2s linear;
}

.hovereffect-film h2 {
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out;
  padding:10px;
}

.hovereffect-film:hover img {
  -ms-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.hovereffect-film:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect-film:hover h2 {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}

.hovereffect-film h3 {
  color: #fff;
  text-align: center;
  position: relative;
  margin: -28px 0 0 0;
  font-size: 17px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.7);
}


/* Participants image hover effect
-------------------------------------------------- */
.hovereffect-participant {
  width:100%;
  height:100%;
  cursor:pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.hovereffect-participant:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
}


/* Film detail style
-------------------------------------------------- */
.container-film-banner {
  position: relative;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-top: -24px;
  margin-bottom: 0px;
}

.container-film-banner .film-title {
  padding-bottom: 20px;
  margin-top: -24px;
  margin-bottom: -26px;
}

hr {
  max-width: 95%;
  color: #505050;
  background-color: #505050;
  margin-bottom: 25px;
}

.container-film-data {
  max-width: 95%;
  font-size: 15px;
}

.container-film-data .film-poster {
  width: 100%;
  max-width: 200px;
  margin: auto;
  cursor:zoom-in;
  border: 2px solid black;
  box-shadow: 0 0px 25px #fff;
}

.container-film-data .table-details {
  margin-left: auto;
}

.vote-form {
  max-width: 400px;
  margin: auto;
}

.vote-btn {
  text-transform: initial;
  font-weight: normal;
  margin-top: 2px;
}

.btn-link:hover {
  text-decoration: none;
}

.registered-votes {
  width: 100%;
  max-width: 500px;
  padding: 2px;
  margin: auto;
}

.invisible {
  margin: -45px;
}

.black {
  color: black;
}

.club-poster-modal {
max-width: 100%;
}
