:root {
  --jumbotron-detail-padding-y: 1rem;
}

.jumbotron {
  position: relative;
  padding-top: var(--jumbotron-detail-padding-y);
  padding-bottom: var(--jumbotron-detail-padding-y);
  margin-top: -18px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
}

.container-title {
  margin-top: -21px;
  background-color: #212F3D;
}

.table-details {
  margin-left: -15px;
}

.vote {
  max-width: 400px;
}

.registered-votes {
  width: 100%;
  max-width: 450px;
  padding: 2px;
  margin: auto;
}

.img-fluid {
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.85);
}

.invisible {
  margin: -45px;
}

.black {
  color: black;
}
