
/* Form film seen
-------------------------------------------------- */
.film-poster {
  width: 10rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
}

.form-film-seen .form-inputs .form-input-field .date-field {
  padding-left: 60px;
}

.form-select-members .card label img:hover {
}

.form-select-members .card :checked + label img {
  background-color: lightseagreen !important;
  border: 5px solid lightseagreen !important;
}
