
/* Film detail style
-------------------------------------------------- */
.container-film-banner {
  position: relative;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-top: -24px;
  margin-bottom: 0px;
}

.container-film-banner .film-title {
  padding-bottom: 20px;
  margin-top: -24px;
  margin-bottom: -26px;
}

hr {
  max-width: 95%;
  color: #505050;
  background-color: #505050;
  margin-bottom: 25px;
}

.registered-votes hr {
  max-width: 300px;
  color: #bbbbbb;
  background-color: #bbbbbb;
}

.container-film-data {
  max-width: 95%;
  font-size: 15px;
}

.container-film-data .film-poster {
  width: 100%;
  max-width: 200px;
  margin: auto;
  cursor:zoom-in;
  border: 2px solid black;
  box-shadow: 0 0px 25px #fff;
}

.container-film-data .table-details {
  margin-left: auto;
}

.vote-btn {
  text-transform: initial;
  max-width: 350px;
  font-weight: normal;
  margin: auto;
  margin-top: 10px;
}

.success-bg {
  background-color: rgb(162, 250, 169)
}

.secondary-bg {
  background-color: lightgray
}

.danger-bg {
  background-color: #ffadbc
}

.btn-link:hover {
  text-decoration: none;
}

.registered-votes {
  width: 100%;
  max-width: 500px;
  padding: 2px;
  margin: auto;
}

.invisible {
  margin: -45px;
}

.black {
  color: black;
}

.club-poster-modal {
max-width: 100%;
}
