
/* General page structure
-------------------------------------------------- */
body {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 0rem;
  background-color: #bababc;
  }

.container-base {
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  min-height: 65rem;
  max-width: 908px;
  background-color: white;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.65);
  padding-right: 0;
  padding-left: 0;
}


/* Navbar top fixed styles
-------------------------------------------------- */
body {
  min-height: 45rem;
  padding-top: 3.5rem;
}

.navbar-color {
  background-color: #07080a;
}

.navbar-container {
  max-width: 908px;
}

.navbar-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
}

.navbar .nav-item .user-info img {
  border: 2px solid lightseagreen;
}

.btn-login {
  width: 140px;
  color: seagreen;
  background-color: transparent;
  border: 1px solid seagreen;
}

.btn-login:hover {
  color: #fff;
  text-decoration: none;
  background-color: lightseagreen;
}

.btn-logout {
  width: 140px;
  color: #6c737d;
  background-color: transparent;
  border: 1px solid #282828;
}

.btn-logout:hover {
  color: #fff;
  text-decoration: none;
  border: 1px solid #282828;
  background-color: #282828;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; /* Set the fixed height of the footer here */
  line-height: 25px; /* Vertically center the text there */
  background-color: #121317;
  border-top: 2px solid black;
  z-index: 3;
  padding: 10px;
}


/* Button styles
-------------------------------------------------- */

.btn {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.btn:active {
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-lg {
  font-size: 17px;
}

.btn-md {
  font-size: 15px;
}

.btn-sm {
  font-size: 13px;
}

.zoom-in-cursor {
  cursor: zoom-in;
}

.pointer-cursor {
  cursor: pointer;
}

.btn-cancel {
  text-align: center;
  margin-top: 50px;
}

.btn-cancel .btn {
  color: #6c737d;
  background-color: transparent;
  border: 1px solid #282828;
}

.btn-cancel .btn:hover {
  color: #fff;
  text-decoration: none;
  border: 1px solid #282828;
  background-color: #282828;
}


/* Button colors
-------------------------------------------------- */

.btn-gray-to-color {
  color: #6c737d;
  background-color: #282828;
  font-weight: bold;
  border: none;
}

.btn-gray-to-color:hover {
  color: #fff;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.btn-green-to-blue {
  color: #fff;
  background-color: seagreen;
  border: none;
}

.btn-green-to-blue:hover {
  color: #fff;
  background-color: lightseagreen;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.btn-outline-green {
  color: seagreen;
  background-color: transparent;
  border: 1px solid seagreen;
}

.btn-outline-green:hover {
  color: #fff;
  background-color: seagreen;
  text-decoration: none;
  border: 1px solid seagreen;
  box-shadow: none;
}

.btn-blue {
  color: #fff;
  background-color: lightseagreen;
  border: none;
}

.btn-blue:hover {
  color: #fff;
  background-color: #1a918b;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.btn-outline-blue {
  color: lightseagreen;
  background-color: transparent;
  border: 1px solid lightseagreen;
}

.btn-outline-blue:hover {
  color: #fff;
  background-color: lightseagreen;
  text-decoration: none;
  border: 1px solid lightseagreen;
  box-shadow: none;
}



/* Website colors
-------------------------------------------------- */
.dark1-bg {
  background-color: #bababc;
}

.dark1-style {
  color: #bababc;
}

.dark2-bg {
  background-color: #121317;
}

.dark2-style {
  color: #121317;
}

.light1-bg {
  background-color: #d1d1d1;
}

.light1-style {
  color: #d1d1d1;
}

.light2-bg {
  background-color: #A9A9A9;
}

.light2-style {
  color: #A9A9A9;
}

.light3-bg {
  background-color: lightgray;
}

.light3-style {
  color: lightgray;
}

.green-color {
  color: seagreen;
  text-decoration: none;
}

.green-color-hover:hover {
  color: seagreen;
  text-decoration: none;
}

.green-bg {
  background-color: seagreen;
}

.green-bg-hover:hover {
  background-color: seagreen;
}

.blue-color {
  color: lightseagreen;
  text-decoration: none;
}

.blue-color-hover:hover {
  color: lightseagreen;
  text-decoration: none;
}

.blue-bg {
  background-color: lightseagreen;
}

.blue-bg-hover:hover {
  background-color: lightseagreen;
}

.orange-color {
  color: #d7a03d;
  text-decoration: none;
}

.orange-color-hover:hover {
  color: #d7a03d;
  text-decoration: none;
}

.orange-bg {
  background-color: #d7a03d;
}

.orange-bg-hover:hover {
  background-color: #d7a03d;
}


/* General stuff
-------------------------------------------------- */
.modal img {
  max-width: 99%;
  max-height: 99%;
}