
/* General page structure
-------------------------------------------------- */
body {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 0rem;
  background-color: #bababc;
  }

.container-base {
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  min-height: 65rem;
  max-width: 908px;
  background-color: white;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.65);
  padding-right: 0;
  padding-left: 0;
}


/* Navbar top fixed styles
-------------------------------------------------- */
body {
  min-height: 45rem;
  padding-top: 3.5rem;
}

.navbar-color {
  background-color: #07080a;
}

.navbar-container {
  max-width: 908px;
}

.navbar-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
}

.btn-login {
  width: 140px;
}

.btn-logout {
  width: 140px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 3.5rem; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 95px; /* Set the fixed height of the footer here */
  line-height: 25px; /* Vertically center the text there */
  background-color: #121317;
  border-top: 2px solid black;
  z-index: 3;
  padding: 10px;
}


/* Button styles
-------------------------------------------------- */

.btn {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.btn-lg {
  font-size: 17px;
}

.btn-md {
  font-size: 15px;
}

.btn-sm {
  font-size: 13px;
}

.zoom-in-cursor {
  cursor: zoom-in;
}

.pointer-cursor {
  cursor: pointer;
}

.btn-sm-cancel {
  text-align: center;
  margin-top: 50px;
}


/* Website colors
-------------------------------------------------- */
.dark1-bg {
  background-color: #bababc;
}

.dark1-style {
  color: #bababc;
}

.dark2-bg {
  background-color: #121317;
}

.dark2-style {
  color: #121317;
}

.light1-bg {
  background-color: #d1d1d1;
}

.light1-style {
  color: #d1d1d1;
}

.light2-bg {
  background-color: #A9A9A9;
}

.light2-style {
  color: #A9A9A9;
}

.light3-bg {
  background-color: lightgray;
}

.light3-style {
  color: lightgray;
}

.success-light-style {
  color: #44cb5d;
}

.success-style {
  color: #00ba48
}

.success-dark-style {
  color: #2dc14d;
}

.seagreen-link {
  color: SeaGreen;
}

.seagreen-link:hover {
  color: LightSeaGreen;
  text-decoration: none;
}


/* General stuff
-------------------------------------------------- */
.modal img {
  max-width: 99%;
  max-height: 99%;
}