
/* Film banner
-------------------------------------------------- */
.container-film-banner {
  position: relative;
  padding-top: 35px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 40px;
  background-color: #121317;
  color: #A9A9A9;
}

.container-film-banner .film-title {
  padding-bottom: 20px;
  margin-top: -26px;
  margin-bottom: 0px;
  color: lightgray;
}

.container-film-banner .film-data {
  max-width: 95%;
  font-size: 15px;
}

.container-film-banner .film-data .proposed-by {
  color: #A9A9A9;
}

.container-film-banner .film-data img {
  width: 100%;
  max-width: 200px;
  margin: auto;
  cursor:zoom-in;
  border-radius: 3px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.container-film-banner .film-data table {
  color: #A9A9A9;
}

#summary {
  font-size: 14px;
  line-height: 1.5;
}

#summary p.collapse:not(.show) {
  height: 42px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#summary p.collapsing {
  min-height: 42px !important;
}

#summary a.collapsed:before  {
  content: '+ ';
}

#summary a:not(.collapsed):before {
  content: '- ';
}

.club-poster-modal {
  max-width: 100%;
}

.film-option {
  font-size: 11px;
  max-width: 250px;
  color: #6c737d;
  background-color: transparent;
  border: 1px solid #282828;
  margin: auto;
}

.film-option:hover {
  color: white;
  border: 1px solid #6c737d;
}


/* Nav style
-------------------------------------------------- */
.nav-film .nav-item {
  font-size: 18px !important;
  color: #282828 !important;
  background-color: white !important;
  border: 1px solid #282828 !important;
  padding: 4px;
  margin: auto;
}

.nav-film .nav-link:hover {
  color: #fff !important;
  text-decoration: none !important;
  background-color: #282828 !important;
}

.nav-film .nav-link:focus {
  color: #fff !important;
  text-decoration: none !important;
  background-color: #282828 !important;
}

.nav-film .nav-link:active {
  color: #fff !important;
  text-decoration: none !important;
  background-color: #282828 !important;
}


/* Vote buttons
-------------------------------------------------- */
.vote-btn {
  text-transform: initial;
  max-width: 350px;
  font-weight: normal;
  margin: auto;
  margin-top: 10px;
}

.success-bg {
  background-color: rgb(162, 250, 169)
}

.secondary-bg {
  background-color: lightgray
}

.danger-bg {
  background-color: #ffadbc
}

.btn-link:hover {
  text-decoration: none;
}

u {
  text-decoration: none;
  border-bottom: 1px solid gray;
}

.invisible {
  margin: -45px;
}

.black {
  color: black;
}


/* Seen by
-------------------------------------------------- */
.card {
  background-color: transparent;
  border-color: transparent;
  width: 8rem;
  margin-bottom: 1rem;
}

.participant img {
  background: rgba(0, 0, 0, 1);
}


/* Registered votes
-------------------------------------------------- */
.registered-vote {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -10px;
  margin-bottom: -10px;
}


/* Film comments
-------------------------------------------------- */
.container-comments {
  max-width: 90%;
  margin-bottom: 40px;
  padding: auto;
}

.form-post {
  margin-bottom: 20px;
}

.form-post form {
  width: 100%;
}

.form-post .user-image img {
 max-width: 45px;
 background: rgba(0, 0, 0, 1) !important;
}

.post .media-body {
  padding:0px;
}

.post .user-image img {
 max-width: 35px;
 background: rgba(0, 0, 0, 1) !important;
}

.post .user-image .hand-icon {
  position:absolute;
}

.post .post-text {
  background-color: white;
}

.post .post-footer {
  opacity: 0.7;
}

.post .post-footer label:hover {
  color: red;
}


/* Form add FilmAffinity
-------------------------------------------------- */
.h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: normal;
}

.form-add-faff {
  text-align: center;
}

.form-add-faff .btn-block {
  max-width: 225px;
  margin: auto;
  margin-top: 20px;
}

.form-add-faff .form-inputs {
  margin-bottom: 10px;
}

.form-add-faff .form-inputs .form-input-field {
  width: 100%;
  max-width: 650px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.form-add-faff .form-inputs .form-input-field .label {
}

.form-add-faff .form-inputs .form-input-field .invalid-feedback{
  width: 100%;
  padding: 5px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: -29px;
}

.form-add-faff .form-inputs .form-input-field .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-add-faff .form-inputs .form-input-field .form-control:focus {
  z-index: 2;
}
