/* General page style
-------------------------------------------------- */
body {
  background-color: #121317;
  }

.container-base {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.65);
}

.container-base {
  background-color: #121317;
}


/* Webpage text style
-------------------------------------------------- */
.webpage-logo {
max-width: 15rem;
}

.webpage-title {
max-width: 80%
}

.webpage-subtitle {
font-size: 25px;
}

.misc-text {
  font-size: 17px;
}

hr {
  max-width: 80%;
  color: #505050;
  background-color: #505050;
}

.yourclubs-title {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: -13px;
}

.btn-block {
  max-width: 180px;
  margin: auto;
}


/* Club image
-------------------------------------------------- */
.hovereffect-logo-club {
border: 5px solid black;
width: 250px;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
box-shadow: 0 2px 25px rgba(0, 0, 0, 0.85);
}

.hovereffect-logo-club:hover {
box-shadow: 0 0px 25px #fff;
}

.hovereffect-logo-club img {
width: 100%;
display:block;
position:relative;
-webkit-transition:all .2s linear;
transition:all .2s linear;
}

.hovereffect-logo-club:hover img {
-ms-transform:scale(1.1);
-webkit-transform:scale(1.05);
transform:scale(1.05);
}

/*
.hovereffect-logo-club .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.85);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}


.hovereffect-logo-club:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}
*/