
/* Webpage text style
-------------------------------------------------- */
.webpage-logo {
  max-width: 15rem;
}

.webpage-title {
  max-width: 65%
}

.webpage-subtitle {
  font-size: 22px;
}

.misc-text {
  font-size: 17px;
}

hr {
  max-width: 450px;
  color: gray;
  background-color: gray;
  margin-bottom: 20px;
}

.home-section-title {
  text-align: center;
  color: darkgray;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: -13px;
  margin-top: 45px;
}

.btn-block {
  max-width: 180px;
  margin: auto;
}


/* Club image
-------------------------------------------------- */
.club-logo {
  position: relative;
  max-width: 250px;
  max-height: 250px;
  float:left;
  overflow: hidden;
  cursor: default;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.85);
  -webkit-transition:all .15s linear;
  transition:all .15s linear;
}

.club-logo:hover {
  box-shadow: 0 0px 10px #fff;
}

.club-logo img {
  width: 100%;
  height: auto;
  display:block;
  opacity:0.8;
  -webkit-transition:all .15s linear;
  transition:all .15s linear;
}

.club-logo:hover img {
  opacity:1;
}

.club-logo .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 2px solid black;
  border-radius: 6px;
  background-color:rgba(0,0,0,0.85);
  opacity:0;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out
}

.club-logo:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.club-logo .overlay h5 {
  color: darkgray;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* New club image
-------------------------------------------------- */
.new-club-logo {
  max-width: 250px;
  max-height: 250px;
  float:left;
  overflow: hidden;
  cursor: default;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.85);
}

.new-club-logo img {
  width: 100%;
  height: 100%;
  display:block;
  position:relative;
  opacity:0.2;
  -webkit-transition:all .2s linear;
  transition:all .2s linear;
}

.new-club-logo:hover img {
  opacity:1;
}


/* Log
-------------------------------------------------- */
.home-log {
  max-width: 600px;
  padding: 20px;
  margin: auto;
  color: darkgray;
  }

