
/* General page styles
-------------------------------------------------- */
body {
}

.container-base {
  background-color: #fafafa;
}

.h3 {
  padding-top: 100px;
  padding-bottom: 40px;
}

.btn-block {
  min-width: 180px;
  max-width: 250px;
  margin: auto;
}


/* Form styles
-------------------------------------------------- */
.form-inputs {
  margin-top: -40px;
  margin-bottom: 30px;
}

.form-input-field {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-bottom: -20px;
}

.form-input-field .invalid-feedback{
  width: 100%;
  max-width: 330px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: -29px;
}

.form-input-field .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-input-field .form-control:focus {
  z-index: 2;
}
