
/* Form invitation styles
-------------------------------------------------- */
.form-invitation .form-inputs .form-invitation-text {
  width: 95% !important;
  max-width: 500px !important;
}

.form-invitation .form-inputs .form-invitation-text .invitation-text {
  text-align: left !important;
  max-height: 150px;
}
