
/* Club meeting style
-------------------------------------------------- */
.meeting-card {
}

.meeting-card .meeting-header {
  margin-top: -10px;
  margin-bottom: -15px;
}

.meeting-card .btn-assistance {
  min-width: 155px;
  margin: auto;
  color: #282828;
  background-color: transparent;
  border: 1px solid rgba(40, 40, 40, 0.5);
}

.meeting-card .btn-assistance:hover {
  color: #fff;
  background-color: #282828;
}

.meeting-card .btn-assistance-active {
  min-width: 155px;
  margin: auto;
  color: #fff;
  background-color: #282828;
  border: 1px solid #282828;
}

.meeting-card .btn-assistance-active:hover {
  color: #282828;
  background-color: transparent;
}

.meeting-card .btn-meeting-edit {
  min-width: 70px;
  margin: auto;
}

.meeting-card hr {
}

.club-meetings-title-hr {
  max-width: 70%;
  color: #505050;
  background-color: #505050;
  margin-top: 5px;
  margin-bottom: 10px;
}
