
/* Participants card
-------------------------------------------------- */
.form-select-members .card input[type="checkbox"][id^="member"] {
  display: none;
}

.form-select-members .card {
  background-color: transparent;
  border-color: transparent;
  width: 8rem;
  max-width: 100%;
  margin-bottom: 1rem;
}

.form-select-members .card label {
  display: block;
  position: relative;
  cursor: pointer;
}

.form-select-members .card label:before {
  display: none;
}

.form-select-members .card label img {
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  transform-origin: 50% 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form-select-members .card label img:hover {
}

.form-select-members .card :checked + label img {
  background-color: black;
  border: 5px solid black;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.8);
  transform: scale(0.85);
}

.form-select-members .card span {
  margin-top: -5px;
  font-size: 13px;
}