
/* General page styles
-------------------------------------------------- */

body {
  height: 100%;
}

.container-base {
  min-height: 0;
}

.btn-cancel {
  text-align: center;
  margin-top: 0px;
}

.container-base {
  background-color: #fafafa;
}

.display-4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-shoutbox {
  max-width: 50rem;
  min-height: 27.5rem;
  max-height: 27.5rem;
  background-color: #fff;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* Posts
-------------------------------------------------- */
.post {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post:hover {
 background-color: #fafafa;
}

.post img {
 opacity: 0;
}

.post:hover img {
 opacity: 1;
}

.post .username {
  font-size: 14px;
}

.post .date {
  opacity: 0.5;
}

.form-post {
  max-width: 50rem;
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin: auto;
}
