{% load i18n %}

<p>{{ organizer.username }} {% trans 'has proposed a new meeting for club' %} {{ club.name }}</p>

<p><strong>{{ name }}</strong></p>
<p><em>{% if description %}{{ description }}{% endif %}</em></p>

<p><strong>{% trans 'Where:' %}</strong> {{ place }}<br>
<strong>{% trans 'When:' %}</strong> {{ date }}</p>
<p>{% if time_start %}{% trans 'Starting at: '%}{{ time_start }}{% endif %}</p>
<p>{% if time_end %}{% trans 'Finishing at: '%}{{ time_end }}{% endif %}</p>

<p>{% trans "Follow this link to go to the club and confirm assistance or say you're interested:" %}
   <a style="text-decoration: none" href="{{ protocol}}://{{ domain }}{% url 'democracy:club_detail' club.id %}" target="_blank"><strong>go to club</strong></a></p>
