{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Account information' %}{% endblock %}

{% block pagecontent %}


<!--START: NO IMAGE MESSAGE-->
{% if not user.profile_image %}
<div class="alert alert-warning text-center alert-dismissible fade show" role="alert">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <strong>{% trans "You don't have a profile picture yet!" %}</strong>
    </div>
    <div class="col-md-auto">
      <a href="{% url 'registration:account_info_edit' %}">{% trans 'Complete your profile' %}</a>
    </div>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{% endif %}
<!--END: NO IMAGE MESSAGE-->


<!--START: ACCOUNT INFO-->
<div>
  <h3 class="h3 text-center font-weight-normal">{% trans 'Account information' %}</h3>

  <!--PICTURE-->
  <div class="text-center mb-4">
    {% if user.profile_image %}
    <img class="user-profile-image zoom-in-cursor" style="width: 10rem;"
         src="{{ user.profile_image.url }}"
         alt="user.profile_image not found"
         data-toggle="modal" data-target="#UserImageModalCenter">
    {% else %}
    <img class="user-profile-image" style="width: 10rem;"
         src="{% static 'registration/user_no_profile_image.png' %}"
         alt="user.profile_image not found">
    {% endif %}
  </div>

  <!--USERNAME-->
  <div class="row justify-content-center mt-2">
    <div class="col-6 text-right"><strong>{% trans 'Username' %}</strong></div>
    <div class="col-6">{{ user.username }}</div>
  </div>

  <!--EMAIL-->
  <div class="row justify-content-center mt-2">
    <div class="col-6 text-right"><strong>{% trans 'Email' %}</strong></div>
    <div class="col-6">{{ user.email }}</div>
  </div>

</div>
<!--END: ACCOUNT INFO-->


<!--START: ACCOUNT OPTIONS-->
<div class="row justify-content-center mt-5">
  <div class="col-sm-auto text-center my-2">
    <form action="{% url 'registration:account_info_edit' %}">
      <button type="submit" class="btn btn-sm btn-block btn-profile btn-success">
        {% trans 'Edit info' %}
      </button>
    </form>
  </div>
  <div class="col-sm-auto text-center my-2">
    <form action="{% url 'registration:password_change' %}">
      <button type="submit" class="btn btn-sm btn-block btn-profile btn-primary">
        {% trans 'Change password' %}
      </button>
    </form>
  </div>
  <div class="col-sm-auto text-center my-2">
    <button type="button" class="btn btn-sm btn-block btn-profile btn-outline-danger" data-toggle="modal"
            data-target="#DeleteModalCenter">
      {% trans 'Delete account' %}
    </button>
  </div>
</div>
<!--START: ACCOUNT OPTIONS-->


<!-- START MODAL IMAGE -->
{% if user.profile_image %}
<div class="modal fade" id="UserImageModalCenter" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5 pt-2 text-center mx-0 bg-dark">
        <div class="text-right mb-3">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <br>
        </div>
        <div>
          <img src="{{ user.profile_image.url }}" alt="user.profile_image not found">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- END MODAL IMAGE -->


<!--START: MODAL DELETE -->
<div class="modal fade" id="DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="DeleteModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalCenterTitle">{% trans 'Delete account' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans 'Are you sure about this?' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">
          {% trans 'Cancel' %}
        </button>
        <form action="{% url 'registration:account_delete' %}" class="text-center">
          {% csrf_token %}
          <button method="post" type="submit" class="btn btn-outline-danger mr-3">
            {% trans 'Confirm' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END: MODAL DELETE -->

{% endblock %}