{% extends "core/base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
<link rel="stylesheet" href="{% static 'core/css/cropper.min.css' %}">
{% endblock %}

{% block title %}{% trans 'Edit account information' %}{% endblock %}

{% block pagecontent %}


<!--START: NO PROFILE IMAGE MESSAGE-->
{% if not user.profile_image %}
<div class="alert alert-warning text-center m-4" role="alert">
  <strong>{% trans "You don't have a profile picture yet!" %}</strong>
</div>
{% endif %}
<!--END: NO PROFILE IMAGE MESSAGE-->


<h3 class="h3">{% trans 'Account information' %}</h3>


<!--START: ACCOUNT INFO FORM-->
<form class="form-standard form-account-info text-center" enctype="multipart/form-data" method="POST" id="formSubmit1" novalidate>
  {% csrf_token %}

  <input type="hidden" name="updateImage" id="updateImage">
  <input type="hidden" name="x" id="id_x">
  <input type="hidden" name="y" id="id_y">
  <input type="hidden" name="width" id="id_width">
  <input type="hidden" name="height" id="id_height">

  <div class="form-inputs">

    <!--PICTURE-->
    <div class="profile-picture">

      {% if user.profile_image %}
      <img class="rounded-circle zoom-in-cursor" src="{{ user.profile_image.url }}"
           alt="user.profile_image not found" data-toggle="modal" data-target="#UserImageModalCenter">
      {% else %}
      <img class="rounded-circle" src="{% static 'registration/svg/user_no_profile_image.svg' %}"
           alt="user.profile_image not found">
      {% endif %}

      <div class="change-picture-icon pointer-cursor mx-auto"
           onclick="document.getElementById('id_profile_image').click();">
        <img class="rounded-circle align-self-center" src="{% static 'registration/svg/camera_white.svg'%}">
      </div>

    </div>


    <input id="id_profile_image" type="file" name='profile_image' style="display: none;">

    <!--USERNAME-->
    <div class="form-input-field">

      <div class="row mx-auto align-items-center">
        <div class="col col-5 col-sm-6 p-1 text-right">
          <strong>{% trans 'Username:' %}</strong>
        </div>
        <div class="col col-7 col-sm-6 p-1 text-left">
          {{ user.username }}
        </div>
      </div>

    </div>

    <!--EMAIL-->
    <div class="form-input-field">

      <div class="row mx-auto align-items-center">
        <div class="col col-5 col-sm-6 p-1 text-right">
            <strong>{% trans 'Email:' %}</strong>
        </div>
        <div class="col col-7 col-sm-6 p-1 text-left">
          <div class="form-email">
            {% if form.is_bound %}
            {% if form.email.errors %}
            {% render_field form.email class="form-control text-left is-invalid" %}
            {% for error in form.email.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% else %}
            {% render_field form.email class="form-control text-left is-valid" %}
            {% endif %}
            {% else %}
            {% render_field form.email class="form-control text-left" %}
            {% endif %}
          </div>
        </div>
      </div>

    </div>

    <!--PUBLIC EMAIL-->
    <div class="form-input-field">

      <div class="row mx-auto align-items-center">
        <div class="col col-5 col-sm-6 p-1 text-right">
            <strong>{% trans 'Public email:' %}</strong>
        </div>
        <div class="col col-7 col-sm-6 p-1 text-left">
          <div class="custom-control custom-switch">
            {% if user.public_email %}
            <input type="checkbox" class="custom-control-input" name="public_email" id="public_email" value="public_email" checked>
            {% elif not user.public_email %}
            <input type="checkbox" class="custom-control-input" name="public_email" id="public_email" value="public_email">
            {% endif %}
            <label class="custom-control-label" for="public_email"></label>
          </div>
        </div>
      </div>

    </div>

    <!--FIRST NAME-->
    <!--<div class="form-input-field">-->

    <!--<div class="row align-items-center">-->
    <!--<div class="col-6 text-right"><strong>{% trans 'First name' %}</strong></div>-->
    <!--<div class="col-6">-->
    <!--<div class="form-first-name">-->
    <!--{% if form.is_bound %}-->
    <!--{% if form.first_name.errors %}-->
    <!--{% render_field form.first_name class="form-control is-invalid" %}-->
    <!--{% for error in form.first_name.errors %}-->
    <!--<div class="invalid-feedback">-->
    <!--{{ error }}-->
    <!--</div>-->
    <!--{% endfor %}-->
    <!--{% else %}-->
    <!--{% render_field form.first_name class="form-control is-valid" %}-->
    <!--{% endif %}-->
    <!--{% else %}-->
    <!--{% render_field form.first_name class="form-control" %}-->
    <!--{% endif %}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--LAST NAME-->
    <!--<div class="form-input-field">-->

    <!--<div class="row align-items-center">-->
    <!--<div class="col-6 text-right"><strong>{% trans 'Last name' %}</strong></div>-->
    <!--<div class="col-6">-->
    <!--<div class="form-last-name">-->
    <!--{% if form.is_bound %}-->
    <!--{% if form.last_name.errors %}-->
    <!--{% render_field form.last_name class="form-control is-invalid" %}-->
    <!--{% for error in form.last_name.errors %}-->
    <!--<div class="invalid-feedback">-->
    <!--{{ error }}-->
    <!--</div>-->
    <!--{% endfor %}-->
    <!--{% else %}-->
    <!--{% render_field form.last_name class="form-control is-valid" %}-->
    <!--{% endif %}-->
    <!--{% else %}-->
    <!--{% render_field form.last_name class="form-control" %}-->
    <!--{% endif %}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

  </div>


  <!-- START: CROPPER MODAL -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{% trans 'Format profile picture' %}</h4>
          <button type="button" class="close js-destroy" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%; min-height: 250px; max-height: 350px;">
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-modal-util mr-2 js-zoom-out">
            <img class="rounded-circle" src="{% static 'registration/svg/zoom_out.svg' %}">
          </button>

          <button type="button" class="btn btn-modal-util mx-2 js-zoom-in">
            <img class="rounded-circle" src="{% static 'registration/svg/zoom_in.svg' %}">
          </button>

          <button type="button" class="btn btn-modal-util mx-2 js-expand">
            <img class="rounded-circle" src="{% static 'registration/svg/expand.svg' %}">
          </button>

          <button type="button" class="btn btn-modal-util mx-2 js-reset">
            <img class="rounded-circle" src="{% static 'registration/svg/reset.svg' %}">
          </button>

          <button type="button" class="btn btn-modal btn-green-to-blue ml-auto js-crop-and-upload">
            {% trans 'Upload' %}
          </button>

        </div>
      </div>
    </div>
  </div>
  <!-- END: CROPPER MODAL -->


  <button type="submit" id="btnSpinner1" class="btn btn-standard btn-green-to-blue">{% trans 'Save changes' %}</button>

</form>
<!--END: ACCOUNT INFO FORM-->


<!--START: ACCOUNT OPTIONS-->
<form class="form-standard text-center" method="POST" action="{% url 'registration:user_logout' %}">
  {% csrf_token %}

  <button type="submit" class="btn btn-standard btn-white-to-gray">{% trans 'Log out' %}</button>
</form>


<div class="text-center strong-link my-5">
  <a href="{% url 'registration:password_change' %}">{% trans 'Change password' %}</a>
</div>


<div class="text-center my-5">
  <a class="text-danger text-decoration-none danger-link" href="{% url 'registration:delete_account' %}">
    {% trans 'Delete account' %}
  </a>
</div>
<!--START: ACCOUNT OPTIONS-->


<!-- START MODAL IMAGE -->
{% if user.profile_image %}
<div class="modal fade" id="UserImageModalCenter" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <img class='rounded zoom-img' src="{{ user.profile_image.url }}" alt="user.profile_image not found">
  </div>
</div>
{% endif %}
<!-- END MODAL IMAGE -->


<!--START: MODAL DELETE -->
<!--<div class="modal fade" id="DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="DeleteModalCenterTitle"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="DeleteModalCenterTitle">{% trans 'Delete account' %}</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        {% trans 'Are you sure about this? All your data will be deleted permanently...' %}-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <form method="POST" action="{% url 'registration:delete_account' %}" class="text-center">-->
<!--          {% csrf_token %}-->
<!--          <button type="submit" class="btn btn-outline-danger mx-3">-->
<!--            {% trans 'Confirm' %}-->
<!--          </button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--END: MODAL DELETE -->


{% block javascript %}
<!--START: CROPPER SCRIPT-->
<!--https://github.com/fengyuanchen/cropperjs-->
<script src="{% static 'core/js/cropper.min.js' %}" crossorigin="anonymous"></script>
<script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_profile_image").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 2,
          dragMode: 'move',
          aspectRatio: 1/1,
          minCropBoxWidth: 100,
          minCropBoxHeight: 100,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
            $image.cropper("reset");
          }
        });
      }).on("hidden.bs.modal", function () {
        $image.cropper("destroy");
        $('input[type="file"]').val('')
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
        $image.cropper("clear");
        $image.cropper("crop");
      });

      $(".js-expand").click(function () {
        const expandedData = $image.cropper("getCanvasData");
        $image.cropper("setCropBoxData", expandedData);
      });

      $(".js-reset").click(function () {
        $image.cropper("reset");
      });

      $(".js-destroy").click(function () {
        $image.cropper("destroy");
        $image.cropper("clear");
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        $(this).prop("disabled", true);
        $(this).html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
        var cropData = $image.cropper("getData");
        $("#updateImage").val(true);
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formSubmit1").submit();
      });

    });

</script>
<!--END: CROPPER SCRIPT-->
{% endblock %}


{% endblock %}