{% extends "global/base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Account information' %}{% endblock %}

{% block pagecontent %}


<!--START: NO PROFILE IMAGE MESSAGE-->
{% if not user.profile_image %}
<div class="alert alert-warning text-center mx-4 alert-dismissible fade show" role="alert">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <strong>{% trans "You don't have a profile picture yet!" %}</strong>
    </div>
    <div class="col-md-auto">
      <a href="{% url 'registration:account_info_edit' %}">{% trans 'Complete your profile' %}</a>
    </div>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{% endif %}
<!--END: NO PROFILE IMAGE MESSAGE-->


<h3 class="h3">{% trans 'Account information' %}</h3>


<!--PICTURE-->
<div class="profile-picture">
  {% if user.profile_image %}
  <img class="zoom-in-cursor rounded-circle " src="{{ user.profile_image.url }}" alt="user.profile_image not found"
       data-toggle="modal" data-target="#UserImageModalCenter">
  {% else %}
  <img class="rounded-circle " src="{% static 'registration/svg/user_no_profile_image.svg' %}"
       alt="user.profile_image not found">
  {% endif %}
</div>


<!--START: ACCOUNT INFO-->
<div class="text-center">

  <!--USERNAME-->
  <div class="row align-items-center mt-3 mx-1">
    <div class="col-md-6">
      <div class="float-md-right">
        <strong>{% trans 'Username:' %}</strong>
      </div>
    </div>
    <div class="col-md-auto">{{ user.username }}</div>
  </div>

  <!--EMAIL-->
  <div class="row align-items-center mt-3 mx-1">
    <div class="col-md-6">
      <div class="float-md-right">
        <strong>{% trans 'Email:' %}</strong>
      </div>
    </div>
    <div class="col-md-auto">{{ user.email }}</div>
  </div>

  <!--PUBLIC EMAIL-->
  <div class="row align-items-center mt-3 mx-1">
    <div class="col-md-6">
      <div class="float-md-right">
        <strong>{% trans 'Public email in clubs:' %}</strong>
      </div>
    </div>
    <div class="col-md-auto">
      {% if user.public_email %}
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" disabled checked id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1"></label>
      </div>
      {% elif not user.public_email %}
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
        <label class="custom-control-label" for="customSwitch2"></label>
      </div>
      {% endif %}
    </div>
  </div>

  <!--FIRST NAME-->
  <!--<div class="row justify-content-center mt-2">-->
  <!--<div class="col-6 text-right"><strong>{% trans 'First name' %}</strong></div>-->
  <!--<div class="col-6">{% if user.first_name %}{{ user.first_name }}{% else %}-{% endif %}</div>-->
  <!--</div>-->

  <!--LAST NAME-->
  <!--<div class="row justify-content-center mt-2">-->
  <!--<div class="col-6 text-right"><strong>{% trans 'Last name' %}</strong></div>-->
  <!--<div class="col-6">{% if user.last_name %}}{{ user.last_name }}{% else %}-{% endif %}</div>-->
  <!--</div>-->


  <!--START: ACCOUNT OPTIONS-->
  <div class="row justify-content-center mt-5 mx-1">

    <div class="col-sm-auto text-center my-2">
      <form action="{% url 'registration:account_info_edit' %}">
        <button type="submit" class="btn btn-sm btn-block btn-green-to-blue btn-profile">
          {% trans 'Edit profile' %}
        </button>
      </form>
    </div>

    <div class="col-sm-auto text-center my-2">
      <form action="{% url 'registration:password_change' %}">
        <button type="submit" class="btn btn-sm btn-block btn-green-to-blue btn-profile">
          {% trans 'Change password' %}
        </button>
      </form>
    </div>

    <div class="col-sm-auto text-center my-2">
      <form action="{% url 'registration:user_logout' %}">
        <button type="submit" class="btn btn-sm btn-block btn-white-to-gray btn-profile">
          {% trans 'Log out' %}
        </button>
      </form>
    </div>

  </div>

  <div class="text-center my-4">
    <a class="text-danger text-decoration-none pointer-cursor mb-4" style="font-size: 13px;" data-toggle="modal" data-target="#DeleteModalCenter">
      {% trans 'Delete account' %}
    </a>
  </div>
  <!--START: ACCOUNT OPTIONS-->

</div>
<!--END: ACCOUNT INFO-->


<!-- START MODAL IMAGE -->
{% if user.profile_image %}
<div class="modal fade" id="UserImageModalCenter" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5 pt-2 text-center mx-0 bg-dark">
        <div class="text-right mb-3">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <br>
        </div>
        <div>
          <img src="{{ user.profile_image.url }}" alt="user.profile_image not found">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- END MODAL IMAGE -->


<!--START: MODAL DELETE -->
<div class="modal fade" id="DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="DeleteModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalCenterTitle">{% trans 'Delete account' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans 'Are you sure about this?' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm" data-dismiss="modal">
          {% trans 'Cancel' %}
        </button>
        <form method="POST" action="{% url 'registration:account_delete' %}" class="text-center">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm btn-outline-danger mx-3">
            {% trans 'Confirm' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END: MODAL DELETE -->

{% endblock %}