{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Edit account information' %}{% endblock %}

{% block pagecontent %}


<!--START ERRORS-->
{% for hidden_field in form.hidden_fields %}
{% if hidden_field.errors %}
<ul>
  {% for error in hidden_field.errors %}
  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{{ hidden_field }}
{% endfor %}

{% if form.errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger text-center">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<!--END ERRORS-->


<h3 class="h3">{% trans 'Account information' %}</h3>


<!--START: ACCOUNT INFO FORM-->
<form class="form-registration form-profile" enctype="multipart/form-data" method="POST" novalidate>
  {% csrf_token %}

  <div class="form-inputs">

    <!--PICTURE-->
    <div class="form-input-field">

      <div class="profile-picture">
        {% if user.profile_image %}
        <img class="zoom-in-cursor" src="{{ user.profile_image.url }}" alt="user.profile_image not found"
             data-toggle="modal" data-target="#UserImageModalCenter">
        {% else %}
        <img src="{% static 'registration/user_no_profile_image.png' %}"
             alt="user.profile_image not found">
        {% endif %}
      </div>

      <div class="form-picture">
        <div class="custom-file">
          <input id="inputGroupFile" type="file" name='profile_image' class="custom-file-input">
          <label class="custom-file-label" for="inputGroupFile">Choose file</label>
        </div>
      </div>

    </div>

    <!--USERNAME-->
    <div class="form-input-field">

      <div class="row">
        <div class="col-6 text-right"><strong>{% trans 'Username' %}</strong></div>
        <div class="col-6">{{ user.username }}</div>
      </div>

    </div>

    <!--EMAIL-->
    <div class="form-input-field">

      <div class="row align-items-center">
        <div class="col-6 text-right"><strong>{% trans 'Email' %}</strong></div>
        <div class="col-6">
          <div class="form-email">
            {% if form.is_bound %}
            {% if form.email.errors %}
            {% render_field form.email class="form-control is-invalid" %}
            {% for error in form.email.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field form.email class="form-control is-valid" %}
            {% endif %}
            {% else %}
            {% render_field form.email class="form-control" %}
            {% endif %}
          </div>
        </div>
      </div>

    </div>

    <!--PUBLIC EMAIL-->
    <div class="form-input-field">

      <div class="row align-items-center">
        <div class="col-6 text-right">
          <strong>{% trans 'Public email in clubs' %}</strong>
        </div>
        <div class="col-6">
          <div class="custom-control custom-switch">
            {% if user.public_email %}
            <input type="checkbox" class="custom-control-input" name="public_email" id="public_email"
                   value="public_email" checked>
            {% elif not user.public_email %}
            <input type="checkbox" class="custom-control-input" name="public_email" id="public_email"
                   value="public_email">
            {% endif %}
            <label class="custom-control-label" for="public_email"></label>
          </div>
        </div>
      </div>

    </div>

    <!--FIRST NAME-->
    <!--<div class="form-input-field">-->

    <!--<div class="row align-items-center">-->
    <!--<div class="col-6 text-right"><strong>{% trans 'First name' %}</strong></div>-->
    <!--<div class="col-6">-->
    <!--<div class="form-first-name">-->
    <!--{% if form.is_bound %}-->
    <!--{% if form.first_name.errors %}-->
    <!--{% render_field form.first_name class="form-control is-invalid" %}-->
    <!--{% for error in form.first_name.errors %}-->
    <!--<div class="invalid-feedback">-->
    <!--{{ error }}-->
    <!--</div>-->
    <!--{% endfor %}-->
    <!--{% else %}-->
    <!--{% render_field form.first_name class="form-control is-valid" %}-->
    <!--{% endif %}-->
    <!--{% else %}-->
    <!--{% render_field form.first_name class="form-control" %}-->
    <!--{% endif %}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--LAST NAME-->
    <!--<div class="form-input-field">-->

    <!--<div class="row align-items-center">-->
    <!--<div class="col-6 text-right"><strong>{% trans 'Last name' %}</strong></div>-->
    <!--<div class="col-6">-->
    <!--<div class="form-last-name">-->
    <!--{% if form.is_bound %}-->
    <!--{% if form.last_name.errors %}-->
    <!--{% render_field form.last_name class="form-control is-invalid" %}-->
    <!--{% for error in form.last_name.errors %}-->
    <!--<div class="invalid-feedback">-->
    <!--{{ error }}-->
    <!--</div>-->
    <!--{% endfor %}-->
    <!--{% else %}-->
    <!--{% render_field form.last_name class="form-control is-valid" %}-->
    <!--{% endif %}-->
    <!--{% else %}-->
    <!--{% render_field form.last_name class="form-control" %}-->
    <!--{% endif %}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

  </div>

  <input class="btn btn-block btn-success" type="submit" value="{% trans 'Save changes' %}">

</form>
<!--END: ACCOUNT INFO FORM-->


<form action="{% url 'registration:account_info' %}" class="text-center mt-5">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>


<!-- START MODAL IMAGE -->
{% if user.profile_image %}
<div class="modal fade" id="UserImageModalCenter" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5 pt-2 text-center mx-0 bg-dark">
        <div class="text-right mb-3">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <br>
        </div>
        <div>
          <img src="{{ user.profile_image.url }}" alt="user.profile_image not found">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- END MODAL IMAGE -->


<!--START: FILE FORM SCRIPT-->
<!--https://github.com/Johann-S/bs-custom-file-input-->
<script src="{% static 'democracy/js/bs-custom-file-input.min.js' %}" crossorigin="anonymous"></script>
<script>
      document.addEventListener('DOMContentLoaded', function() {
        bsCustomFileInput.init()

        var btn = document.getElementById('btnResetForm')
        var form = document.querySelector('form')
        btn.addEventListener('click', function() {
          form.reset()
        })
      });




</script>
<!--END: FILE FORM SCRIPT-->


{% endblock %}