{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration_base.css' %}">
{% endblock %}

{% block title %}{% trans 'Create new club' %}{% endblock %}

{% block pagecontent %}

<h3 class="text-center h3 mt-5 mb-3 font-weight-normal">{% trans 'Create new club' %}</h3>

<form class="text-center" method="POST" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="form-group-name mt-5 mb-3">
    {{ form.name.label_tag }}
    {% if form.is_bound %}
    {% if form.name.errors %}
    {% render_field form.name class="form-control is-invalid" %}
    {% for error in form.name.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
    {% endfor %}
    {% else %}
    {% render_field form.name class="form-control is-valid" %}
    {% endif %}
    {% else %}
    {% render_field form.name class="form-control" %}
    {% endif %}
  </div>

  <div class="form-group-description mb-5">
    {{ form.description.label_tag }}
    {% if form.is_bound %}
    {% if form.description.errors %}
    {% render_field form.description class="form-control form-group-description is-invalid" %}
    {% for error in form.description.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
    {% endfor %}
    {% else %}
    {% render_field form.description class="form-control form-group-description is-valid" %}
    {% endif %}
    {% else %}
    {% render_field form.description class="form-control form-group-description" %}
    {% endif %}
    <small id="group_imageHelpBlock" class="form-text text-muted">
      Maximum of 200 characters.
    </small>
  </div>

  <div class="mt-5">
    <div class="form-group-image-file">
      {% trans 'Club logo:' %}<br>

      <img class="mt-2" style="width: 10rem;"
           src="{% static 'registration/group_no_image.png' %}"
           alt="groupofusers.image not found">

      <input type="file" class="form-control-file text-center mt-3" name='image'
             id="image" aria-describedby="imageHelpBlock">

      <small id="imageHelpBlock" class="form-text text-muted">
        Please use an image that is 200 x 200 pixels or smaller.
      </small>
    </div>
  </div>

  <input class="btn btn-lg btn-primary" type="submit" value="{% trans 'Create club' %}">
  <input type="hidden" name="next" value="{{ next }}">

</form>

<form action="{% url 'home' %}" class="text-center mt-3">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>

{% endblock %}
