{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration_base.css' %}">
{% endblock %}

{% block title %}{% trans 'Email sent' %}{% endblock %}

{% block pagecontent %}

<h1 class="h3 font-weight-normal text-center">{% trans 'Forgotten password' %}</h1>

<div class="alert alert-success text-center px-5 mb-5" role="alert">
  <strong>
    {% blocktrans %}
    We sent you an email with the instructions to change your password.
    You should receive it shortly.
    {% endblocktrans %}
  </strong>
</div>

<form action="{% url 'home' %}" class="text-center mt-3">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Home' %}</button>
</form>

{% endblock %}
