{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration_base.css' %}">
{% endblock %}

{% block title %}{% trans 'Change password' %}{% endblock %}

{% block pagecontent %}

<h3 class="h3 mb-3 mt-5 text-center font-weight-normal">{% trans 'Change password' %}</h3>


<form class="form-signin text-center" method="POST" action="{% url 'registration:password_change' %}" novalidate>
  {% csrf_token %}



  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="form-signin">
    {% for field in form %}
    {{ field.label_tag }}<br>

    {% if form.is_bound %}
    {% if field.errors %}
    {% render_field field class="form-control is-invalid" %}

    {% for error in field.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
    {% endfor %}
    {% else %}
    {% render_field field class="form-control is-valid" %}
    {% endif %}
    {% else %}
    {% render_field field class="form-control" %}
    {% endif %}

    {% endfor %}

  </div>

  <input class="btn btn btn-primary" type="submit" value="{% trans 'Change' %}">
  <input type="hidden" name="next" value="{{ next }}">

</form>


<form action="{% url 'registration:account_info' %}" class="text-center">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>


{% endblock %}