{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Password changed' %}{% endblock %}

{% block pagecontent %}


<div class="text-center">
  <h3 class="h3 font-weight-normal">{% trans 'Change password' %}</h3>

  <div class="alert alert-success" role="alert">
    <strong>{% trans 'Password changed successfully.' %}</strong>
  </div>
</div>

<div class="text-center mt-3">
  <a href="{% url 'registration:account_info' %}">{% trans 'Go back to my account' %}</a>
</div>


{% endblock %}
