{% extends "core/base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Change password' %}{% endblock %}

{% block pagecontent %}

<!--START ERRORS-->
{% for hidden_field in form.hidden_fields %}
{% if hidden_field.errors %}
<ul>
  {% for error in hidden_field.errors %}
  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{{ hidden_field }}
{% endfor %}

{% if form.errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger text-center mx-4">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<!--END ERRORS-->


<!--START: PASSWORD CHANGE FORM-->
<h3 class="h3">{% trans 'Change password' %}</h3>

<form class="form-registration" method="POST" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="form-inputs">

    {% for field in form %}
    <div class="form-input-field">
      {{ field.label_tag }}
      {% if form.is_bound %}
      {% if field.errors %}
      {% render_field field class="form-control is-invalid" %}
      {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% else %}
      {% render_field field class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field field class="form-control" %}
      {% endif %}
    </div>
    {% endfor %}

  </div>

  <input class="btn btn-standard btn-green-to-blue" type="submit" value="{% trans 'Change' %}">

</form>

<!--END: PASSWORD CHANGE FORM-->


<div class="text-center strong-link my-5">
  <a href="{% url 'registration:account_info' %}">{% trans 'Go back to account' %}</a>
</div>


{% endblock %}