{% extends "filmdemocracy_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Email sent' %}{% endblock %}

{% block pagecontent %}


<div class="text-center">
  <h3 class="h3 font-weight-normal">{% trans 'Forgotten password' %}</h3>

  <div class="alert alert-success px-5 mb-5" role="alert">
    <strong>
      {% blocktrans %}
      We sent you an email with the instructions to change your password.
      You should receive it shortly.
      {% endblocktrans %}
    </strong>
  </div>

</div>

<form action="{% url 'home' %}" class="text-center mt-3">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Home' %}</button>
</form>

{% endblock %}
