{% extends "global/base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Password changed' %}{% endblock %}

{% block pagecontent %}


<h3 class="h3">{% trans 'Change password' %}</h3>

<div class="alert alert-success px-5 my-5 text-center mx-4" role="alert">
  <strong>{% trans 'Password changed successfully.' %}</strong>
</div>


<form class="btn-cancel" action="{% url 'registration:account_info' %}">
  <button type="submit" class="btn btn-sm">{% trans 'Go back to account' %}</button>
</form>


{% endblock %}
