{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Password reset completed' %}{% endblock %}

{% block pagecontent %}


<h3 class="h3">{% trans 'Password reset completed' %}</h3>

<div class="alert alert-success px-5 my-5 text-center" role="alert">
  <strong>
    {% trans 'Your new password has been established.' %}
  </strong>
</div>


<form class="btn-sm-cancel" action="{% url 'registration:user_login' %}">
  <button type="submit" class="btn btn btn-success">{% trans 'Log in' %}</button>
</form>


{% endblock %}
