{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration_base.css' %}">
{% endblock %}

{% block title %}{% trans 'Password reset completed' %}{% endblock %}

{% block pagecontent %}
<h2>{% trans 'Password reset completed' %}</h2>

<p>{% trans 'Your new password has been established.' %}</p>

<div class="form-signin">
  <form action="{% url 'registration:login' %}" class="text-center">
    <button type="submit" class="btn btn btn-success">{% trans 'Log in' %}</button>
  </form>
</div>

{% endblock %}
