{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Forgotten password' %}{% endblock %}

{% block pagecontent %}


<!--START: RESET PASSWORD FORM-->
<h3 class="h3">{% trans 'Forgotten password' %}</h3>

<div class="text-center px-5 my-5">
  {% blocktrans %}
  If you forgot your password, introduce your email address below
  and we will send you instructions to establish a new one.
  {% endblocktrans %}
</div>

<form class="form-registration" method="POST" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="form-inputs">

    {% for field in form %}
    <div class="form-input-field">
      {{ field.label_tag }}
      {% if form.is_bound %}
      {% if field.errors %}
      {% render_field field class="form-control is-invalid" %}
      {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% else %}
      {% render_field field class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field field class="form-control" %}
      {% endif %}
    </div>
    {% endfor %}

  </div>

  <input class="btn btn-block btn-green-to-blue" type="submit" value="{% trans 'Request new password' %}">

</form>
<!--END: RESET PASSWORD FORM-->


<form class="btn-cancel" action="{% url 'home' %}">
  <button type="submit" class="btn btn-sm">{% trans 'Cancel' %}</button>
</form>


{% endblock %}