{% extends "core/base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Email sent' %}{% endblock %}

{% block pagecontent %}


<h3 class="h3">{% trans 'Forgotten password' %}</h3>

<div class="alert alert-success px-3 my-5 mx-4 text-center" role="alert">
  <strong>
    {% blocktrans %}
    We sent you an email with the instructions to change your password.
    You should receive it shortly.
    {% endblocktrans %}
  </strong>
</div>


<div class="text-center my-5">
  <a href="{% url 'core:home' %}">{% trans 'Go to home' %}</a>
</div>


{% endblock %}
