{% extends "core/base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{% endblock %}

{% block title %}{% trans 'Forgotten password' %}{% endblock %}

{% block pagecontent %}


<!--START: RESET PASSWORD FORM-->
<h3 class="h3">{% trans 'Forgotten password' %}</h3>

<div class="alert alert-success form-message">
  {% trans 'If you forgot your password, introduce your email address and we will send you instructions to establish a new one.' %}
</div>

<form id="formSubmit1" class="form-standard" method="POST" novalidate>
  {% csrf_token %}

  <div class="form-inputs">

    {% for field in form %}
    <div class="form-input-field">
      <div class="label">
        {{ field.label }}
      </div>
      {% if form.is_bound %}
      {% if field.errors %}
      {% render_field field class="form-control is-invalid" %}
      {% for error in field.errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
      {% else %}
      {% render_field field class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field field class="form-control" %}
      {% endif %}
    </div>
    {% endfor %}

  </div>

  <button type="submit" id="btnSpinner1" class="btn btn-standard btn-green-to-blue">{% trans 'Request new password' %}</button>

</form>
<!--END: RESET PASSWORD FORM-->


<div class="text-center strong-link my-5">
  <a href="{% url 'core:home' %}">{% trans 'Go to home' %}</a>
</div>


{% endblock %}