{% extends 'base.html' %}

{% block title %}Cambiar password{% endblock %}

{% block pagecontent %}
<h2>Cambiar password</h2>

<form method="POST" action="{% url 'registration:password_change' %}">
{% csrf_token %}
{% for field in form %}
    <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
{% endfor %}

<input type="submit" value="Cambiar">
<input type="hidden" name="next" value="{{ next }}">

</form>

<p>
<form>
    <button formaction="{% url 'registration:account_info' %}">Cancelar</button>
</form>
</p>

{% endblock %}