{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/css/registration_base.css' %}">
{% endblock %}

{% block title %}{% trans 'Password changed' %}{% endblock %}

{% block pagecontent %}

<h3 class="h3 mb-5 mt-5 font-weight-normal text-center">{% trans 'Change password' %}</h3>


<p class="text-center">{% trans 'Password changed.' %}</p>

<p class="text-center"><a href="{% url 'registration:account_info' %}">{% trans 'Go back to my account' %}</a></p>

{% endblock %}
