{% extends "base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block pagecontent %}


{% if user.is_authenticated %}


<div class="alert alert-success text-center my-5" role="alert">
  <strong>{% trans 'Your are already logged in as:' %} {{ user.username }}</strong>
</div>


{% else %}


<!--START: USER DOES NOT HAVE ACCESS-->
{% if next %}
<div class="alert alert-danger text-center" role="alert">
  {% if user.is_authenticated %}
  <strong>
    {% trans 'Your account does not have access to this page. To continue, log in to an account with access.' %}
  </strong>
  {% else %}
  <strong>
    {% trans 'Sorry, you need to log in to see this page.' %}
  </strong>
  {% endif %}
</div>
{% endif %}
<!--END: USER DOES NOT HAVE ACCESS-->


<!--START ERRORS-->
{% for hidden_field in form.hidden_fields %}
{% if hidden_field.errors %}
<ul>
  {% for error in hidden_field.errors %}
  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{{ hidden_field }}
{% endfor %}

{% if form.errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger text-center">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<!--END ERRORS-->


<!--START: LOG IN FORM-->
<div class="text-center">
  <h3 class="h3 font-weight-normal">{% trans 'Log in' %}</h3>

  <form method="POST" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    <div class="form-inputs ">

      <div class="form-inputfield mt-3">
        <p class="mb-1">
          {% trans 'Email:' %}
        </p>
        {% if form.is_bound %}
        {% if form.username.errors %}
        {% render_field form.username class="form-control is-invalid" %}
        {% for error in form.username.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
        {% else %}
        {% render_field form.username class="form-control is-valid" %}
        {% endif %}
        {% else %}
        {% render_field form.username class="form-control" %}
        {% endif %}
      </div>

      <div class="form-inputfield mt-3">
        <p class="mb-1">
          {% trans 'Password' %}
          (<a href="{% url 'registration:password_reset' %}">{% trans 'Forgotten password?' %}</a>):
        </p>
        {% if form.is_bound %}
        {% if field.errors %}
        {% render_field form.password class="form-control is-invalid" %}
        {% for error in form.password.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
        {% else %}
        {% render_field form.password class="form-control is-valid" %}
        {% endif %}
        {% else %}
        {% render_field form.password class="form-control" %}
        {% endif %}
      </div>

    </div>

    <!--TODO: This button doesn't do anything yet...-->
    <div class="custom-control custom-checkbox mt-3">
      <input type="checkbox" class="custom-control-input" name="remember_me" id="remember_me" checked
             value="remember_user">
      <label class="custom-control-label" for="remember_me">{% trans 'Remember me' %}</label>
    </div>

    <input class="btn btn-lg btn-success mt-3" type="submit" value="{% trans 'Log in' %}">
    <input type="hidden" name="next" value="{{ next }}">

    <div class="my-3">
      <a href="{% url 'registration:user_signup' %}">{% trans 'Create account' %}</a>
    </div>

  </form>

</div>
<!--END: LOG IN FORM-->


{% endif %}


<form action="{% url 'home' %}" class="text-center mt-5">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Home' %}</button>
</form>


{% endblock %}