{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration_base.css' %}">
{% endblock %}

{% block title %}{% trans 'Create new account' %}{% endblock %}

{% block pagecontent %}

<h3 class="text-center h3 mt-5 mb-3 font-weight-normal">{% trans 'Create new account' %}</h3>

<form class="text-center" method="POST" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="form-signin">
    {% for field in form %}

    <div class="mt-3">
      {{ field.label_tag }}
      {% if form.is_bound %}
      {% if field.errors %}
      {% render_field field class="form-control is-invalid" %}
      {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% else %}
      {% render_field field class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field field class="form-control" %}
      {% endif %}
    </div>
    {% endfor %}

    <!--<div class="form-check">-->
      <!--<input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>-->
      <!--<label class="form-check-label" for="invalidCheck2">-->
        <!--Agree to terms and conditions-->
      <!--</label>-->
    <!--</div>-->

  </div>

  <input class="btn btn-lg btn-primary" type="submit" value="{% trans 'Create account' %}">
  <input type="hidden" name="next" value="{{ next }}">

</form>

<form action="{% url 'home' %}" class="text-center mt-3">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>

{% endblock %}
