{% extends "filmdemocracy_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Create new account' %}{% endblock %}

{% block pagecontent %}


<!--START ERRORS-->
{% for hidden_field in form.hidden_fields %}
{% if hidden_field.errors %}
<ul>
  {% for error in hidden_field.errors %}
  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{{ hidden_field }}
{% endfor %}

{% if form.errors %}
{% for field in form %}
{% if field.label == 'agree_terms' %}
{% for error in field.errors %}
<div class="alert alert-danger text-center">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger text-center">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<!--END ERRORS-->


<!--START: SIGN UP FORM-->
<div class="text-center">
  <h3 class="h3 font-weight-normal">{% trans 'Create new account' %}</h3>

  <form method="POST" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    <div class="form-inputs">
      {% for field in form %}
      {% if field.label != 'agree_terms' %}
      <div class="form-signin">
        <div class="mt-3">
          {{ field.label_tag }}
          {% if form.is_bound %}
          {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
          {% else %}
          {% render_field field class="form-control is-valid" %}
          {% endif %}
          {% else %}
          {% render_field field class="form-control" %}
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="custom-control custom-checkbox mt-3">
      <input type="checkbox" class="custom-control-input" name="agree_terms" id="agree_terms" value="agree_terms">
      <label class="custom-control-label" for="agree_terms">
        {% trans 'Agree to' %}
        <a href="{% url 'terms_and_conditions' %}" target="blank">{% trans 'terms and conditions' %}</a>
      </label>
    </div>

    <input class="btn btn-lg btn-primary mt-3" type="submit" value="{% trans 'Create account' %}">
    <input type="hidden" name="next" value="{{ next }}">

  </form>

</div>
<!--END: SIGN UP IN FORM-->


<form action="{% url 'home' %}" class="text-center mt-5">
  <button type="submit" class="btn btn-sm btn-outline-secondary">{% trans 'Cancel' %}</button>
</form>


{% endblock %}
