{% extends "core/base_filmdemocracy.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{% endblock %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block pagecontent %}


{% if user.is_authenticated %}


<div class="alert alert-success form-message" role="alert">
  {% trans 'Your are already logged in as:' %} {{ user.username }}
</div>


{% else %}


<!--START: USER DOES NOT HAVE ACCESS-->
{% if next %}
<div class="alert alert-danger form-message-error" role="alert">
  {% if user.is_authenticated %}
    {% trans 'Your account does not have access to this page. To continue, log in to an account with access.' %}
  {% else %}
    {% trans 'You need to log in to see this page.' %}
  {% endif %}
</div>
{% endif %}
<!--END: USER DOES NOT HAVE ACCESS-->


<!--START: LOG IN FORM-->
<h3 class="h3">{% trans 'Log in' %}</h3>


<form id="formSubmit1" class="form-standard" method="POST" novalidate>
  {% csrf_token %}

  <div class="form-inputs">

    <div class="form-input-field">
      <div class="label">
        {% trans 'Email' %}
      </div>
      {% if form.is_bound %}
      {% if form.username.errors %}
      {% render_field form.username class="form-control is-invalid" %}
      {% for error in form.username.errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
      {% else %}
      {% render_field form.username class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.username class="form-control" %}
      {% endif %}
    </div>

    <div class="form-input-field">
      <div class="label">
        {% trans 'Password' %}
        (<a href="{% url 'registration:password_reset' %}">{% trans 'Forgotten password?' %}</a>)
      </div>
      {% if form.is_bound %}
      {% if form.password.errors %}
      {% render_field form.password class="form-control is-invalid" %}
      {% for error in form.password.errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
      {% else %}
      {% render_field form.password class="form-control is-valid" %}
      {% endif %}
      {% else %}
      {% render_field form.password class="form-control" %}
      {% endif %}
    </div>

    <!--TODO: This button doesn't do anything yet...-->
    <div class="form-input-field">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="remember_me" id="remember_me" checked
               value="remember_user">
        <label class="custom-control-label" for="remember_me">{% trans 'Remember me' %}</label>
      </div>
    </div>

  </div>

  <input type="hidden" name="next" value="{{ next }}">
  <button type="submit" id="btnSpinner1" class="btn btn-standard btn-green-to-blue">{% trans 'Log in' %}</button>

</form>
<!--END: LOG IN FORM-->


<div class="text-center my-5">
  <a href="{% url 'registration:user_signup' %}">{% trans 'Create account' %}</a>
</div>


{% endif %}


<div class="text-center strong-link my-5">
  <a href="{% url 'core:home' %}">{% trans 'Go to home' %}</a>
</div>



{% endblock %}