/* General page styles
-------------------------------------------------- */
.container-base {
  background-color: #fafafa;
}

.h3 {
  padding-top: 100px;
  padding-bottom: 40px;
}


/* Members detail image
-------------------------------------------------- */
.user-profile-image {
  width: 11rem;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.85);
}


/* Form styles
-------------------------------------------------- */
.form-inputs {
  margin-top: -40px;
  margin-bottom: 30px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-bottom: -20px;
}

.form-signin .invalid-feedback{
  width: 100%;
  max-width: 330px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: -29px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.edit-profile-email {
  max-width: 330px;
}

.edit-profile-image {
  max-width: 330px;
}


/* Messages styles
-------------------------------------------------- */
.alert-danger {
  margin-top: -25px;
  margin-bottom: -33px;
  padding-top: 20px;
}

.warning-profile {
  margin-top: -25px;
  margin-bottom: -33px;
  padding-top: 20px;
}

